<!-- Start Newsletter -->
<div class="newsletter">
    <div class="newsletter__container">
        <h2 class="newsletter__heading">Sign up to our emails</h2>
        <p class="newsletter__subheading">Promotions, sales, and new products directly to your inbox.</p>
        <div class="newsletter__form">
            <div class="newsletter__field text-field">
                <input type="email" name="newsletter" id="newsletter-input" class="text-field__input"
                    placeholder="" />
                <label for="newsletter-input" class="text-field__label">Your email</label>
            </div>

            <a href="#" class="newsletter__submit-btn newsletter__submit-btn--opacity-decrease">
                <i class="fas fa-chevron-left"></i>
                <span>Subscribe</span>
                <i class="fas fa-chevron-right"></i>
            </a>
        </div>
    </div>
</div>
<!-- End Newsletter -->