<!-- Start Image With Text -->
<div class="image-with-text" style="background-color: var(--color-off-white);">
    <div class="image-with-text__container container">
        <div class="image-with-text__row row">
            <div class="col-md-6">
                <div class="image-with-text__img-container">
                    <img src="/assets/man-black-and-white-hoodie.jpeg" class="image-with-text__img"
                        loading="lazy" />
                </div>
            </div>

            <div class="col-md-6">
                <div class="image-with-text__text-container">
                    <h2 class="image-with-text__heading subheading">Find Your Style</h2>

                    <p class="image-with-text__text">With this classic look and outstanding quality, you'll be sure to turn heads.</p>

                    <a href="/pages/shop/product.html" class="btn btn--primary btn--grow">
                        <i class="fas fa-chevron-left"></i>
                        <span>Shop Now</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Image With Text -->