<!-- Start Image Banner -->
<div class="image-banner image-banner--50 image-banner--align-horizontal-center image-banner--align-vertical-center">
    <img src="/demo-electronics/assets/singing-6.png" alt="girl singing" loading="lazy" class="image-banner__bg" />

    <div class="image-banner__content-container">
        <div class="image-banner__info">
            <h1 class="image-banner__heading xl-heading">Make Your Mark</h1>

            <a href="#" class="btn btn--primary btn--grow">
                <i class="fas fa-chevron-left"></i>
                <span>Elevate your voice</span>
                <i class="fas fa-chevron-right"></i>
            </a>
        </div>
    </div>
</div>
<!-- End Image Banner -->