<!-- Start Reset Password -->
<div class="reset-password">
    <div class="reset-password__container">
        <h2 class="reset-password__heading">Reset your password</h2>
        <p class="reset-password__subheading">We will send you an email to reset your password</p>
        <div class="reset-password__form">
            <div class="reset-password__field text-field">
                <input type="email" id="reset-password-email" class="text-field__input" placeholder="" />
                <label for="reset-password-email" class="text-field__label">Email</label>
            </div>

            <a href="/pages/login.html"
                class="reset-password__submit-btn reset-password__submit-btn--opacity-decrease">Send</a>
        </div>
        <a href="/pages/login.html" class="reset-password__opposite">Cancel</a>
    </div>
</div>
<!-- End Reset Password -->