<!-- Start Comments -->
<div class="comments">
    <h2 class="comments__count subheading">4 comments</h2>

    <div class="comment-container">
        <div class="comment__date-and-author">
            <p class="comment__author">John Doe</p>

            <p class="comment__date placeholder-date small">Dec 1, 2021</p>
        </div>

        <p class="comment">
            Cloud bread kinfolk vinyl taxidermy deep v. Af affogato
        </p>
    </div>

    <div class="comment-container">
        <div class="comment__date-and-author">
            <p class="comment__author">John Doe</p>

            <p class="comment__date placeholder-date small">Dec 1, 2021</p>
        </div>

        <p class="comment">
            Cloud bread kinfolk vinyl taxidermy deep v. Af affogato
        </p>
    </div>

    <div class="comment-container">
        <div class="comment__date-and-author">
            <p class="comment__author">John Doe</p>

            <p class="comment__date placeholder-date small">Dec 1, 2021</p>
        </div>

        <p class="comment">
            Cloud bread kinfolk vinyl taxidermy deep v. Af affogato
        </p>
    </div>

    <div class="comment-container">
        <div class="comment__date-and-author">
            <p class="comment__author">John Doe</p>

            <p class="comment__date placeholder-date small">Dec 1, 2021</p>
        </div>

        <p class="comment">
            Cloud bread kinfolk vinyl taxidermy deep v. Af affogato
        </p>
    </div>

    <div class="comment-form">
        <div class="text-field">
            <input type="text" name="comment-form" id="comment-form-name" class="text-field__input" placeholder="" />
            <label for="comment-form-name" class="text-field__label">Name*</label>
        </div>

        <div class="text-field">
            <input type="email" name="comment-form" id="comment-form-email" class="text-field__input" placeholder="" />
            <label for="comment-form-email" class="text-field__label">Email*</label>
        </div>

        <div class="text-field">
            <textarea name="comment-form" id="comment-form-comment" class="text-field__input"></textarea>
            <label for="comment-form-comment" class="text-field__label">Comment*</label>
        </div>

        <a href="#" class="comment-form__submit btn btn--primary btn--opacity-decrease">
            <i class="fas fa-chevron-left"></i>
            <span>Post comment</span>
            <i class="fas fa-chevron-right"></i>
        </a>
    </div>
</div>
<!-- End Comments -->