<!-- Start Register -->
<div class="register">
    <div class="register__container container">
        <h2 class="register__heading heading">Create Account</h2>
        <div class="register__form">
            <div class="text-field">
                <input type="text" id="register-first-name" class="text-field__input" placeholder="" />
                <label for="register-first-name" class="text-field__label">First Name</label>
            </div>

            <div class="text-field">
                <input type="text" id="register-last-name" class="text-field__input" placeholder="" />
                <label for="register-last-name" class="text-field__label">Last Name</label>
            </div>

            <div class="text-field">
                <input type="email" id="register-email" class="text-field__input" placeholder="" />
                <label for="register-email" class="text-field__label">Email</label>
            </div>

            <div class="text-field">
                <input type="password" id="register-password" class="text-field__input" placeholder="" />
                <label for="register-password" class="text-field__label">Password</label>
            </div>

            <div class="register__buttons">
                <a href="/demo-electronics/pages/customer/account.html" class="btn btn--primary btn--opacity-decrease register__submit">
                    <i class="fas fa-chevron-left"></i>
                    <span>Create account</span>
                    <i class="fas fa-chevron-right"></i>
                </a>

                <a href="/demo-electronics/pages/customer/login.html" class="btn btn--primary btn--underline">
                    <i class="fas fa-chevron-left"></i>
                    <span>Already have an account?</span>
                    <i class="fas fa-chevron-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- End Register -->