<!-- Start Modal -->
<div class="modal">
    <div class="modal__container">
        <div class="modal__left">
            <div class="modal__left-img-container">
                <img src="/demo-electronics/assets/singing-1.png" alt="girl singing" class="modal__left-img" loading="lazy" />
            </div>
        </div>

        <div class="modal__right">
            <div class="modal__right-img-container">
                <img src="/demo-electronics/assets/logo-white.png" alt="white logo" class="modal__right-img" />
            </div>
            <div class="modal__content">
                <h3 class="modal__heading subheading">30% Off This Week Only!</h3>

                <p class="modal__text">Don't miss out on these exclusive deals</p>
            </div>

            <a href="/demo-electronics/pages/shop/collection.html" class="btn btn--primary btn--color-swap">
                <i class="fas fa-chevron-left"></i>
                <span>Shop Now</span>
                <i class="fas fa-chevron-right"></i>
            </a>
        </div>
        <i class="fas fa-times modal__close-btn" tabIndex="0"></i>
    </div>

    <div class="modal__overlay"></div>
</div>
<!-- End Modal -->