<!-- Start Cart -->
<div class="cart">
    <div class="cart__top">
        <h2 class="cart__title">Your cart</h2>
        <a href="#" class="cart__return-btn cart__return-btn--underline cart__return-btn--left-arrow">
            <i class="fas fa-chevron-left"></i>
            <span>Continue shopping</span>
            <i class="fas fa-chevron-right"></i>
        </a>
    </div>

    <table>
        <thead class="cart__headings">
            <tr>
                <th class="cart__product-heading" colSpan="2">Product</th>
                <th class="cart__price-heading">Price</th>
                <th class="cart__quantity-heading">Quantity</th>
                <th class="cart__total-heading">Total</th>
            </tr>
        </thead>
        <tbody class="cart__products">
            <tr class="cart__product">
                <td class="cart__product-img-container"><img
                        src="/assets/mic-7-b.png"
                        alt="" class="cart__product-img" /></td>
                <td class="cart__product-details">
                    <p class="cart__product-name">&quot;Voice of God&quot; Microphone</p>
                    <p class="cart__product-variant">Size: XL</p>
                </td>
                <td class="cart__product-price"><span>$</span><span
                        class="cart__product-price-number">50.10</span></td>
                <td class="cart__product-quantity-container">
                    <label for="product-quantity">Quantity</label>
                    <div class="cart__product-quantity">
                        <button class="cart__product-quantity-minus"><i class="fas fa-minus"></i></button>
                        <input type="text" name="product-quantity" class="cart__product-quantity-picker"
                            value="1" />
                        <button class="cart__product-quantity-plus"><i class="fas fa-plus"></i></button>
                    </div>
                </td>
                <td class="cart__product-totals">
                    <p class="cart__product-price-total"><span>$</span><span
                            class="cart__product-total-number">50.10</span></p>
                    <a href="#" class="cart__product-remove-btn"><i class="fas fa-trash"></i></a>
                </td>
            </tr>

            <tr class="cart__product">
                <td class="cart__product-img-container"><img
                        src="/assets/mic-9-c.png"
                        alt="" class="cart__product-img" /></td>
                <td class="cart__product-details">
                    <p class="cart__product-name">Gold Microphone</p>
                    <p class="cart__product-variant">Size: M</p>
                </td>
                <td class="cart__product-price"><span>$</span><span
                        class="cart__product-price-number">120.00</span></td>
                <td class="cart__product-quantity-container">
                    <label for="product-quantity">Quantity</label>
                    <div class="cart__product-quantity">
                        <button class="cart__product-quantity-minus"><i class="fas fa-minus"></i></button>
                        <input type="text" name="product-quantity" class="cart__product-quantity-picker"
                            value="1" />
                        <button class="cart__product-quantity-plus"><i class="fas fa-plus"></i></button>
                    </div>
                </td>
                <td class="cart__product-totals">
                    <p class="cart__product-price-total"><span>$</span><span
                            class="cart__product-total-number">120.00</span></p>
                    <a href="#" class="cart__product-remove-btn"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
        </tbody>
    </table>


    <div class="cart__subtotal">
        <div class="cart__totals">
            <h3 class="cart__subtotal-heading">Subtotal</h3>
            <span class="cart__subtotal-amount"><span>$</span><span
                    class="cart__subtotal-number">170.10</span><span>USD</span></span>
        </div>
        <p class="cart__subtotal-disclaimer">Taxes and shipping calculated at checkout</p>
        <a href="/pages/shop/checkout.html" class="cart__checkout-btn cart__checkout-btn--opacity-decrease">
            <i class="fas fa-chevron-left"></i>
            <span>Check out</span>
            <i class="fas fa-chevron-right"></i>
        </a>
    </div>
</div>
<!-- End Cart -->