<!-- Start Product -->
<div class="product">
    <div class="product__container container">
        <div class="row">
            <div class="product__product-container col-md-6">
                <div class="product__slideshow">
                    <div class="product__slideshow-container">

                        <div class="product__slide product__slide--active">
                            <img class="product__img" src="/assets/flower-jeans-1.png" />
                        </div>

                        <div class="product__slide">
                            <img class="product__img" src="/assets/flower-jeans-2.png"  loading="lazy" />
                        </div>

                        <div class="product__slide">
                            <img class="product__img" src="/assets/flower-jeans-3.png"  loading="lazy" />
                        </div>

                        <div class="product__slide">
                            <img class="product__img" src="/assets/flower-jeans-4.png"  loading="lazy" />
                        </div>

                        <div class="product__slide">
                            <img class="product__img" src="/assets/flower-jeans-5.png"  loading="lazy" />
                        </div>
                    </div>

                    <div class="product__slideshow-indicators">
                        <div tabIndex="0" aria-label="product image 1"
                            class="product__slideshow-indicator product__slideshow-indicator--active">
                        </div>

                        <div tabIndex="0" aria-label="product image 2" class="product__slideshow-indicator">
                        </div>

                        <div tabIndex="0" aria-label="product image 3" class="product__slideshow-indicator">
                        </div>

                        <div tabIndex="0" aria-label="product image 4" class="product__slideshow-indicator">
                        </div>

                        <div tabIndex="0" aria-label="product image 5" class="product__slideshow-indicator">
                        </div>
                    </div>

                    <div class="product__img-alternates">
                        <img tabIndex="0" aria-label="product image 1"
                            class="product__img-alternate product__img-alternate--active" src="/assets/flower-jeans-1.png"
                             loading="lazy" />

                        <img tabIndex="0" aria-label="product image 2" class="product__img-alternate"
                            src="/assets/flower-jeans-2.png"  loading="lazy" />

                        <img tabIndex="0" aria-label="product image 3" class="product__img-alternate"
                            src="/assets/flower-jeans-3.png"  loading="lazy" />

                        <img tabIndex="0" aria-label="product image 4" class="product__img-alternate"
                            src="/assets/flower-jeans-4.png"  loading="lazy" />

                        <img tabIndex="0" aria-label="product image 5" class="product__img-alternate"
                            src="/assets/flower-jeans-5.png"  loading="lazy" />
                    </div>
                </div>
            </div>

            <div class="product__info-container col-md-6">
                <p class="product__vendor">Dirty Forces</p>

                <h1 class="product__title heading">Flower Jeans</h1>

                <div class="product__prices">
                    <p class="product__price">$53.00</p>
                </div>

                <div class="product__options">
                    <div class="product__option">
                        <h3 class="product__option-name body">Size</h3>

                        <div class="product__variants">
                            <div class="product__variant">
                                <input type="radio" name="Size" id="Size-Small" class="product__variant-input"
                                    checked />

                                <label for="Size-Small" tabIndex="0" class="product__variant-label">
                                    Small
                                </label>
                            </div>

                            <div class="product__variant">
                                <input type="radio" name="Size" id="Size-Medium" class="product__variant-input" />

                                <label for="Size-Medium" tabIndex="0" class="product__variant-label">
                                    Medium
                                </label>
                            </div>

                            <div class="product__variant">
                                <input type="radio" name="Size" id="Size-Large" class="product__variant-input" />

                                <label for="Size-Large" tabIndex="0" class="product__variant-label">
                                    Large
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="product__quantity-container">
                    <label for="quantity-product" class="product__quantity-label body">Quantity</label>
                    <div class="product__quantity">
                        <button type="button" name="minus" class="product__quantity-minus">
                            <i class="fas fa-minus"></i>
                        </button>
                        <input type="number" tabindex="-1" name="quantity" id="quantity-product" value="1"
                            class="product__quantity-input body" />
                        <button type="button" name="plus" class="product__quantity-plus">
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>
                </div>

                <div class="product__buttons">
                    <a href="/pages/shop/cart.html" class="btn btn--primary btn--color-swap">
                        <i class="fas fa-chevron-left"></i>
                        <span>Add to cart</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>

                    <a href="/pages/shop/checkout.html" class="btn btn--secondary btn--opacity-decrease">
                        <i class="fas fa-chevron-left"></i>
                        <span>Buy it now</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="product__overview row">
            <h2 class="product__overview-heading subheading">Product Overview</h2>
            <!-- Start Accordion -->
            <accordion-component data-multiple="true" class="product__overview-accordion">
                <div class="accordion__item" data-open-by-default="true">
                    <h3 class="accordion__heading">Description</h3>
                    <div class="accordion__content">
                        Twee air plant forage lumbersexual chillwave hammock. Edison bulb tumeric subway tile
                        portland. Literally distillery intelligentsia, migas mlkshk 8-bit chicharrones
                    </div>
                </div>

                <div class="accordion__item">
                    <h3 class="accordion__heading">Details</h3>
                    <div class="accordion__content">
                        <ul>
                            <li>Floral Pattern</li>
                            <li>Durable Denim</li>
                            <li>Best Quality</li>
                            <li>Water Resistant</li>
                        </ul>
                    </div>
                </div>

                <div class="accordion__item">
                    <h3 class="accordion__heading">Shipping</h3>
                    <div class="accordion__content">
                        Usually ships in 3-5 days
                    </div>
                </div>
            </accordion-component>
            <!-- End Accordion -->
        </div>
    </div>
</div>
<!-- End Product -->