<!-- Start Slideshow Announcement -->
<div class=" slideshow-announcement">
    <div class="slideshow-announcement__slide slideshow-announcement__slide--active">
        <p>50% Off &amp; Free Shipping</p>
        <a href="#">Details</a>
    </div>
    <div class="slideshow-announcement__slide">
        <p>Latest Arrivals</p>
        <a href="#">Details</a>
    </div>
    <div class="slideshow-announcement__slide">
        <p>Season Sale</p>
        <a href="#">Details</a>
    </div>
    <div class="slideshow-announcement__indicators">
        <div class="slideshow-announcement__indicator slideshow-announcement__indicator--active"></div>
        <div class="slideshow-announcement__indicator"></div>
        <div class="slideshow-announcement__indicator"></div>
    </div>
    <i class="fas fa-times slideshow-announcement__close-btn"></i>
</div>
<!-- End Slideshow Announcement -->