<!-- Start Collection List -->
<div class="collection-list">
    <div class="container">
        <div class="row">
            <h2 class="collection-list__title">4 Columns Maximum</h2>
        </div>
        <div class="collection-list__collections row">
            <a href="#" class="collection-list__collection-container col-sm-6 col-md-4 col-lg-3">
                <div class="collection-list__collection">
                    <div class="collection-list__collection-img-container">
                        <img src="/assets/mic-2-b.png"
                            alt="" class="collection-list__collection-img" />
                        <div class="collection-list__collection-img-overlay"></div>
                    </div>
                    <h3 class="collection-list__collection-name">Dynamic Microphones</h3>
                </div>
            </a>

            <a href="#" class="collection-list__collection-container col-sm-6 col-md-4 col-lg-3">
                <div class="collection-list__collection">
                    <div class="collection-list__collection-img-container">
                        <img src="/assets/mic-8-c.png"
                            alt="" class="collection-list__collection-img" />
                        <div class="collection-list__collection-img-overlay"></div>
                    </div>
                    <h3 class="collection-list__collection-name">Condenser Microphones</h3>
                </div>
            </a>

            <a href="#" class="collection-list__collection-container col-sm-6 col-md-4 col-lg-3">
                <div class="collection-list__collection">
                    <div class="collection-list__collection-img-container">
                        <img src="/assets/mic-10-a.png"
                            alt="" class="collection-list__collection-img" />
                        <div class="collection-list__collection-img-overlay"></div>
                    </div>
                    <h3 class="collection-list__collection-name">Cardioid Microphones</h3>
                </div>
            </a>

            <a href="#" class="collection-list__collection-container col-sm-6 col-md-4 col-lg-3">
                <div class="collection-list__collection">
                    <div class="collection-list__collection-img-container">
                        <img src="/assets/mic-12.png"
                            alt="" class="collection-list__collection-img" />
                        <div class="collection-list__collection-img-overlay"></div>
                    </div>
                    <h3 class="collection-list__collection-name">Ribbon Microphones</h3>
                </div>
            </a>

            <a href="#" class="collection-list__collection-container col-sm-6 col-md-4 col-lg-3">
                <div class="collection-list__collection">
                    <div class="collection-list__collection-img-container">
                        <img src="https://images.pexels.com/photos/7727496/pexels-photo-7727496.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                            alt="" class="collection-list__collection-img" />
                        <div class="collection-list__collection-img-overlay"></div>
                    </div>
                    <h3 class="collection-list__collection-name">Keyboards</h3>
                </div>
            </a>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <h2 class="collection-list__title">3 Columns Maximum</h2>
        </div>
        <div class="collection-list__collections row">
            <a href="#" class="collection-list__collection-container col-sm-6 col-md-4">
                <div class="collection-list__collection">
                    <div class="collection-list__collection-img-container">
                        <img src="https://images.pexels.com/photos/1205022/pexels-photo-1205022.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                            alt="" class="collection-list__collection-img" />
                        <div class="collection-list__collection-img-overlay"></div>
                    </div>
                    <h3 class="collection-list__collection-name">Cameras</h3>
                </div>
            </a>

            <a href="#" class="collection-list__collection-container col-sm-6 col-md-4">
                <div class="collection-list__collection">
                    <div class="collection-list__collection-img-container">
                        <img src="https://images.pexels.com/photos/352505/pexels-photo-352505.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                            alt="" class="collection-list__collection-img" />
                        <div class="collection-list__collection-img-overlay"></div>
                    </div>
                    <h3 class="collection-list__collection-name">Microphones</h3>
                </div>
            </a>

            <a href="#" class="collection-list__collection-container col-sm-6 col-md-4">
                <div class="collection-list__collection">
                    <div class="collection-list__collection-img-container">
                        <img src="https://images.pexels.com/photos/373632/pexels-photo-373632.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                            alt="" class="collection-list__collection-img" />
                        <div class="collection-list__collection-img-overlay"></div>
                    </div>
                    <h3 class="collection-list__collection-name">Speakers</h3>
                </div>
            </a>

            <a href="#" class="collection-list__collection-container col-sm-6 col-md-4">
                <div class="collection-list__collection">
                    <div class="collection-list__collection-img-container">
                        <img src="https://images.pexels.com/photos/373945/pexels-photo-373945.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                            alt="" class="collection-list__collection-img" />
                        <div class="collection-list__collection-img-overlay"></div>
                    </div>
                    <h3 class="collection-list__collection-name">Headphones</h3>
                </div>
            </a>

            <a href="#" class="collection-list__collection-container col-sm-6 col-md-4">
                <div class="collection-list__collection">
                    <div class="collection-list__collection-img-container">
                        <img src="https://images.pexels.com/photos/7727496/pexels-photo-7727496.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                            alt="" class="collection-list__collection-img" />
                        <div class="collection-list__collection-img-overlay"></div>
                    </div>
                    <h3 class="collection-list__collection-name">Keyboards</h3>
                </div>
            </a>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <h2 class="collection-list__title">2 Columns Maximum</h2>
        </div>
        <div class="collection-list__collections row">
            <a href="#" class="collection-list__collection-container col-sm-6">
                <div class="collection-list__collection">
                    <div class="collection-list__collection-img-container">
                        <img src="https://images.pexels.com/photos/1205022/pexels-photo-1205022.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                            alt="" class="collection-list__collection-img" />
                        <div class="collection-list__collection-img-overlay"></div>
                    </div>
                    <h3 class="collection-list__collection-name">Cameras</h3>
                </div>
            </a>

            <a href="#" class="collection-list__collection-container col-sm-6">
                <div class="collection-list__collection">
                    <div class="collection-list__collection-img-container">
                        <img src="https://images.pexels.com/photos/352505/pexels-photo-352505.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                            alt="" class="collection-list__collection-img" />
                        <div class="collection-list__collection-img-overlay"></div>
                    </div>
                    <h3 class="collection-list__collection-name">Microphones</h3>
                </div>
            </a>

            <a href="#" class="collection-list__collection-container col-sm-6">
                <div class="collection-list__collection">
                    <div class="collection-list__collection-img-container">
                        <img src="https://images.pexels.com/photos/373632/pexels-photo-373632.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                            alt="" class="collection-list__collection-img" />
                        <div class="collection-list__collection-img-overlay"></div>
                    </div>
                    <h3 class="collection-list__collection-name">Speakers</h3>
                </div>
            </a>

            <a href="#" class="collection-list__collection-container col-sm-6">
                <div class="collection-list__collection">
                    <div class="collection-list__collection-img-container">
                        <img src="https://images.pexels.com/photos/373945/pexels-photo-373945.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                            alt="" class="collection-list__collection-img" />
                        <div class="collection-list__collection-img-overlay"></div>
                    </div>
                    <h3 class="collection-list__collection-name">Headphones</h3>
                </div>
            </a>

            <a href="#" class="collection-list__collection-container col-sm-6">
                <div class="collection-list__collection">
                    <div class="collection-list__collection-img-container">
                        <img src="https://images.pexels.com/photos/7727496/pexels-photo-7727496.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                            alt="" class="collection-list__collection-img" />
                        <div class="collection-list__collection-img-overlay"></div>
                    </div>
                    <h3 class="collection-list__collection-name">Keyboards</h3>
                </div>
            </a>
        </div>
    </div>




</div>
<!-- End Collection List -->