.modal {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 500ms ease-in-out;
  z-index: 4;
}
.modal.open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.modal__container {
  position: relative;
  margin: auto;
  border-radius: 3px;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  max-width: 900px;
  max-height: 600px;
  display: flex;
  flex-direction: column;
  z-index: 4;
}
@media only screen and (min-width: 768px) {
  .modal__container {
    flex-direction: row;
  }
}
.modal__left {
  min-height: 1px;
}
.modal__img-container {
  width: 100%;
  height: 100%;
}
.modal__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 20%;
     object-position: 50% 20%;
}
.modal__right {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: 50%;
  flex-shrink: 0;
  background-color: var(--clr-black);
  color: var(--clr-white);
}
.modal__logo-container {
  position: relative;
  margin-bottom: 2rem;
  padding-top: 1rem;
  max-width: 200px;
}
.modal__logo-container::after {
  position: absolute;
  content: "";
  background-color: var(--clr-white);
  height: 1px;
  width: 200%;
  bottom: -0.5rem;
  left: 50%;
  transform: translateX(-50%);
}
.modal__logo {
  width: 100%;
}
.modal__content {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  margin-bottom: 2rem;
}
.modal__btn {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 0.5em;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  transition: all 300ms ease-in-out;
  text-decoration: none;
}
.modal__btn .fa-chevron-left,
.modal__btn .fa-chevron-right {
  display: none;
  transition: left 300ms ease-in-out, right 300ms ease-in-out;
}
.modal__btn--color-swap {
  padding: 1em 1.7em;
  color: var(--clr-white);
  background-color: transparent;
  border: 2px solid var(--clr-white);
}
.modal__btn--color-swap:hover {
  color: var(--clr-black);
  background-color: var(--clr-white);
  border-color: var(--clr-white);
}
.modal__btn--grow {
  padding: 1em 1.7em;
  color: var(--clr-white);
  background-color: var(--clr-accent);
}
.modal__btn--grow:hover {
  transform: scale(1.05);
}
.modal__btn--underline {
  color: var(--clr-black);
}
.modal__btn--underline span {
  border-bottom: 1px solid var(--clr-black);
}
.modal__btn--underline:hover {
  color: var(--clr-accent);
}
.modal__btn--underline:hover span {
  border-bottom: 1px solid var(--clr-accent);
}
.modal__btn--opacity-decrease {
  padding: 1em 1.7em;
  color: var(--clr-white);
  background-color: var(--clr-accent);
  transition: all 100ms ease-in-out;
}
.modal__btn--opacity-decrease:hover {
  opacity: 0.7;
}
.modal__btn--left-arrow .fa-chevron-left {
  display: inline-block;
  position: relative;
  left: 0;
  font-size: 1rem !important;
}
.modal__btn--left-arrow:hover .fa-chevron-left {
  left: -1rem;
}
.modal__btn--right-arrow .fa-chevron-right {
  display: inline-block;
  position: relative;
  right: 0;
  font-size: 1rem !important;
}
.modal__btn--right-arrow:hover .fa-chevron-right {
  right: -1rem;
}
.modal__after {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  top: 0;
  left: 0;
  z-index: 3;
}
.modal__close-btn {
  color: var(--clr-white);
  position: absolute;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
  transition: color 200ms ease-in-out;
}
.modal__close-btn:hover {
  color: var(--clr-red);
}