.testimonials {
  position: relative;
  width: 100vw;
  height: 100vh;
  max-height: 400px;
  overflow: hidden;
  margin: auto;
  background-color: var(--clr-x-light-grey);
}
.testimonials__heading {
  color: var(--clr-black);
  padding: 1rem;
}
.testimonials__slide {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(100vw);
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: all 1000ms ease-in-out;
}
.testimonials__slide--active {
  transform: translateX(0);
  opacity: 1;
}
.testimonials__slide-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-align: center;
  padding: 1rem;
  color: var(--clr-black);
}
.testimonials__slide-quotation-mark {
  color: var(--clr-black);
  font-size: 2rem !important;
}
.testimonials__slide-author {
  position: relative;
  font-size: 0.8rem;
  color: var(--clr-dark-grey);
}
.testimonials__slide-author::before {
  position: absolute;
  top: 50%;
  left: -1rem;
  content: "";
  width: 0.8rem;
  height: 0.05rem;
  background-color: var(--clr-dark-grey);
}
.testimonials__indicators {
  background-color: transparent;
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
  gap: 1rem;
}
.testimonials__indicator {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: var(--clr-light-grey);
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
.testimonials__indicator--active {
  height: 15px;
  width: 15px;
  background-color: var(--clr-black);
}