.desktop-header2 {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  background-color: var(--clr-white);
  color: var(--clr-black);
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.23);
  justify-content: space-between;
}
@media only screen and (max-width: 1023px) {
  .desktop-header2 {
    display: none;
  }
}
.desktop-header2.collapsed {
  padding: 0.1rem 2rem;
}
.desktop-header2.collapsed .desktop-header2__links {
  display: none;
}
.desktop-header2.collapsed .desktop-header2__fullscreen-menu-open-btn {
  display: inline-block;
}
.desktop-header2 a {
  text-decoration: none;
}
.desktop-header2 ul {
  list-style: none;
}
.desktop-header2__logo-and-links {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.desktop-header2__logo-container {
  max-width: 225px;
  position: relative;
  top: 0;
}
.desktop-header2__logo-container:hover .desktop-header2__logo--primary {
  opacity: 0;
}
.desktop-header2__logo-container:hover .desktop-header2__logo--secondary {
  opacity: 1;
}
.desktop-header2__logo {
  width: 100%;
  position: relative;
  cursor: pointer;
  transition: color 300ms ease-in-out;
}
.desktop-header2__logo--primary {
  position: relative;
  opacity: 1;
  left: 0;
  transition: all 300ms ease-in-out;
}
.desktop-header2__logo--secondary {
  position: absolute;
  opacity: 0;
  left: 0;
  transition: all 300ms ease-in-out;
}
.desktop-header2__links {
  display: flex;
}
.desktop-header2__links.show {
  display: flex !important;
}
.desktop-header2__link {
  margin: 0 0.4rem;
  font-size: 1.3rem;
  padding: 2rem 0;
}
.desktop-header2__link:hover {
  color: var(--clr-accent);
}
.desktop-header2__link:hover .desktop-header2__sub-menus {
  opacity: 1;
  pointer-events: all;
  visibility: visible;
}
.desktop-header2__link:hover .fa-chevron-down {
  transform: rotate(180deg);
}
.desktop-header2__link:hover .desktop-header2__main-link::after {
  opacity: 1;
  visibility: visible;
  width: 100%;
}
.desktop-header2__main-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: relative;
}
.desktop-header2__main-link::after {
  position: absolute;
  content: "";
  height: 0.5rem;
  width: 0;
  visibility: hidden;
  opacity: 0;
  bottom: -2rem;
  left: 0;
  background-color: var(--clr-accent);
  transition: all 300ms ease-in-out;
}
.desktop-header2__sub-menus {
  display: flex;
  gap: 2rem;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100vw;
  background-color: var(--clr-off-white);
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.23);
  z-index: 3;
  transition: all 300ms ease-in-out;
  max-height: 70vh;
  padding: 1rem 5rem;
}
.desktop-header2__sub-menus::before {
  position: absolute;
  content: "";
  height: 2rem;
  top: -2rem;
  left: 0;
  width: 100%;
  background-color: transparent;
}
.desktop-header2__sub-menus--align-left {
  justify-content: flex-start;
}
.desktop-header2__sub-menus--align-center {
  justify-content: center;
}
.desktop-header2__sub-menus--align-right {
  justify-content: flex-end;
}
.desktop-header2__sub-menu {
  padding: 1.2rem 0.8rem;
}
.desktop-header2__sub-menu a {
  color: var(--clr-black);
  font-size: 1rem;
  font-weight: 400;
}
.desktop-header2__sub-menu a:hover {
  color: var(--clr-accent);
}
.desktop-header2 .fa-chevron-down {
  transition: all 300ms ease-in-out;
}
.desktop-header2__icons {
  display: flex;
}
.desktop-header2__icons i {
  transition: color 200ms ease-in-out;
}
.desktop-header2__icons i:hover {
  color: var(--clr-accent);
}
.desktop-header2__icons > * {
  padding: 0 0.4rem;
}
.desktop-header2__cart {
  position: relative;
}
.desktop-header2__cart-count {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: var(--clr-white);
  background-color: var(--clr-accent);
  font-size: 0.7rem;
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 50%;
  top: -0.5rem;
  right: -0.2rem;
}
.desktop-header2__search-and-icons {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
.desktop-header2__searchbar {
  border: 1px solid var(--clr-light-grey);
  background-color: var(--clr-white);
  overflow: hidden;
  border-radius: 100vw;
  border-radius: 3px;
  display: flex;
  transition: all 300ms ease-in-out;
}
.desktop-header2__searchbar.border {
  border-color: var(--clr-black);
}
.desktop-header2__searchbar.border .search-icon {
  color: var(--clr-accent);
}
.desktop-header2__searchbar input {
  padding: 0.5rem;
  border: none;
  outline: none;
  font-size: 1.2rem;
  width: 100%;
  background-color: var(--clr-white);
}
.desktop-header2__searchbar .search-icon {
  padding: 0.5rem;
  cursor: pointer;
}
.desktop-header2__fullscreen-menu-open-btn {
  display: none;
  cursor: pointer;
}