.collection-list {
  background-color: var(--clr-white);
}
.collection-list__collection-container {
  position: relative;
  margin-bottom: 1.5rem;
  text-decoration: none;
}
.collection-list__collection {
  width: 100%;
  height: 100%;
  transition: all 300ms ease-in-out;
}
.collection-list__collection:hover {
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.23);
}
.collection-list__collection:hover .collection-list__collection-img-overlay {
  background-color: rgba(0, 0, 0, 0.3);
}
.collection-list__collection:hover .collection-list__collection-name {
  text-shadow: 2px 5px 10px var(--clr-black);
}
.collection-list__collection:hover .collection-list__collection-img {
  transform: scale(1.06);
}
.collection-list__collection-img-container {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  overflow: hidden;
}
.collection-list__collection-img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  transition: all 300ms ease-in-out;
}
.collection-list__collection-img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.collection-list__collection-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
  font-size: 1.7rem;
  color: var(--clr-white);
  transition: all 300ms ease-in-out;
}
.collection-list__title {
  margin-bottom: 2rem;
  color: var(--clr-black);
}