.slideshow {
  position: relative;
  width: 100vw;
  height: 100vh;
  min-height: 300px;
  overflow: hidden;
}
.slideshow--50 {
  height: 50vh;
}
.slideshow--50 .slideshow__indicators {
  bottom: -0.3rem;
}
.slideshow__slide-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.slideshow__slide {
  position: absolute;
  transform: translateX(100vw);
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: all 1000ms ease-in-out;
}
.slideshow__slide--active {
  transform: translateX(0);
  opacity: 1;
}
.slideshow__slide-img-container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.slideshow__slide-img {
  width: 100%;
  height: 100%;
}
.slideshow__slide-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 10%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
}
.slideshow__slide-content--aligned-center {
  align-items: center;
}
.slideshow__slide-content--aligned-left {
  align-items: flex-start;
}
.slideshow__slide-content--aligned-right {
  align-items: flex-end;
}
.slideshow__slide-content--top {
  justify-content: flex-start;
}
.slideshow__slide-content--middle {
  justify-content: center;
}
.slideshow__slide-content--bottom {
  justify-content: flex-end;
}
.slideshow__slide-info {
  display: flex;
  flex-direction: column;
  z-index: 2;
  gap: 1rem;
}
@media only screen and (min-width: 768px) {
  .slideshow__slide-info {
    gap: 3rem;
  }
}
.slideshow__slide-info--aligned-left {
  text-align: left;
  align-items: flex-start;
}
.slideshow__slide-info--aligned-center {
  text-align: center;
  align-items: center;
}
.slideshow__slide-info--aligned-right {
  text-align: right;
  align-items: flex-end;
}
.slideshow__slide-heading {
  padding: 0.5rem;
  color: var(--clr-white);
}
.slideshow__slide-subheading {
  padding: 0.5rem;
  color: var(--clr-white);
}
.slideshow__slide-btn {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 0.5em;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  transition: all 300ms ease-in-out;
  text-decoration: none;
}
.slideshow__slide-btn .fa-chevron-left,
.slideshow__slide-btn .fa-chevron-right {
  display: none;
  transition: left 300ms ease-in-out, right 300ms ease-in-out;
}
.slideshow__slide-btn--color-swap {
  padding: 1em 1.7em;
  color: var(--clr-white);
  background-color: var(--clr-black);
  border: 2px solid var(--clr-black);
}
.slideshow__slide-btn--color-swap:hover {
  color: var(--clr-black);
  background-color: var(--clr-white);
  border-color: var(--clr-white);
}
.slideshow__slide-btn--grow {
  padding: 1em 1.7em;
  color: var(--clr-white);
  background-color: var(--clr-accent);
}
.slideshow__slide-btn--grow:hover {
  transform: scale(1.05);
}
.slideshow__slide-btn--underline {
  color: var(--clr-black);
}
.slideshow__slide-btn--underline span {
  border-bottom: 1px solid var(--clr-black);
}
.slideshow__slide-btn--underline:hover {
  color: var(--clr-accent);
}
.slideshow__slide-btn--underline:hover span {
  border-bottom: 1px solid var(--clr-accent);
}
.slideshow__slide-btn--opacity-decrease {
  padding: 1em 1.7em;
  color: var(--clr-white);
  background-color: var(--clr-accent);
  transition: all 100ms ease-in-out;
}
.slideshow__slide-btn--opacity-decrease:hover {
  opacity: 0.7;
}
.slideshow__slide-btn--left-arrow .fa-chevron-left {
  display: inline-block;
  position: relative;
  left: 0;
  font-size: 1rem !important;
}
.slideshow__slide-btn--left-arrow:hover .fa-chevron-left {
  left: -1rem;
}
.slideshow__slide-btn--right-arrow .fa-chevron-right {
  display: inline-block;
  position: relative;
  right: 0;
  font-size: 1rem !important;
}
.slideshow__slide-btn--right-arrow:hover .fa-chevron-right {
  right: -1rem;
}
.slideshow__indicators {
  background-color: transparent;
  position: absolute;
  bottom: 0.1rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
  gap: 1rem;
}
.slideshow__indicator {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: var(--clr-white);
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
.slideshow__indicator--active {
  height: 15px;
  width: 15px;
  background-color: var(--clr-black);
}