.article {
  background-color: var(--clr-white);
}
.article__featured-img-container {
  width: 100%;
  height: 100vh;
  min-height: 200px;
  overflow: hidden;
}
.article__featured-img-container--50 {
  max-height: 50vh;
}
.article__featured-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}
.article__title {
  text-align: center;
  letter-spacing: 0.1rem;
  margin: 2rem auto 1rem;
  color: var(--clr-black);
}
.article__date-and-author {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}
.article__date {
  color: var(--clr-black);
  font-size: 0.8rem;
  padding-right: 0.5rem;
}
.article__author {
  position: relative;
  color: var(--clr-black);
  font-size: 0.8rem;
  padding-left: 0.5rem;
}
.article__author--with-date::before {
  position: absolute;
  content: "";
  border-radius: 50%;
  height: 0.4rem;
  width: 0.4rem;
  background-color: var(--clr-black);
  top: 50%;
  left: -0.7rem;
  transform: translateY(-50%);
}
.article__content-img-container {
  width: 100%;
  height: 100%;
}
.article__content-img {
  width: 100%;
  height: 100%;
  max-height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center bottom;
     object-position: center bottom;
}
.article__share-btns {
  display: flex;
  justify-content: center;
  margin: 2rem auto;
  gap: 2rem;
}
.article__share-btn {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  text-decoration: none;
  color: var(--clr-black);
  opacity: 0.5;
  transition: all 300ms ease-in-out;
}
.article__share-btn:hover {
  opacity: 1;
  color: var(--clr-accent);
}
.article__return-btn {
  margin: 2rem auto;
  position: relative;
  display: flex;
  justify-content: center;
  gap: 0.5em;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  transition: all 300ms ease-in-out;
  text-decoration: none;
}
.article__return-btn .fa-chevron-left,
.article__return-btn .fa-chevron-right {
  display: none;
  transition: left 300ms ease-in-out, right 300ms ease-in-out;
}
.article__return-btn--color-swap {
  padding: 1em 1.7em;
  color: var(--clr-black);
  background-color: var(--clr-white);
  border: 2px solid var(--clr-black);
}
.article__return-btn--color-swap:hover {
  color: var(--clr-white);
  background-color: var(--clr-accent);
  border-color: var(--clr-accent);
}
.article__return-btn--grow {
  padding: 1em 1.7em;
  color: var(--clr-white);
  background-color: var(--clr-accent);
}
.article__return-btn--grow:hover {
  transform: scale(1.05);
}
.article__return-btn--underline {
  color: var(--clr-black);
}
.article__return-btn--underline span {
  border-bottom: 1px solid var(--clr-black);
}
.article__return-btn--underline:hover {
  color: var(--clr-accent);
}
.article__return-btn--underline:hover span {
  border-bottom: 1px solid var(--clr-accent);
}
.article__return-btn--opacity-decrease {
  padding: 1em 1.7em;
  color: var(--clr-white);
  background-color: var(--clr-accent);
  transition: all 100ms ease-in-out;
}
.article__return-btn--opacity-decrease:hover {
  opacity: 0.7;
}
.article__return-btn--left-arrow .fa-chevron-left {
  display: inline-block;
  position: relative;
  left: 0;
  font-size: 1rem !important;
}
.article__return-btn--left-arrow:hover .fa-chevron-left {
  left: -1rem;
}
.article__return-btn--right-arrow .fa-chevron-right {
  display: inline-block;
  position: relative;
  right: 0;
  font-size: 1rem !important;
}
.article__return-btn--right-arrow:hover .fa-chevron-right {
  right: -1rem;
}
.article__description-title {
  margin-bottom: 2rem;
  text-align: center;
}