.blog-posts {
  padding: 1rem;
  background-color: var(--clr-white);
}
.blog-posts__heading {
  margin-bottom: 1rem;
  letter-spacing: 1px;
  color: var(--clr-black);
}
.blog-posts__posts {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.blog-posts__posts--aligned-left .blog-posts__post {
  text-align: left;
  align-items: flex-start;
}
.blog-posts__posts--aligned-center .blog-posts__post {
  text-align: center;
  align-items: center;
}
.blog-posts__posts--aligned-right .blog-posts__post {
  text-align: right;
  align-items: flex-end;
}
.blog-posts__posts--aligned-right .blog-posts__post-read-more i {
  position: absolute;
  left: -1rem;
  right: unset;
}
.blog-posts__posts--aligned-right .blog-posts__post-read-more:hover i {
  left: -1.5rem;
  right: unset;
}
.blog-posts__posts--no-img .blog-posts__post {
  border: 1px solid var(--clr-off-white);
  padding: 0.5rem;
}
.blog-posts__post-container {
  margin-bottom: 1rem;
}
.blog-posts__post {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  height: 100%;
}
.blog-posts__post-featured-img-container {
  width: 100%;
  height: 100%;
  max-height: 300px;
}
.blog-posts__post-featured-img-container:hover {
  opacity: 0.9;
}
.blog-posts__post-featured-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}
.blog-posts__post-title {
  color: var(--clr-black);
}
.blog-posts__post-date-and-author {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.5rem;
}
.blog-posts__post-date {
  color: var(--clr-black);
  font-size: 0.8rem;
  padding-right: 0.5rem;
}
.blog-posts__post-author {
  position: relative;
  color: var(--clr-black);
  font-size: 0.8rem;
  padding-left: 0.5rem;
}
.blog-posts__post-author-with-date::before {
  position: absolute;
  content: "";
  border-radius: 50%;
  height: 0.4rem;
  width: 0.4rem;
  background-color: var(--clr-black);
  top: 50%;
  left: -0.7rem;
  transform: translateY(-50%);
}
.blog-posts__post-excerpt {
  color: var(--clr-black);
}
.blog-posts__post-read-more-btn {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 0.5em;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  transition: all 300ms ease-in-out;
  text-decoration: none;
}
.blog-posts__post-read-more-btn .fa-chevron-left,
.blog-posts__post-read-more-btn .fa-chevron-right {
  display: none;
  transition: left 300ms ease-in-out, right 300ms ease-in-out;
}
.blog-posts__post-read-more-btn--color-swap {
  padding: 1em 1.7em;
  color: var(--clr-black);
  background-color: var(--clr-white);
  border: 2px solid var(--clr-black);
}
.blog-posts__post-read-more-btn--color-swap:hover {
  color: var(--clr-white);
  background-color: var(--clr-accent);
  border-color: var(--clr-accent);
}
.blog-posts__post-read-more-btn--grow {
  padding: 1em 1.7em;
  color: var(--clr-white);
  background-color: var(--clr-accent);
}
.blog-posts__post-read-more-btn--grow:hover {
  transform: scale(1.05);
}
.blog-posts__post-read-more-btn--underline {
  color: var(--clr-black);
}
.blog-posts__post-read-more-btn--underline span {
  border-bottom: 1px solid var(--clr-black);
}
.blog-posts__post-read-more-btn--underline:hover {
  color: var(--clr-accent);
}
.blog-posts__post-read-more-btn--underline:hover span {
  border-bottom: 1px solid var(--clr-accent);
}
.blog-posts__post-read-more-btn--opacity-decrease {
  padding: 1em 1.7em;
  color: var(--clr-white);
  background-color: var(--clr-accent);
  transition: all 100ms ease-in-out;
}
.blog-posts__post-read-more-btn--opacity-decrease:hover {
  opacity: 0.7;
}
.blog-posts__post-read-more-btn--left-arrow .fa-chevron-left {
  display: inline-block;
  position: relative;
  left: 0;
  font-size: 1rem !important;
}
.blog-posts__post-read-more-btn--left-arrow:hover .fa-chevron-left {
  left: -1rem;
}
.blog-posts__post-read-more-btn--right-arrow .fa-chevron-right {
  display: inline-block;
  position: relative;
  right: 0;
  font-size: 1rem !important;
}
.blog-posts__post-read-more-btn--right-arrow:hover .fa-chevron-right {
  right: -1rem;
}
.blog-posts__view-all-btn {
  margin: 2rem auto;
  position: relative;
  display: flex;
  justify-content: center;
  gap: 0.5em;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  transition: all 300ms ease-in-out;
  text-decoration: none;
}
.blog-posts__view-all-btn .fa-chevron-left,
.blog-posts__view-all-btn .fa-chevron-right {
  display: none;
  transition: left 300ms ease-in-out, right 300ms ease-in-out;
}
.blog-posts__view-all-btn--color-swap {
  padding: 1em 1.7em;
  color: var(--clr-black);
  background-color: var(--clr-white);
  border: 2px solid var(--clr-black);
}
.blog-posts__view-all-btn--color-swap:hover {
  color: var(--clr-white);
  background-color: var(--clr-accent);
  border-color: var(--clr-accent);
}
.blog-posts__view-all-btn--grow {
  padding: 1em 1.7em;
  color: var(--clr-white);
  background-color: var(--clr-accent);
}
.blog-posts__view-all-btn--grow:hover {
  transform: scale(1.05);
}
.blog-posts__view-all-btn--underline {
  color: var(--clr-black);
}
.blog-posts__view-all-btn--underline span {
  border-bottom: 1px solid var(--clr-black);
}
.blog-posts__view-all-btn--underline:hover {
  color: var(--clr-accent);
}
.blog-posts__view-all-btn--underline:hover span {
  border-bottom: 1px solid var(--clr-accent);
}
.blog-posts__view-all-btn--opacity-decrease {
  padding: 1em 1.7em;
  color: var(--clr-white);
  background-color: var(--clr-accent);
  transition: all 100ms ease-in-out;
}
.blog-posts__view-all-btn--opacity-decrease:hover {
  opacity: 0.7;
}
.blog-posts__view-all-btn--left-arrow .fa-chevron-left {
  display: inline-block;
  position: relative;
  left: 0;
  font-size: 1rem !important;
}
.blog-posts__view-all-btn--left-arrow:hover .fa-chevron-left {
  left: -1rem;
}
.blog-posts__view-all-btn--right-arrow .fa-chevron-right {
  display: inline-block;
  position: relative;
  right: 0;
  font-size: 1rem !important;
}
.blog-posts__view-all-btn--right-arrow:hover .fa-chevron-right {
  right: -1rem;
}