.mobile-header1 {
  position: relative;
  padding: 1rem 0.5rem;
  background-color: var(--clr-white);
  color: var(--clr-black);
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.23);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
@media only screen and (min-width: 1024px) {
  .mobile-header1 {
    display: none;
  }
}
.mobile-header1 a {
  text-decoration: none;
}
.mobile-header1__top {
  display: flex;
  align-self: stretch;
  justify-content: space-around;
  align-items: center;
}
.mobile-header1__logo-container {
  max-width: 150px;
  position: relative;
  top: 0;
}
.mobile-header1__logo-container:hover .mobile-header1__logo--primary {
  opacity: 0;
}
.mobile-header1__logo-container:hover .mobile-header1__logo--secondary {
  opacity: 1;
}
.mobile-header1__logo {
  width: 100%;
  position: relative;
  cursor: pointer;
  transition: color 300ms ease-in-out;
}
.mobile-header1__logo--primary {
  position: relative;
  opacity: 1;
  left: 0;
  transition: all 300ms ease-in-out;
}
.mobile-header1__logo--secondary {
  position: absolute;
  opacity: 0;
  left: 0;
  transition: all 300ms ease-in-out;
}
.mobile-header1__fullscreen-menu-open-btn {
  cursor: pointer;
  transition: color 200ms ease-in-out;
}
.mobile-header1__fullscreen-menu-open-btn:hover {
  color: var(--clr-accent);
}
.mobile-header1__icons {
  display: flex;
}
.mobile-header1__icons i {
  transition: color 200ms ease-in-out;
}
.mobile-header1__icons i:hover {
  color: var(--clr-accent);
}
.mobile-header1__icons > * {
  padding: 0 0.4rem;
}
.mobile-header1__cart {
  position: relative;
}
.mobile-header1__cart-count {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: var(--clr-white);
  background-color: var(--clr-accent);
  font-size: 0.7rem;
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 50%;
  top: -0.5rem;
  right: -0.2rem;
}
.mobile-header1__searchbar {
  border: 1px solid var(--clr-light-grey);
  background-color: var(--clr-white);
  overflow: hidden;
  border-radius: 3px;
  display: flex;
  width: 70vw;
  transition: all 300ms ease-in-out;
}
.mobile-header1__searchbar.border {
  border-color: var(--clr-black);
}
.mobile-header1__searchbar.border .search-icon {
  color: var(--clr-accent);
}
.mobile-header1__searchbar input {
  padding: 0.5rem;
  border: none;
  outline: none;
  font-size: 1.2rem;
  width: 100%;
  background-color: var(--clr-white);
}
.mobile-header1__searchbar .search-icon {
  padding: 0.5rem;
  cursor: pointer;
}