.fullscreen-menu {
  display: none;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  color: var(--clr-black);
  padding: 1rem 2rem;
  background-color: var(--clr-white);
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
}
.fullscreen-menu.open {
  display: flex;
}
.fullscreen-menu a {
  text-decoration: none;
}
.fullscreen-menu ul {
  list-style: none;
}
.fullscreen-menu__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fullscreen-menu__logo-container {
  width: 225px;
  position: relative;
  top: 0;
}
.fullscreen-menu__logo-container:hover .fullscreen-menu__logo--primary {
  opacity: 0;
}
.fullscreen-menu__logo-container:hover .fullscreen-menu__logo--secondary {
  opacity: 1;
}
.fullscreen-menu__logo {
  width: 100%;
  position: relative;
  cursor: pointer;
  transition: color 300ms ease-in-out;
}
.fullscreen-menu__logo--primary {
  position: relative;
  opacity: 1;
  left: 0;
  transition: all 300ms ease-in-out;
}
.fullscreen-menu__logo--secondary {
  position: absolute;
  opacity: 0;
  left: 0;
  transition: all 300ms ease-in-out;
}
.fullscreen-menu__close-btn {
  cursor: pointer;
  transition: color 300ms ease-in-out;
}
.fullscreen-menu__close-btn:hover {
  color: var(--clr-red);
}
.fullscreen-menu__sign-in {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
  gap: 1rem;
}
.fullscreen-menu__sign-in a {
  transition: color 200ms ease-in-out;
}
.fullscreen-menu__sign-in a:hover {
  color: var(--clr-accent);
}
.fullscreen-menu__links {
  display: flex;
  flex-direction: column;
}
.fullscreen-menu__link {
  position: relative;
  border-top: 1px solid var(--clr-light-grey);
  border-bottom: 1px solid var(--clr-light-grey);
}
.fullscreen-menu__link:not(:first-of-type) {
  border-top: none;
}
.fullscreen-menu__link.open .fullscreen-menu__main-link {
  background-color: var(--clr-accent);
  color: var(--clr-white);
}
.fullscreen-menu__link.open .fullscreen-menu__link-close-btn {
  color: var(--clr-white);
}
.fullscreen-menu__link.open .fullscreen-menu__sub-menu {
  padding: 1rem 2rem;
  font-size: 1rem;
  border-top: 1px solid var(--clr-light-grey);
}
.fullscreen-menu__link.open i:nth-child(1) {
  display: none;
}
.fullscreen-menu__main-link {
  padding: 1rem 2rem;
  transition: all 300ms ease-in-out;
}
.fullscreen-menu__sub-menu {
  font-size: 0;
  overflow: hidden;
  transition: all 400ms ease-in-out;
  color: var(--clr-black);
  display: flex;
  flex-direction: column;
}
.fullscreen-menu__sub-menu a {
  transition: color 200ms ease-in-out;
}
.fullscreen-menu__sub-menu a:hover {
  color: var(--clr-accent);
}
.fullscreen-menu__link-open-btn, .fullscreen-menu__link-close-btn {
  position: absolute;
  cursor: pointer;
  right: 2rem;
  top: 1rem;
  transition: all 300ms ease-in-out;
}