.blog {
  background-color: var(--clr-white);
  padding-top: 4rem;
  padding-bottom: 2rem;
}
.blog__title {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
  color: var(--clr-black);
}
.blog__article-container {
  margin-bottom: 2rem;
}
.blog__article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.8rem;
  width: 100%;
  height: 100%;
}
.blog__article-img-container {
  width: 100%;
  height: 100%;
  max-height: 300px;
  overflow: hidden;
  border-radius: 3px;
}
.blog__article-img-container:hover {
  opacity: 0.9;
}
.blog__article-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}
.blog__article-title {
  color: var(--clr-black);
}
.blog__article-date-and-author {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.5rem;
}
.blog__article-date {
  color: var(--clr-black);
  font-size: 0.8rem;
  padding-right: 0.5rem;
}
.blog__article-author {
  position: relative;
  color: var(--clr-black);
  font-size: 0.8rem;
  padding-left: 0.5rem;
}
.blog__article-author-with-date::before {
  position: absolute;
  content: "";
  border-radius: 50%;
  height: 0.4rem;
  width: 0.4rem;
  background-color: var(--clr-black);
  top: 50%;
  left: -0.7rem;
  transform: translateY(-50%);
}
.blog__article-content {
  color: var(--clr-black);
}
.blog__article-read-more-btn {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 0.5em;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  transition: all 300ms ease-in-out;
  text-decoration: none;
}
.blog__article-read-more-btn .fa-chevron-left,
.blog__article-read-more-btn .fa-chevron-right {
  display: none;
  transition: left 300ms ease-in-out, right 300ms ease-in-out;
}
.blog__article-read-more-btn--color-swap {
  padding: 1em 1.7em;
  color: var(--clr-black);
  background-color: var(--clr-white);
  border: 2px solid var(--clr-black);
}
.blog__article-read-more-btn--color-swap:hover {
  color: var(--clr-white);
  background-color: var(--clr-accent);
  border-color: var(--clr-accent);
}
.blog__article-read-more-btn--grow {
  padding: 1em 1.7em;
  color: var(--clr-white);
  background-color: var(--clr-accent);
}
.blog__article-read-more-btn--grow:hover {
  transform: scale(1.05);
}
.blog__article-read-more-btn--underline {
  color: var(--clr-black);
}
.blog__article-read-more-btn--underline span {
  border-bottom: 1px solid var(--clr-black);
}
.blog__article-read-more-btn--underline:hover {
  color: var(--clr-accent);
}
.blog__article-read-more-btn--underline:hover span {
  border-bottom: 1px solid var(--clr-accent);
}
.blog__article-read-more-btn--opacity-decrease {
  padding: 1em 1.7em;
  color: var(--clr-white);
  background-color: var(--clr-accent);
  transition: all 100ms ease-in-out;
}
.blog__article-read-more-btn--opacity-decrease:hover {
  opacity: 0.7;
}
.blog__article-read-more-btn--left-arrow .fa-chevron-left {
  display: inline-block;
  position: relative;
  left: 0;
  font-size: 1rem !important;
}
.blog__article-read-more-btn--left-arrow:hover .fa-chevron-left {
  left: -1rem;
}
.blog__article-read-more-btn--right-arrow .fa-chevron-right {
  display: inline-block;
  position: relative;
  right: 0;
  font-size: 1rem !important;
}
.blog__article-read-more-btn--right-arrow:hover .fa-chevron-right {
  right: -1rem;
}