@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

a {
  color: inherit;
}

:root {
  --color-primary: #31ADF5;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-off-white: #f8f8f8;
  --color-light-grey: #eeeeee;
  --color-mid-grey: #aaaaaa;
  --color-dark-grey: #777777;
  --color-sale: #c22c22;
  --color-sold-out: #cccccc;
  --color-success: #37bb7c;
  --color-error: #c50f0f;
}

:root {
  --font-family-xl-heading: "Poiret One", cursive;
  --font-family-heading: "Poppins", sans-serif;
  --font-family-subheading: "Poppins", sans-serif;
  --font-family-body: "Poppins", sans-serif;
}

.xl-heading {
  font-size: 2.2rem;
  font-family: var(--font-family-xl-heading);
}
@media screen and (min-width: 768px) {
  .xl-heading {
    font-size: 3.5rem;
  }
}
@media screen and (min-width: 992px) {
  .xl-heading {
    font-size: 4.5rem;
  }
}

.heading {
  font-size: 1.75rem;
  font-family: var(--font-family-heading);
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .heading {
    font-size: 2.25rem;
  }
}
@media screen and (min-width: 992px) {
  .heading {
    font-size: 2.75rem;
  }
}

.subheading {
  font-size: 1.25rem;
  font-family: var(--font-family-subheading);
}
@media screen and (min-width: 768px) {
  .subheading {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 992px) {
  .subheading {
    font-size: 1.75rem;
  }
}

.body, body {
  font-size: 1rem;
  font-family: var(--font-family-body);
}
@media screen and (min-width: 768px) {
  .body, body {
    font-size: 1.125rem;
  }
}
@media screen and (min-width: 992px) {
  .body, body {
    font-size: 1.25rem;
  }
}

.small {
  font-size: 0.625rem;
  font-family: var(--font-family-body);
}
@media screen and (min-width: 768px) {
  .small {
    font-size: 0.75rem;
  }
}
@media screen and (min-width: 992px) {
  .small {
    font-size: 0.875rem;
  }
}

.not-found {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2rem;
}
@media only screen and (min-width: 768px) {
  .not-found {
    padding: 4rem 2rem;
  }
}
.not-found__heading {
  color: var(--color-primary);
}

.hero {
  position: relative;
  background-image: url("https://images.pexels.com/photos/220836/pexels-photo-220836.jpeg?cs=srgb&dl=pexels-pixabay-220836.jpg&fm=jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--color-white);
  z-index: 0;
  min-height: 100vh;
}
.hero__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -1;
}
.hero__container {
  z-index: 1;
  min-height: 100vh;
  padding-top: 2rem;
}
.hero__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
  margin-bottom: 2rem;
}
@media only screen and (min-width: 768px) {
  .hero__top {
    margin-bottom: 4rem;
  }
}
.hero__logo {
  max-width: 500px;
  width: 50vw;
}
.hero__description {
  font-weight: 500;
}
.hero__demos {
  display: flex;
  flex-wrap: wrap;
}
.hero__purchase {
  margin: 2rem auto;
}

.demo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-decoration: none;
  width: 50%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.demo__image {
  width: 100%;
  max-width: 350px;
  background-color: var(--color-white);
  padding: 0.5rem;
  border-radius: 5px;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.3);
  transition: all 200ms ease-out;
}
.demo__image:hover {
  transform: translateY(-1rem);
  box-shadow: 0px 2px 10px 10px rgba(255, 255, 255, 0.3);
}
.demo__title {
  font-weight: 400;
}

.btn {
  position: relative;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  gap: 0.5em;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
  text-decoration: none;
}
.btn--disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.btn--primary.btn--color-swap {
  padding: 1em 1.7em;
  color: var(--color-white);
  background-color: var(--color-primary);
  border: 2px solid var(--color-primary);
}
.btn--primary.btn--color-swap:hover, .btn--primary.btn--color-swap:focus {
  color: var(--color-primary);
  background-color: transparent;
  border-color: var(--color-primary);
}
.btn--primary.btn--grow {
  border: none;
  padding: 1em 1.7em;
  color: var(--color-white);
  background-color: var(--color-primary);
}
.btn--primary.btn--grow:hover, .btn--primary.btn--grow:focus {
  transform: scale(1.05);
}
.btn--primary.btn--underline {
  background-color: transparent;
  color: var(--color-black);
  border: none;
}
.btn--primary.btn--underline span {
  border-bottom: 1px solid var(--color-black);
}
.btn--primary.btn--underline:hover, .btn--primary.btn--underline:focus {
  color: var(--color-primary);
}
.btn--primary.btn--underline:hover span, .btn--primary.btn--underline:focus span {
  border-bottom: 1px solid var(--color-primary);
}
.btn--primary.btn--opacity-decrease {
  padding: 1em 1.7em;
  color: var(--color-white);
  background-color: var(--color-primary);
  border: none;
  transition: all 100ms ease-in-out;
}
.btn--primary.btn--opacity-decrease:hover, .btn--primary.btn--opacity-decrease:focus {
  opacity: 0.7;
}
.btn--secondary.btn--color-swap {
  padding: 1em 1.7em;
  color: var(--color-white);
  background-color: var(--color-black);
  border: 2px solid var(--color-black);
}
.btn--secondary.btn--color-swap:hover, .btn--secondary.btn--color-swap:focus {
  color: var(--color-black);
  background-color: transparent;
  border-color: var(--color-black);
}
.btn--secondary.btn--grow {
  border: none;
  padding: 1em 1.7em;
  color: var(--color-white);
  background-color: var(--color-black);
}
.btn--secondary.btn--grow:hover, .btn--secondary.btn--grow:focus {
  transform: scale(1.05);
}
.btn--secondary.btn--underline {
  background-color: transparent;
  color: var(--color-black);
  border: none;
}
.btn--secondary.btn--underline span {
  border-bottom: 1px solid var(--color-black);
}
.btn--secondary.btn--underline:hover, .btn--secondary.btn--underline:focus {
  color: var(--color-black);
}
.btn--secondary.btn--underline:hover span, .btn--secondary.btn--underline:focus span {
  border-bottom: 1px solid var(--color-black);
}
.btn--secondary.btn--opacity-decrease {
  padding: 1em 1.7em;
  color: var(--color-white);
  background-color: var(--color-black);
  border: none;
  transition: all 100ms ease-in-out;
}
.btn--secondary.btn--opacity-decrease:hover, .btn--secondary.btn--opacity-decrease:focus {
  opacity: 0.7;
}
.btn--banner.btn--color-swap {
  padding: 1em 1.7em;
  color: var(--color-white);
  background-color: var(--color-black);
}
.btn--banner.btn--color-swap:hover, .btn--banner.btn--color-swap:focus {
  color: var(--color-black);
  background-color: var(--color-white);
}
.btn--banner.btn--grow {
  border: none;
  padding: 1em 1.7em;
  color: var(--color-white);
  background-color: var(--color-black);
}
.btn--banner.btn--grow:hover, .btn--banner.btn--grow:focus {
  transform: scale(1.05);
}
.btn--banner.btn--underline {
  background-color: transparent;
  color: var(--color-white);
  border: none;
}
.btn--banner.btn--underline span {
  border-bottom: 1px solid var(--color-white);
}
.btn--banner.btn--underline:hover, .btn--banner.btn--underline:focus {
  color: var(--color-light-grey);
}
.btn--banner.btn--underline:hover span, .btn--banner.btn--underline:focus span {
  border-bottom: 1px solid var(--color-light-grey);
}
.btn--banner.btn--opacity-decrease {
  padding: 1em 1.7em;
  color: var(--color-white);
  background-color: var(--color-black);
  border: none;
  transition: all 100ms ease-in-out;
}
.btn--banner.btn--opacity-decrease:hover, .btn--banner.btn--opacity-decrease:focus {
  opacity: 0.7;
}
.btn--danger.btn--color-swap {
  padding: 1em 1.7em;
  color: var(--color-white);
  background-color: var(--color-error);
  border: 2px solid var(--color-error);
}
.btn--danger.btn--color-swap:hover, .btn--danger.btn--color-swap:focus {
  color: var(--color-error);
  background-color: transparent;
  border-color: var(--color-error);
}
.btn--danger.btn--grow {
  border: none;
  padding: 1em 1.7em;
  color: var(--color-white);
  background-color: var(--color-error);
}
.btn--danger.btn--grow:hover, .btn--danger.btn--grow:focus {
  transform: scale(1.05);
}
.btn--danger.btn--underline {
  background-color: transparent;
  color: var(--color-black);
  border: none;
}
.btn--danger.btn--underline span {
  border-bottom: 1px solid var(--color-black);
}
.btn--danger.btn--underline:hover, .btn--danger.btn--underline:focus {
  color: var(--color-error);
}
.btn--danger.btn--underline:hover span, .btn--danger.btn--underline:focus span {
  border-bottom: 1px solid var(--color-error);
}
.btn--danger.btn--opacity-decrease {
  padding: 1em 1.7em;
  color: var(--color-white);
  background-color: var(--color-error);
  border: none;
  transition: all 100ms ease-in-out;
}
.btn--danger.btn--opacity-decrease:hover, .btn--danger.btn--opacity-decrease:focus {
  opacity: 0.7;
}
.btn .fa-chevron-left,
.btn .fa-chevron-right {
  display: none;
  transition: left 300ms ease-in-out, right 300ms ease-in-out;
}
.btn--left-arrow .fa-chevron-left {
  display: inline-block;
  position: relative;
  left: 0;
  font-size: 1rem !important;
}
.btn--left-arrow:hover .fa-chevron-left, .btn--left-arrow:focus .fa-chevron-left {
  left: -1rem;
}
.btn--right-arrow .fa-chevron-right {
  display: inline-block;
  position: relative;
  right: 0;
  font-size: 1rem !important;
}
.btn--right-arrow:hover .fa-chevron-right, .btn--right-arrow:focus .fa-chevron-right {
  right: -1rem;
}

body {
  background-color: var(--color-white);
}
body.body--modal-open, body.body--navbar-shown {
  overflow-y: hidden;
  position: fixed;
}