.account {
  padding: 2rem 0;
  background-color: var(--clr-white);
}
.account__title {
  letter-spacing: 1px;
  color: var(--clr-black);
}
.account__logout-btn {
  margin-bottom: 2rem;
  position: relative;
  display: flex;
  justify-content: center;
  gap: 0.5em;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  transition: all 300ms ease-in-out;
  text-decoration: none;
}
.account__logout-btn .fa-chevron-left,
.account__logout-btn .fa-chevron-right {
  display: none;
  transition: left 300ms ease-in-out, right 300ms ease-in-out;
}
.account__logout-btn--color-swap {
  padding: 1em 1.7em;
  color: var(--clr-black);
  background-color: var(--clr-white);
  border: 2px solid var(--clr-black);
}
.account__logout-btn--color-swap:hover {
  color: var(--clr-white);
  background-color: var(--clr-accent);
  border-color: var(--clr-accent);
}
.account__logout-btn--grow {
  padding: 1em 1.7em;
  color: var(--clr-white);
  background-color: var(--clr-accent);
}
.account__logout-btn--grow:hover {
  transform: scale(1.05);
}
.account__logout-btn--underline {
  color: var(--clr-black);
}
.account__logout-btn--underline span {
  border-bottom: 1px solid var(--clr-black);
}
.account__logout-btn--underline:hover {
  color: var(--clr-accent);
}
.account__logout-btn--underline:hover span {
  border-bottom: 1px solid var(--clr-accent);
}
.account__logout-btn--opacity-decrease {
  padding: 1em 1.7em;
  color: var(--clr-white);
  background-color: var(--clr-accent);
  transition: all 100ms ease-in-out;
}
.account__logout-btn--opacity-decrease:hover {
  opacity: 0.7;
}
.account__logout-btn--left-arrow .fa-chevron-left {
  display: inline-block;
  position: relative;
  left: 0;
  font-size: 1rem !important;
}
.account__logout-btn--left-arrow:hover .fa-chevron-left {
  left: -1rem;
}
.account__logout-btn--right-arrow .fa-chevron-right {
  display: inline-block;
  position: relative;
  right: 0;
  font-size: 1rem !important;
}
.account__logout-btn--right-arrow:hover .fa-chevron-right {
  right: -1rem;
}
.account .addresses {
  padding: 0;
}
.account .addresses h2 {
  margin-bottom: 1rem;
  color: var(--clr-black);
}
.account .addresses__address {
  align-items: flex-start;
}
.account__addresses-btn {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 0.5em;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  transition: all 300ms ease-in-out;
  text-decoration: none;
}
.account__addresses-btn .fa-chevron-left,
.account__addresses-btn .fa-chevron-right {
  display: none;
  transition: left 300ms ease-in-out, right 300ms ease-in-out;
}
.account__addresses-btn--color-swap {
  padding: 1em 1.7em;
  color: var(--clr-black);
  background-color: var(--clr-white);
  border: 2px solid var(--clr-black);
}
.account__addresses-btn--color-swap:hover {
  color: var(--clr-white);
  background-color: var(--clr-accent);
  border-color: var(--clr-accent);
}
.account__addresses-btn--grow {
  padding: 1em 1.7em;
  color: var(--clr-white);
  background-color: var(--clr-accent);
}
.account__addresses-btn--grow:hover {
  transform: scale(1.05);
}
.account__addresses-btn--underline {
  color: var(--clr-black);
}
.account__addresses-btn--underline span {
  border-bottom: 1px solid var(--clr-black);
}
.account__addresses-btn--underline:hover {
  color: var(--clr-accent);
}
.account__addresses-btn--underline:hover span {
  border-bottom: 1px solid var(--clr-accent);
}
.account__addresses-btn--opacity-decrease {
  padding: 1em 1.7em;
  color: var(--clr-white);
  background-color: var(--clr-accent);
  transition: all 100ms ease-in-out;
}
.account__addresses-btn--opacity-decrease:hover {
  opacity: 0.7;
}
.account__addresses-btn--left-arrow .fa-chevron-left {
  display: inline-block;
  position: relative;
  left: 0;
  font-size: 1rem !important;
}
.account__addresses-btn--left-arrow:hover .fa-chevron-left {
  left: -1rem;
}
.account__addresses-btn--right-arrow .fa-chevron-right {
  display: inline-block;
  position: relative;
  right: 0;
  font-size: 1rem !important;
}
.account__addresses-btn--right-arrow:hover .fa-chevron-right {
  right: -1rem;
}
.account__order-number {
  transition: color 200ms ease-in-out;
}
.account__order-number:hover {
  color: var(--clr-accent);
}