.faq {
  padding: 4rem 0;
}
.faq__subtitle {
  margin: 2rem auto;
  text-align: center;
}
.faq .accordion {
  padding: 0;
  border: 1px solid var(--clr-light-grey);
}
.faq .accordion__item:first-child {
  border-top: none;
}
.faq .accordion__item:last-child {
  border-bottom: none;
}
.faq .accordion__label {
  background-color: var(--clr-x-light-grey);
}