.cart {
  max-width: 1100px;
  margin: auto;
  padding: 4rem 1rem 2rem;
  background-color: var(--clr-white);
}
.cart__top {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 2rem;
  align-items: center;
  gap: 1rem;
}
.cart__title {
  font-weight: 400;
  font-size: 2rem;
  color: var(--clr-black);
}
.cart__return-btn {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 0.5em;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  transition: all 300ms ease-in-out;
  text-decoration: none;
}
.cart__return-btn .fa-chevron-left,
.cart__return-btn .fa-chevron-right {
  display: none;
  transition: left 300ms ease-in-out, right 300ms ease-in-out;
}
.cart__return-btn--color-swap {
  padding: 1em 1.7em;
  color: var(--clr-black);
  background-color: var(--clr-white);
  border: 2px solid var(--clr-black);
}
.cart__return-btn--color-swap:hover {
  color: var(--clr-white);
  background-color: var(--clr-accent);
  border-color: var(--clr-accent);
}
.cart__return-btn--grow {
  padding: 1em 1.7em;
  color: var(--clr-white);
  background-color: var(--clr-accent);
}
.cart__return-btn--grow:hover {
  transform: scale(1.05);
}
.cart__return-btn--underline {
  color: var(--clr-black);
}
.cart__return-btn--underline span {
  border-bottom: 1px solid var(--clr-black);
}
.cart__return-btn--underline:hover {
  color: var(--clr-accent);
}
.cart__return-btn--underline:hover span {
  border-bottom: 1px solid var(--clr-accent);
}
.cart__return-btn--opacity-decrease {
  padding: 1em 1.7em;
  color: var(--clr-white);
  background-color: var(--clr-accent);
  transition: all 100ms ease-in-out;
}
.cart__return-btn--opacity-decrease:hover {
  opacity: 0.7;
}
.cart__return-btn--left-arrow .fa-chevron-left {
  display: inline-block;
  position: relative;
  left: 0;
  font-size: 1rem !important;
}
.cart__return-btn--left-arrow:hover .fa-chevron-left {
  left: -1rem;
}
.cart__return-btn--right-arrow .fa-chevron-right {
  display: inline-block;
  position: relative;
  right: 0;
  font-size: 1rem !important;
}
.cart__return-btn--right-arrow:hover .fa-chevron-right {
  right: -1rem;
}
.cart table {
  width: 100%;
  margin: 0 auto 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--clr-light-grey);
  border-spacing: 0;
}
.cart__headings tr {
  display: flex;
  justify-content: space-between;
  color: var(--clr-dark-grey);
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--clr-light-grey);
}
@media only screen and (min-width: 750px) {
  .cart__headings tr {
    display: table-row;
  }
}
@media only screen and (min-width: 750px) {
  .cart__headings th {
    border-bottom: 1px solid var(--clr-light-grey);
    padding-bottom: 1rem;
  }
}
@media only screen and (min-width: 750px) {
  .cart__headings th + th {
    padding-left: 2rem;
  }
}
.cart__product-heading, .cart__quantity-heading {
  text-align: start;
}
.cart__total-heading, .cart__price-heading {
  text-align: end;
}
.cart__quantity-heading, .cart__total-heading {
  display: none;
}
@media only screen and (min-width: 750px) {
  .cart__quantity-heading, .cart__total-heading {
    display: table-cell;
  }
}
.cart__product {
  width: 100%;
  display: grid;
  margin: 2rem 0 0;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-template-areas: "img details details price" "img details details price" "img quantity quantity remove";
  gap: 0.5rem;
}
@media only screen and (min-width: 750px) {
  .cart__product {
    display: table-row;
  }
  .cart__product td {
    padding-top: 2rem;
    vertical-align: top;
  }
}
@media only screen and (min-width: 750px) and (min-width: 750px) {
  .cart__product td + td {
    padding-left: 2rem;
  }
}
.cart__product-img-container {
  grid-area: img;
}
.cart__product-img {
  width: 75px;
  height: 45px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: top center;
     object-position: top center;
}
.cart__product-details {
  grid-area: details;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.cart__product-variant {
  color: var(--clr-dark-grey);
  font-size: 0.9rem;
}
.cart__product-totals {
  text-align: right;
  grid-area: remove;
  align-self: flex-end;
}
.cart__product-price-total {
  display: none;
}
@media only screen and (min-width: 750px) {
  .cart__product-price-total {
    display: block;
  }
}
.cart__product-remove-btn {
  display: inline-block;
  margin-top: 1.5rem;
  color: var(--clr-black);
  transition: color 300ms ease-in-out;
}
.cart__product-remove-btn:hover {
  color: var(--clr-red);
}
.cart__product-price {
  text-align: right;
  grid-area: price;
}
.cart__product-quantity-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.3rem;
  grid-area: quantity;
}
@media only screen and (min-width: 750px) {
  .cart__product-quantity-container {
    display: table-cell;
  }
}
.cart__product-quantity-container label {
  font-size: 0.9rem;
}
@media only screen and (min-width: 750px) {
  .cart__product-quantity-container label {
    display: none;
  }
}
.cart__product-quantity {
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 1px solid var(--clr-black);
  justify-content: center;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  padding: 0.8rem 1.25rem;
}
.cart__product-quantity button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}
.cart__product-quantity button i {
  font-size: 0.8rem;
  color: var(--clr-black);
  transition: all 200ms ease-in-out;
}
.cart__product-quantity button i:hover {
  color: var(--clr-accent);
}
.cart__product-quantity-picker {
  border: none;
  outline: none;
  background-color: transparent;
  pointer-events: none;
  width: 40px;
  width: 30px;
  font-size: 0.8rem;
  text-align: center;
  color: var(--clr-black);
}
.cart__subtotal {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.2rem;
}
@media only screen and (min-width: 750px) {
  .cart__subtotal {
    align-items: flex-end;
  }
}
.cart__totals {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.cart__subtotal-heading {
  font-size: 1.1em;
}
.cart__subtotal-amount {
  font-size: 1.1em;
  letter-spacing: 1px;
}
.cart__subtotal-disclaimer {
  color: var(--clr-dark-grey);
  font-size: 0.8rem;
}
.cart__checkout-btn {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 0.5em;
  align-items: center;
  width: 100%;
  max-width: 300px;
  transition: all 300ms ease-in-out;
  text-decoration: none;
}
.cart__checkout-btn .fa-chevron-left,
.cart__checkout-btn .fa-chevron-right {
  display: none;
  transition: left 300ms ease-in-out, right 300ms ease-in-out;
}
.cart__checkout-btn--color-swap {
  padding: 1em 1.7em;
  color: var(--clr-black);
  background-color: var(--clr-white);
  border: 2px solid var(--clr-black);
}
.cart__checkout-btn--color-swap:hover {
  color: var(--clr-white);
  background-color: var(--clr-accent);
  border-color: var(--clr-accent);
}
.cart__checkout-btn--grow {
  padding: 1em 1.7em;
  color: var(--clr-white);
  background-color: var(--clr-accent);
}
.cart__checkout-btn--grow:hover {
  transform: scale(1.05);
}
.cart__checkout-btn--underline {
  color: var(--clr-black);
}
.cart__checkout-btn--underline span {
  border-bottom: 1px solid var(--clr-black);
}
.cart__checkout-btn--underline:hover {
  color: var(--clr-accent);
}
.cart__checkout-btn--underline:hover span {
  border-bottom: 1px solid var(--clr-accent);
}
.cart__checkout-btn--opacity-decrease {
  padding: 1em 1.7em;
  color: var(--clr-white);
  background-color: var(--clr-accent);
  transition: all 100ms ease-in-out;
}
.cart__checkout-btn--opacity-decrease:hover {
  opacity: 0.7;
}
.cart__checkout-btn--left-arrow .fa-chevron-left {
  display: inline-block;
  position: relative;
  left: 0;
  font-size: 1rem !important;
}
.cart__checkout-btn--left-arrow:hover .fa-chevron-left {
  left: -1rem;
}
.cart__checkout-btn--right-arrow .fa-chevron-right {
  display: inline-block;
  position: relative;
  right: 0;
  font-size: 1rem !important;
}
.cart__checkout-btn--right-arrow:hover .fa-chevron-right {
  right: -1rem;
}