<!-- Start Double Image Banner -->
<div
class="double-image-banner double-image-banner--align-horizontal-center double-image-banner--align-vertical-bottom">
<div class="double-image-banner__left">
    <img src="/assets/mic-9-b.png" alt="gold microphone" loading="lazy" class="double-image-banner__bg" />

    <div class="double-image-banner__content-container">
        <div class="double-image-banner__info">
            <h1 class="double-image-banner__heading xl-heading">Unmatched Quality</h1>

            <a href="#" class="btn btn--primary btn--grow">
                <i class="fas fa-chevron-left"></i>
                <span>Shop Now</span>
                <i class="fas fa-chevron-right"></i>
            </a>
        </div>
    </div>
</div>

<div class="double-image-banner__right">
    <img src="/assets/singing-9.png" alt="man with locs singing" loading="lazy"
        class="double-image-banner__bg" />

    <div class="double-image-banner__content-container">
        <div class="double-image-banner__info">
            <h1 class="double-image-banner__heading xl-heading">Next Level Sound</h1>

            <a href="#" class="btn btn--primary btn--grow">
                <i class="fas fa-chevron-left"></i>
                <span>Shop Now</span>
                <i class="fas fa-chevron-right"></i>
            </a>
        </div>
    </div>
</div>
</div>
<!-- End Double Image Banner -->