<!-- Start Slideshow -->
<div class="slideshow slideshow--50">

    <div class="slideshow__slide slideshow__slide--active">
        <div class="slideshow__slide-overlay"></div>

        <div class="slideshow__slide-img-container">
            <img src="/demo-fashion/assets/woman-blouse-bucket-hat.jpeg" class="slideshow__slide-img" />
        </div>

        <div
            class="slideshow__slide-content slideshow__slide-content--align-horizontal-center slideshow__slide-content--align-vertical-center">
            <div class="slideshow__slide-info slideshow__slide-info--align-text-center">
                <h1 class="slideshow__slide-heading xl-heading">Exactly What You Need</h1>

                <p class="slideshow__slide-subheading">At this point, there's no competition</p>

                <a href="/demo-fashion/pages/shop/product.html" class="btn btn--banner btn--color-swap">
                    <i class="fas fa-chevron-left"></i>
                    <span>Shop Now</span>
                    <i class="fas fa-chevron-right"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="slideshow__slide">
        <div class="slideshow__slide-overlay"></div>

        <div class="slideshow__slide-img-container">
            <img src="/demo-fashion/assets/woman-black-dress-yellow-car.jpeg" class="slideshow__slide-img" loading="lazy" />
        </div>

        <div
            class="slideshow__slide-content slideshow__slide-content--align-horizontal-center slideshow__slide-content--align-vertical-center">
            <div class="slideshow__slide-info slideshow__slide-info--align-text-center">
                <h1 class="slideshow__slide-heading xl-heading">The Future of Audio</h1>

                <p class="slideshow__slide-subheading">No compromises, only quality</p>

                <a href="/demo-fashion/pages/shop/product.html" class="btn btn--banner btn--color-swap">
                    <i class="fas fa-chevron-left"></i>
                    <span>Shop Now</span>
                    <i class="fas fa-chevron-right"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="slideshow__slide">
        <div class="slideshow__slide-overlay"></div>

        <div class="slideshow__slide-img-container">
            <img src="/demo-fashion/assets/woman-blazer.jpeg" class="slideshow__slide-img" loading="lazy" />
        </div>

        <div
            class="slideshow__slide-content slideshow__slide-content--align-horizontal-center slideshow__slide-content--align-vertical-center">
            <div class="slideshow__slide-info slideshow__slide-info--align-text-center">
                <h1 class="slideshow__slide-heading xl-heading">Superior Sound</h1>

                <p class="slideshow__slide-subheading">Best in class microphones</p>

                <a href="/demo-fashion/pages/shop/product.html" class="btn btn--banner btn--color-swap">
                    <i class="fas fa-chevron-left"></i>
                    <span>Shop Now</span>
                    <i class="fas fa-chevron-right"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="slideshow__indicators">
        <div class="slideshow__indicator slideshow__indicator--active"></div>
        <div class="slideshow__indicator"></div>
        <div class="slideshow__indicator"></div>
    </div>
</div>
<!-- End Slideshow -->