@use '/demo-fashion/abstracts';
@use '/demo-fashion/base';
@use '/demo-fashion/layouts';
@use '/demo-fashion/components';




body {
  background-color: var(--color-white);

  &.body {
    &--modal-open,
    &--navbar-shown {
      overflow-y: hidden;
      position: fixed;
    }
  }
}