<!-- Start Video Banner -->
<div class="video-banner video-banner--align-center video-banner--middle">

    <iframe
        src="https://www.youtube.com/embed/_9VUPq3SxOc?autoplay=1&loop=1&mute=1&controls=0&disablekb=1&iv_load_policy=3&modestbranding=1&playlist=_9VUPq3SxOc"
        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
        class="video-banner__bg"></iframe>
    <div class="video-banner__content-container">
        <div class="video-banner__info">
            <h1 class="video-banner__title">Dummy Title</h1>
            <p class="video-banner__paragraph">I&apos;m baby salvia yr knausgaard activated charcoal succulents keytar
                art
                party before they sold out cronut kickstarter truffaut church-key paleo seitan.</p>
            <a href="#" class="video-banner__btn video-banner__btn--color-swap">
                <i class="fas fa-chevron-left"></i>
                <span>View More</span>
                <i class="fas fa-chevron-right"></i>
            </a>
        </div>
    </div>
</div>
<!-- End Video Banner -->