<!-- Start Multicolumn -->
<div class="multicolumn multicolumn--align-left">
    <div class="container">
        <h2 class="multicolumn__heading subheading">Multicolumn</h2>

        <div class="multicolumn__columns row">
            <div class="column col-sm-6 col-md-4">
                <div class="column__inner-container">
                    <div class="column__img-container">
                        <img src="https://images.pexels.com/photos/1599941/pexels-photo-1599941.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"  class="column__img" loading="lazy" />
                    </div>

                    <h3 class="column__heading body">Column Heading</h3>

                    <p class="column__text">Cliche raw denim cronut raclette umami literally cornhole. Marfa cray
                        succulents celiac godard mixtape. Freegan craft beer plaid waistcoat. Chillwave brooklyn
                        seitan whatever plaid.</p>

                    <a href="#" class="btn btn--primary btn--underline">
                        <i class="fas fa-chevron-left"></i>
                        <span>View more</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </div>
            </div>

            <div class="column col-sm-6 col-md-4">
                <div class="column__inner-container">
                    <div class="column__img-container">
                        <img src="https://images.pexels.com/photos/2883250/pexels-photo-2883250.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"  class="column__img" loading="lazy" />
                    </div>

                    <h3 class="column__heading body">Column Heading</h3>

                    <p class="column__text">Cliche raw denim cronut raclette umami literally cornhole. Marfa cray
                        succulents celiac godard mixtape. Freegan craft beer plaid waistcoat. Chillwave brooklyn
                        seitan whatever plaid.</p>

                    <a href="#" class="btn btn--primary btn--underline">
                        <i class="fas fa-chevron-left"></i>
                        <span>View more</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </div>
            </div>

            <div class="column col-sm-6 col-md-4">
                <div class="column__inner-container">
                    <div class="column__img-container">
                        <img src="https://images.pexels.com/photos/1854862/pexels-photo-1854862.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"  class="column__img" loading="lazy" />
                    </div>

                    <h3 class="column__heading body">Column Heading</h3>

                    <p class="column__text">Cliche raw denim cronut raclette umami literally cornhole. Marfa cray
                        succulents celiac godard mixtape. Freegan craft beer plaid waistcoat. Chillwave brooklyn
                        seitan whatever plaid.</p>

                    <a href="#" class="btn btn--primary btn--underline">
                        <i class="fas fa-chevron-left"></i>
                        <span>View more</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </div>
            </div>
        </div>

        <a href="#" class="btn btn--secondary btn--color-swap multicolumn__btn">
            <i class="fas fa-chevron-left"></i>
            <span>View more</span>
            <i class="fas fa-chevron-right"></i>
        </a>
    </div>
</div>
<!-- End Multicolumn -->