<!-- Start Featured Product -->
<div class="featured-product">
    <div class="featured-product__product-container">
        <div class="featured-product__product-slideshow">
            <div class="featured-product__product-slideshow-container">
                <div class="featured-product__sale-badge">
                    <span class="featured-product__sale-text">Sale</span>
                </div>
                <div class="featured-product__product-slide featured-product__product-slide--active">
                    <img src="/assets/mic-2-a.png"
                        class="featured-product__product-img" />
                </div>
                <div class="featured-product__product-slide">
                    <img src="/assets/mic-2-b.png"
                        class="featured-product__product-img" />
                </div>
                <div class="featured-product__product-slide">
                    <img src="/assets/mic-2-c.png"
                        class="featured-product__product-img" />
                </div>
                <div class="featured-product__product-slide">
                    <img src="/assets/mic-2-d.png"
                        class="featured-product__product-img" />
                </div>
                <div class="featured-product__product-slide">
                    <img src="/assets/mic-2-e.png"
                        class="featured-product__product-img" />
                </div>

                <div class="featured-product__product-slideshow-indicators">
                    <div
                        class="featured-product__product-slideshow-indicator featured-product__product-slideshow-indicator--active">
                    </div>
                    <div class="featured-product__product-slideshow-indicator"></div>
                    <div class="featured-product__product-slideshow-indicator"></div>
                    <div class="featured-product__product-slideshow-indicator"></div>
                    <div class="featured-product__product-slideshow-indicator"></div>
                </div>
            </div>

            <div class="featured-product__product-img-alternates">
                <img src="/assets/mic-2-a.png"
                    class="featured-product__product-img-alternate featured-product__product-img-alternate--active" />
                <img src="/assets/mic-2-b.png"
                    class="featured-product__product-img-alternate" />
                <img src="/assets/mic-2-c.png"
                    class="featured-product__product-img-alternate" />
                <img src="/assets/mic-2-d.png"
                    class="featured-product__product-img-alternate" />
                <img src="/assets/mic-2-e.png"
                    class="featured-product__product-img-alternate" />
            </div>


        </div>
    </div>

    <div class="featured-product__product-info-container">
        <h1 class="featured-product__product-name">&quot;Voice Of God&quot; Microphone</h1>
        <div class="featured-product__product-prices">
            <p class="featured-product__product-compare-price">$50,000,000,000</p>
            <p class="featured-product__product-price">$5,000,000,000</p>
        </div>
        <div class="featured-product__product-variant-options">
            <div class="featured-product__product-variants-container">
                <div class="featured-product__product-variant-label">Size</div>
                <div class="featured-product__product-variants">
                    <div class="featured-product__product-variant">
                        <input type="radio" name="size" id="small" />
                        <label for="small">S</label>
                    </div>
                    <div class="featured-product__product-variant">
                        <input type="radio" name="size" id="medium" />
                        <label for="medium">M</label>
                    </div>
                    <div class="featured-product__product-variant">
                        <input type="radio" name="size" id="large" />
                        <label for="large">L</label>
                    </div>
                </div>
            </div>
            <div class="featured-product__product-variants-container">
                <div class="featured-product__product-variant-label">Color</div>
                <div class="featured-product__product-variants">
                    <div class="featured-product__product-variant">
                        <input type="radio" name="color" id="black" />
                        <label for="black">Black</label>
                    </div>
                    <div class="featured-product__product-variant">
                        <input type="radio" name="color" id="white" />
                        <label for="white">White</label>
                    </div>
                    <div class="featured-product__product-variant">
                        <input type="radio" name="color" id="chrome" />
                        <label for="chrome">Chrome</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="featured-product__product-buttons">
            <a href="#" class="featured-product__add-to-cart-btn featured-product__add-to-cart-btn--color-swap">
                <i class="fas fa-chevron-left"></i>
                <span>Add to cart</span>
                <i class="fas fa-chevron-right"></i>
            </a>
            <a href="#" class="featured-product__buy-now-btn featured-product__buy-now-btn--opacity-decrease">
                <i class="fas fa-chevron-left"></i>
                <span>Buy it now</span>
                <i class="fas fa-chevron-right"></i>
            </a>

            <div class="featured-product__share-btns">
                <a href="#" class="featured-product__share-btn"><i class="fab fa-facebook"></i></a>
                <a href="#" class="featured-product__share-btn"><i class="fab fa-pinterest"></i></a>
                <a href="#" class="featured-product__share-btn"><i class="fab fa-twitter"></i></a>
            </div>

            <a href="#"
                class="featured-product__view-more-btn featured-product__view-more-btn--underline featured-product__view-more-btn--right-arrow">
                <i class="fas fa-chevron-left"></i>
                <span>View more</span>
                <i class="fas fa-chevron-right"></i>
            </a>
        </div>
    </div>
</div>
<!-- End Featured Product -->