<!-- Start Article -->
<div class="article">
    <div class="article__featured-img-container">
        <img src="/assets/singing-9.png"
            alt="" class="article__featured-img" />
    </div>
    <h1 class="article__title">Article Title</h1>
    <div class="article__date-and-author">
        <span class="article__date">Sep, 2021</span>
        <span class="article__author article__author--with-date">Abdo</span>
    </div>
    <div class="article__content">
        <p>Stumptown chicharrones bespoke drinking vinegar microdosing truffaut chambray bitters franzen slow-carb.
            Fingerstache kinfolk organic, gastropub ramps letterpress twee.</p>
    </div>
    <div class="article__share-btns">
        <a href="#" class="article__share-btn">
            <i class="fab fa-facebook"></i>
            <span>Share</span>
        </a>
        <a href="#" class="article__share-btn">
            <i class="fab fa-twitter"></i>
            <span>Share</span>
        </a>
        <a href="#" class="article__share-btn">
            <i class="fab fa-instagram"></i>
            <span>Share</span>
        </a>
    </div>

    <a href="/pages/blog/blog.html" class="article__return-btn article__return-btn--underline article__return-btn--left-arrow">
        <i class="fas fa-chevron-left"></i>
        <span>Back to blog</span>
        <i class="fas fa-chevron-right"></i>
    </a>

    <h3 class="article__description-title">Featured Image 50% Height</h3>
    <div class="article__featured-img-container article__featured-img-container--50">
        <img src="/assets/singing-9.png"
            alt="" class="article__featured-img" />
    </div>
    <h1 class="article__title">Article Title</h1>
    <div class="article__date-and-author">
        <span class="article__date">Sep, 2021</span>
        <span class="article__author article__author--with-date">Abdo</span>
    </div>
    <div class="article__content">
        <p>Stumptown chicharrones bespoke drinking vinegar microdosing truffaut chambray bitters franzen slow-carb.
            Fingerstache kinfolk organic, gastropub ramps letterpress twee.</p>
    </div>
    <div class="article__share-btns">
        <a href="#" class="article__share-btn">
            <i class="fab fa-facebook"></i>
            <span>Share</span>
        </a>
        <a href="#" class="article__share-btn">
            <i class="fab fa-twitter"></i>
            <span>Share</span>
        </a>
        <a href="#" class="article__share-btn">
            <i class="fab fa-instagram"></i>
            <span>Share</span>
        </a>
    </div>

    <a href="#" class="article__return-btn article__return-btn--underline article__return-btn--left-arrow">
        <i class="fas fa-chevron-left"></i>
        <span>Back to blog</span>
        <i class="fas fa-chevron-right"></i>
    </a>

</div>
<!-- End Article -->