<!-- Start Double Image Banner -->
<div class="double-image-banner double-image-banner--align-center double-image-banner--bottom">
    <div class="double-image-banner__collection1">
        <img src="/assets/mic-3-b.png"
            class="double-image-banner__bg" />
        <div class="double-image-banner__content-container">
            <div class="double-image-banner__info">
                <h1 class="double-image-banner__title">Unparalleled Quality</h1>
                <a href="#" class="double-image-banner__btn double-image-banner__btn--color-swap">
                    <i class="fas fa-chevron-left"></i>
                    <span>View More</span>
                    <i class="fas fa-chevron-right"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="double-image-banner__collection2">
        <img src="/assets/singing-9.png"
            class="double-image-banner__bg" />
        <div class="double-image-banner__content-container">
            <div class="double-image-banner__info">
                <h1 class="double-image-banner__title">Unparalleled Quality</h1>
                <a href="#" class="double-image-banner__btn double-image-banner__btn--color-swap">
                    <i class="fas fa-chevron-left"></i>
                    <span>View More</span>
                    <i class="fas fa-chevron-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- End Double Image Banner -->