<!-- Start Blog -->
<div class="blog">
    <div class="container">
        <h2 class="blog__title xl-heading">Latest News</h2>
        <div class="blog__grid row">
            <div class="blog__article-container col-sm-6 col-lg-4">
                <div class="blog__article">
                    <a href="#" class="blog__article-img-container">
                        <img src="/assets/woman-green-romper.jpeg"  class="blog__article-img" />
                    </a>

                    <h3 class="blog__article-title">Trends coming next year</h3>

                    <div class="blog__article-date-and-author small">
                        <span class="blog__article-date placeholder-date">Sep, 2021</span>
                        <span class="blog__article-author blog__article-author-with-date">Billy Jean</span>
                    </div>

                    <div class="blog__article-content">
                        <p class="blog__article-excerpt">You won't want to miss this</p>
                    </div>

                    <a href="/pages/blog/article.html" class="btn btn--primary btn--underline btn--right-arrow">
                        <i class="fas fa-chevron-left"></i>
                        <span>Read more</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </div>
            </div>

            <div class="blog__article-container col-sm-6 col-lg-4">
                <div class="blog__article">
                    <a href="#" class="blog__article-img-container">
                        <img src="/assets/white-shirt-2.jpg"  class="blog__article-img" />
                    </a>

                    <h3 class="blog__article-title">Use this technique to always be relevant</h3>

                    <div class="blog__article-date-and-author small">
                        <span class="blog__article-date placeholder-date">Sep, 2021</span>
                        <span class="blog__article-author blog__article-author-with-date">Billy Jean</span>
                    </div>

                    <div class="blog__article-content">
                        <p class="blog__article-excerpt">A little effort goes a long way</p>
                    </div>

                    <a href="/pages/blog/article.html" class="btn btn--primary btn--underline btn--right-arrow">
                        <i class="fas fa-chevron-left"></i>
                        <span>Read more</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </div>
            </div>

            <div class="blog__article-container col-sm-6 col-lg-4">
                <div class="blog__article">
                    <a href="#" class="blog__article-img-container">
                        <img src="/assets/rocks.jpeg"  class="blog__article-img" />
                    </a>

                    <h3 class="blog__article-title">Best ways to relieve stress</h3>

                    <div class="blog__article-date-and-author small">
                        <span class="blog__article-date placeholder-date">Sep, 2021</span>
                        <span class="blog__article-author blog__article-author-with-date">Billy Jean</span>
                    </div>

                    <div class="blog__article-content">
                        <p class="blog__article-excerpt">Your health is your wealth</p>
                    </div>

                    <a href="/pages/blog/article.html" class="btn btn--primary btn--underline btn--right-arrow">
                        <i class="fas fa-chevron-left"></i>
                        <span>Read more</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </div>
            </div>

            <div class="blog__article-container col-sm-6 col-lg-4">
                <div class="blog__article">
                    <a href="#" class="blog__article-img-container">
                        <img src="/assets/shooting-star.jpeg"  class="blog__article-img" />
                    </a>

                    <h3 class="blog__article-title">How to become a billionaire</h3>

                    <div class="blog__article-date-and-author small">
                        <span class="blog__article-date placeholder-date">Sep, 2021</span>
                        <span class="blog__article-author blog__article-author-with-date">Billy Jean</span>
                    </div>

                    <div class="blog__article-content">
                        <p class="blog__article-excerpt">Be born rich</p>
                    </div>

                    <a href="/pages/blog/article.html" class="btn btn--primary btn--underline btn--right-arrow">
                        <i class="fas fa-chevron-left"></i>
                        <span>Read more</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </div>
            </div>

            <div class="blog__article-container col-sm-6 col-lg-4">
                <div class="blog__article">
                    <a href="#" class="blog__article-img-container">
                        <img src="/assets/woman-sitting-bridge.jpeg"  class="blog__article-img" />
                    </a>

                    <h3 class="blog__article-title">Places you have to visit</h3>

                    <div class="blog__article-date-and-author small">
                        <span class="blog__article-date placeholder-date">Sep, 2021</span>
                        <span class="blog__article-author blog__article-author-with-date">Billy Jean</span>
                    </div>

                    <div class="blog__article-content">
                        <p class="blog__article-excerpt">Travel the world while you still can</p>
                    </div>

                    <a href="/pages/blog/article.html" class="btn btn--primary btn--underline btn--right-arrow">
                        <i class="fas fa-chevron-left"></i>
                        <span>Read more</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </div>
            </div>

            <div class="blog__article-container col-sm-6 col-lg-4">
                <div class="blog__article">
                    <a href="#" class="blog__article-img-container">
                        <img src="/assets/woman-black-hat.jpeg"  class="blog__article-img" />
                    </a>

                    <h3 class="blog__article-title">How to organize your life</h3>

                    <div class="blog__article-date-and-author small">
                        <span class="blog__article-date placeholder-date">Sep, 2021</span>
                        <span class="blog__article-author blog__article-author-with-date">Billy Jean</span>
                    </div>

                    <div class="blog__article-content">
                        <p class="blog__article-excerpt">It's easier than you think</p>
                    </div>

                    <a href="/pages/blog/article.html" class="btn btn--primary btn--underline btn--right-arrow">
                        <i class="fas fa-chevron-left"></i>
                        <span>Read more</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Blog -->