<!-- Start Product Grid -->
<div class="product-grid">
    <div class="container">
        <h2 class="product-grid__title subheading">Latest Arrivals</h2>
        <div class="product-grid__grid product-grid__grid--scale-image product-grid__grid--alternate-image row">
            <a href="/demo-electronics/pages/shop/product-on-sale.html"
                class="product-grid__product product-grid__product--on-sale col-sm-6 col-md-4 col-lg-3">
                <div class="product-grid__product-badge product-grid__product-badge--on-sale">
                    <span class="product-grid__product-badge-text">Sale</span>
                </div>
                <div class="product-grid__product-img-container">
                    <img src="/demo-electronics/assets/mic-2-b.png" alt=""
                        class="product-grid__product-img product-grid__product-img--primary" />
                    <img src="/demo-electronics/assets/mic-2-a.png" alt=""
                        class="product-grid__product-img product-grid__product-img--secondary" />
                </div>
                <div class="product-grid__product-info">
                    <p class="product-grid__product-vendor small">Vendor</p>
                    <span class="product-grid__product-title">Microphone
                    </span>
                    <div class="product-grid__product-prices">
                        <span class="product-grid__product-compare-price">$299.00</span>
                        <span class="product-grid__product-price">$99.00</span>
                    </div>
                </div>
            </a>

            <a href="/demo-electronics/pages/shop/product.html"
                class="product-grid__product col-sm-6 col-md-4 col-lg-3">
                
                <div class="product-grid__product-img-container">
                    <img src="/demo-electronics/assets/mic-8-a.png" alt=""
                        class="product-grid__product-img product-grid__product-img--primary" />
                    <img src="/demo-electronics/assets/mic-8-c.png" alt=""
                        class="product-grid__product-img product-grid__product-img--secondary" />
                </div>

                <div class="product-grid__product-info">
                    <p class="product-grid__product-vendor small">Vendor</p>
                    <span class="product-grid__product-title">Microphone
                    </span>
                    <div class="product-grid__product-prices">
                        <span class="product-grid__product-price">$99.00</span>
                    </div>
                </div>
            </a>

            <a href="/demo-electronics/pages/shop/product-sold-out.html"
                class="product-grid__product product-grid__product--sold-out col-sm-6 col-md-4 col-lg-3">
                <div class="product-grid__product-badge product-grid__product-badge--sold-out">
                    <span class="product-grid__product-badge-text">Sold Out</span>
                </div>

                <div class="product-grid__product-img-container">
                    <img src="/demo-electronics/assets/mic-6-c.png" alt=""
                        class="product-grid__product-img product-grid__product-img--primary" />
                    <img src="/demo-electronics/assets/mic-6-d.png" alt=""
                        class="product-grid__product-img product-grid__product-img--secondary" />
                </div>

                <div class="product-grid__product-info">
                    <p class="product-grid__product-vendor small">Vendor</p>
                    <span class="product-grid__product-title">Microphone
                    </span>
                    <div class="product-grid__product-prices">
                        <span class="product-grid__product-price">$99.00</span>
                    </div>
                </div>
            </a>

            <a href="/demo-electronics/pages/shop/product.html"
                class="product-grid__product col-sm-6 col-md-4 col-lg-3">
                <div class="product-grid__product-img-container">
                    <img src="/demo-electronics/assets/mic-3-c.png" alt=""
                        class="product-grid__product-img product-grid__product-img--primary" />
                    <img src="/demo-electronics/assets/mic-3-e.png" alt=""
                        class="product-grid__product-img product-grid__product-img--secondary" />
                </div>

                <div class="product-grid__product-info">
                    <p class="product-grid__product-vendor small">Vendor</p>
                    <span class="product-grid__product-title">Microphone
                    </span>
                    <div class="product-grid__product-prices">
                        <span class="product-grid__product-price">$99.00</span>
                    </div>
                </div>
            </a>

            <a href="/demo-electronics/pages/shop/product-sold-out.html"
                class="product-grid__product product-grid__product--sold-out col-sm-6 col-md-4 col-lg-3">
                <div class="product-grid__product-badge product-grid__product-badge--sold-out">
                    <span class="product-grid__product-badge-text">Sold Out</span>
                </div>

                <div class="product-grid__product-img-container">
                    <img src="/demo-electronics/assets/mic-9-c.png" alt=""
                        class="product-grid__product-img product-grid__product-img--primary" />
                    <img src="/demo-electronics/assets/mic-9-d.png" alt=""
                        class="product-grid__product-img product-grid__product-img--secondary" />
                </div>

                <div class="product-grid__product-info">
                    <p class="product-grid__product-vendor small">Vendor</p>
                    <span class="product-grid__product-title">Microphone
                    </span>
                    <div class="product-grid__product-prices">
                        <span class="product-grid__product-price">$99.00</span>
                    </div>
                </div>
            </a>

            <a href="/demo-electronics/pages/shop/product.html"
                class="product-grid__product col-sm-6 col-md-4 col-lg-3">
                <div class="product-grid__product-img-container">
                    <img src="/demo-electronics/assets/mic-7-b.png" alt=""
                        class="product-grid__product-img product-grid__product-img--primary" />
                    <img src="/demo-electronics/assets/mic-7-a.png" alt=""
                        class="product-grid__product-img product-grid__product-img--secondary" />
                </div>

                <div class="product-grid__product-info">
                    <p class="product-grid__product-vendor small">Vendor</p>
                    <span class="product-grid__product-title">Microphone
                    </span>
                    <div class="product-grid__product-prices">
                        <span class="product-grid__product-price">$99.00</span>
                    </div>
                </div>
            </a>

            <a href="/demo-electronics/pages/shop/product.html"
                class="product-grid__product col-sm-6 col-md-4 col-lg-3">
                <div class="product-grid__product-img-container">
                    <img src="/demo-electronics/assets/mic-10-b.png" alt=""
                        class="product-grid__product-img product-grid__product-img--primary" />
                    <img src="/demo-electronics/assets/mic-10-a.png" alt=""
                        class="product-grid__product-img product-grid__product-img--secondary" />
                </div>

                <div class="product-grid__product-info">
                    <p class="product-grid__product-vendor small">Vendor</p>
                    <span class="product-grid__product-title">Microphone
                    </span>
                    <div class="product-grid__product-prices">
                        <span class="product-grid__product-price">$99.00</span>
                    </div>
                </div>
            </a>

            <a href="/demo-electronics/pages/shop/product-on-sale.html"
                class="product-grid__product product-grid__product--on-sale col-sm-6 col-md-4 col-lg-3">
                <div class="product-grid__product-badge product-grid__product-badge--on-sale">
                    <span class="product-grid__product-badge-text">Sale</span>
                </div>
                <div class="product-grid__product-img-container">
                    <img src="/demo-electronics/assets/mic-5-c.png" alt=""
                        class="product-grid__product-img product-grid__product-img--primary" />
                    <img src="/demo-electronics/assets/mic-5-b.png" alt=""
                        class="product-grid__product-img product-grid__product-img--secondary" />
                </div>
                <div class="product-grid__product-info">
                    <p class="product-grid__product-vendor small">Vendor</p>
                    <span class="product-grid__product-title">Microphone
                    </span>
                    <div class="product-grid__product-prices">
                        <span class="product-grid__product-compare-price">$299.00</span>
                        <span class="product-grid__product-price">$99.00</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<!-- End Product Grid -->