<!-- Start Login -->
<div class="login">
    <div class="login__container container">
        <h2 class="login__heading heading">Login</h2>
        <div class="login__form">
            <div class="text-field">
                <input type="email" id="login-email" class="text-field__input" placeholder="" />
                <label for="login-email" class="text-field__label">Email</label>
            </div>
            <div class="text-field">
                <input type="password" id="login-password" class="text-field__input" placeholder="" />
                <label for="login-password" class="text-field__label">Password</label>
            </div>

            <a href="/pages/customer/reset-password.html" class="btn btn--primary btn--underline">
                <i class="fas fa-chevron-left"></i>
                <span>Forgot your password?</span>
                <i class="fas fa-chevron-right"></i>
            </a>

            <div class="login__buttons">
                <a href="/pages/customer/account.html" class="btn btn--primary btn--opacity-decrease login__submit">
                    <i class="fas fa-chevron-left"></i>
                    <span>Sign in</span>
                    <i class="fas fa-chevron-right"></i>
                </a>

                <a href="/pages/customer/register.html" class="btn btn--primary btn--underline">
                    <i class="fas fa-chevron-left"></i>
                    <span>Create account</span>
                    <i class="fas fa-chevron-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- End Login -->