<!-- Start Collection List -->
<div class="collection-list">
    <div class="container">
        <h2 class="collection-list__heading subheading">New Arrivals</h2>
        <div class="collection-list__collections row">
            <a href="/pages/shop/collection.html" class="featured-collection__container col-sm-6 col-md-4 col-lg-3">
                <div class="featured-collection">
                    <div class="featured-collection__img-container">
                        <img src="/assets/turtleneck.jpeg" class="featured-collection__img" loading="lazy" />
                        <div class="featured-collection__img-overlay"></div>
                    </div>
                    <h3 class="featured-collection__title subheading">Turtlenecks</h3>
                </div>
            </a>

            <a href="/pages/shop/collection.html" class="featured-collection__container col-sm-6 col-md-4 col-lg-3">
                <div class="featured-collection">
                    <div class="featured-collection__img-container">
                        <img src="/assets/white-shirt-3.jpg" class="featured-collection__img" loading="lazy" />
                        <div class="featured-collection__img-overlay"></div>
                    </div>
                    <h3 class="featured-collection__title subheading">White Tees</h3>
                </div>
            </a>

            <a href="/pages/shop/collection.html" class="featured-collection__container col-sm-6 col-md-4 col-lg-3">
                <div class="featured-collection">
                    <div class="featured-collection__img-container">
                        <img src="/assets/woman-denim-jacket-sitting.jpeg" class="featured-collection__img" loading="lazy" />
                        <div class="featured-collection__img-overlay"></div>
                    </div>
                    <h3 class="featured-collection__title subheading">Denim</h3>
                </div>
            </a>

            <a href="/pages/shop/collection.html" class="featured-collection__container col-sm-6 col-md-4 col-lg-3">
                <div class="featured-collection">
                    <div class="featured-collection__img-container">
                        <img src="/assets/woman-fur-coat-glasses.jpeg" class="featured-collection__img" loading="lazy" />
                        <div class="featured-collection__img-overlay"></div>
                    </div>
                    <h3 class="featured-collection__title subheading">Fur Coats</h3>
                </div>
            </a>
        </div>
    </div>
</div>
<!-- End Collection List -->