<!-- Start Login -->
<div class="login">
    <div class="login__container">
        <h2 class="login__heading">Login</h2>
        <div class="login__form">
            <div class="login__field text-field">
                <input type="email" name="login" id="login-email" class="text-field__input" placeholder="" />
                <label for="login-email" class="text-field__label">Email</label>
            </div>
            <div class="login__field text-field">
                <input type="password" name="login" id="login-password" class="text-field__input" placeholder="" />
                <label for="login-password" class="text-field__label">Password</label>
            </div>
            <a href="/pages/reset-password.html" class="login__forgot-password">Forgot your password?</a>

            <a href="/pages/account.html" class="login__submit-btn login__submit-btn--opacity-decrease">Sign in</a>
        </div>
        <a href="/pages/register.html" class="login__opposite">Create account</a>
    </div>
</div>
<!-- End Login -->