.blog-posts {
    padding: 1rem;
    background-color: var(--clr-white);

    &__heading {
        margin-bottom: 1rem;
        letter-spacing: 1px;
        color: var(--clr-black);
    }

    &__posts {
        padding-top: 1rem;
        padding-bottom: 1rem;

        &--aligned-left .blog-posts__post {
            text-align: left;
            align-items: flex-start;
        }

        &--aligned-center .blog-posts__post {
            text-align: center;
            align-items: center;
        }

        &--aligned-right .blog-posts__post {
            text-align: right;
            align-items: flex-end;
        }

        &--aligned-right .blog-posts__post-read-more i {
            position: absolute;
            left: -1rem;
            right: unset;
        }

        &--aligned-right .blog-posts__post-read-more:hover i {
            left: -1.5rem;
            right: unset;
        }

        &--no-img .blog-posts__post {
            border: 1px solid var(--clr-off-white);
            padding: 0.5rem;
        }
    }

    &__post-container {
        margin-bottom: 1rem;
    }

    &__post {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        width: 100%;
        height: 100%;
    }

    &__post-featured-img-container {
        width: 100%;
        height: 100%;
        max-height: 300px;

        &:hover {
            opacity: 0.9;
        }
    }

    &__post-featured-img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: center center;
        object-position: center center;
    }

    &__post-title {
        color: var(--clr-black);
    }

    &__post-date-and-author {
        display: flex;
        gap: 1rem;
        margin-bottom: 0.5rem;
    }

    &__post-date {
        color: var(--clr-black);
        font-size: 0.8rem;
        padding-right: 0.5rem;
    }

    &__post-author {
        position: relative;
        color: var(--clr-black);
        font-size: 0.8rem;
        padding-left: 0.5rem;
    }

    &__post-author-with-date::before {
        position: absolute;
        content: "";
        border-radius: 50%;
        height: 0.4rem;
        width: 0.4rem;
        background-color: var(--clr-black);
        top: 50%;
        left: -0.7rem;
        transform: translateY(-50%);
    }

    &__post-excerpt {
        color: var(--clr-black);
    }
}