.btn{
    position: relative;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    gap: .5em;
    align-items: center;
    width: fit-content;
    transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
    text-decoration: none;
    &--disabled{
        cursor: not-allowed;
        opacity: .5;
    }
    &--primary{
        &.btn--color-swap{
            padding: 1em 1.7em;
            color: var(--color-white);
            background-color: var(--color-primary);
            border: 2px solid var(--color-primary);
    
            &:hover, &:focus{
                color: var(--color-primary);
                background-color: transparent;
                border-color: var(--color-primary);
            }            
        }
        &.btn--grow{
            border: none;
            padding: 1em 1.7em;
            color: var(--color-white);
            background-color: var(--color-primary);
            &:hover, &:focus{
                transform: scale(1.05);
            }
        }
        &.btn--underline{
            background-color: transparent;
            color: var(--color-black);
            border: none;
            span{
                border-bottom: 1px solid var(--color-black);
            }
            &:hover, &:focus{
                color: var(--color-primary);
            span{
                border-bottom: 1px solid var(--color-primary);
            }
            }
        }
        &.btn--opacity-decrease{
            padding: 1em 1.7em;
            color: var(--color-white);
            background-color: var(--color-primary);
            border: none;
            transition: all 100ms ease-in-out;
            &:hover, &:focus{
                opacity: 0.7;
            }
        }
    }
    &--secondary{
        &.btn--color-swap{
            padding: 1em 1.7em;
            color: var(--color-white);
            background-color: var(--color-black);
            border: 2px solid var(--color-black);
    
            &:hover, &:focus{
                color: var(--color-black);
                background-color: transparent;
                border-color: var(--color-black);
            }            
        }
        &.btn--grow{
            border: none;
            padding: 1em 1.7em;
            color: var(--color-white);
            background-color: var(--color-black);
            &:hover, &:focus{
                transform: scale(1.05);
            }
        }
        &.btn--underline{
            background-color: transparent;
            color: var(--color-black);
            border: none;
            span{
                border-bottom: 1px solid var(--color-black);
            }
            &:hover, &:focus{
                color: var(--color-black);
            span{
                border-bottom: 1px solid var(--color-black);
            }
            }
        }
        &.btn--opacity-decrease{
            padding: 1em 1.7em;
            color: var(--color-white);
            background-color: var(--color-black);
            border: none;
            transition: all 100ms ease-in-out;
            &:hover, &:focus{
                opacity: 0.7;
            }
        }
    }
    &--banner{
        &.btn--color-swap{
            padding: 1em 1.7em;
            color: var(--color-white);
            background-color: var(--color-black);
    
            &:hover, &:focus{
                color: var(--color-black);
                background-color: var(--color-white);
            }            
        }
        &.btn--grow{
            border: none;
            padding: 1em 1.7em;
            color: var(--color-white);
            background-color: var(--color-black);
            &:hover, &:focus{
                transform: scale(1.05);
            }
        }
        &.btn--underline{
            background-color: transparent;
            color: var(--color-white);
            border: none;
            span{
                border-bottom: 1px solid var(--color-white);
            }
            &:hover, &:focus{
                color: var(--color-light-grey);
            span{
                border-bottom: 1px solid var(--color-light-grey);
            }
            }
        }
        &.btn--opacity-decrease{
            padding: 1em 1.7em;
            color: var(--color-white);
            background-color: var(--color-black);
            border: none;
            transition: all 100ms ease-in-out;
            &:hover, &:focus{
                opacity: 0.7;
            }
        }
    }
    &--danger{
        &.btn--color-swap{
            padding: 1em 1.7em;
            color: var(--color-white);
            background-color: var(--color-error);
            border: 2px solid var(--color-error);
    
            &:hover, &:focus{
                color: var(--color-error);
                background-color: transparent;
                border-color: var(--color-error);
            }            
        }
        &.btn--grow{
            border: none;
            padding: 1em 1.7em;
            color: var(--color-white);
            background-color: var(--color-error);
            &:hover, &:focus{
                transform: scale(1.05);
            }
        }
        &.btn--underline{
            background-color: transparent;
            color: var(--color-black);
            border: none;
            span{
                border-bottom: 1px solid var(--color-black);
            }
            &:hover, &:focus{
                color: var(--color-error);
            span{
                border-bottom: 1px solid var(--color-error);
            }
            }
        }
        &.btn--opacity-decrease{
            padding: 1em 1.7em;
            color: var(--color-white);
            background-color: var(--color-error);
            border: none;
            transition: all 100ms ease-in-out;
            &:hover, &:focus{
                opacity: 0.7;
            }
        }
    }
    .fa-chevron-left,
    .fa-chevron-right{
        display: none;
        transition: left 300ms ease-in-out, right 300ms ease-in-out;
    }

    &--left-arrow{
        .fa-chevron-left{
            display: inline-block;
            position: relative;
            left: 0;
            font-size: 1rem !important;
        }
        &:hover, &:focus{
            .fa-chevron-left{
                left: -1rem;
            }
        }
    }
    &--right-arrow{
        .fa-chevron-right{
            display: inline-block;
            position: relative;
            right: 0;
            font-size: 1rem !important;
        }
        &:hover, &:focus{
            .fa-chevron-right{
                right: -1rem;
            }
        }
    }
}