.double-image{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    &.portrait{
        padding-bottom: 133%;
    }
    &.landscape{
        padding-bottom: 67%;
    }
    &.square{
        padding-bottom: 100%;
    }

    &.grow:hover .double-image__img{
        transform: scale(1.06);
    }

    &:hover .double-image__img--primary{
        opacity: 0;
    }
    &:hover .double-image__img--secondary{
        opacity: 1;
    }

    &__img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
        transition: all 500ms ease-in-out;

        &--primary{
            opacity: 1;
        }
        &--secondary{
            opacity: 0;
        }
    }
}