@use '../abstracts/'as a;

.header {
    --header-padding-v: 1rem;
    position: relative;
    max-width: 100vw;
    width: 100%;
    background-color: var(--color-white);
    color: var(--color-black);
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.23);
    padding: var(--header-padding-v) 2rem;
    z-index: 2;

    &--navbar-shown,
    &--navbar-shown .header--5 .header__container {
        box-shadow: none;
        position: fixed;
        height: 100vh;
        overflow-y: auto;

        @include a.mq-min(1025px){
            position: relative;
            height: auto;
            overflow-y: unset;
        }
    }

    &--1,
    &--2,
    &--3,
    &--4,
    &--5 .header__container,
    &--6 {
        display: grid;
        grid-template-areas:
            'header-logo searchbar header-icons'
            'navbar navbar navbar';
        grid-template-columns: auto auto auto;
        grid-template-rows: auto 1fr;

        @include a.mq-min(400px) {
            grid-template-columns: auto 1fr auto;
        }
        @include a.mq-min(1025px){
            align-items: center;
        }
    }

    @include a.mq-max(1024px) {

        &--1.header--searchbar-expanded,
        &--2.header--searchbar-expanded,
        &--3.header--searchbar-expanded,
        &--4.header--searchbar-expanded,
        &--5.header--searchbar-expanded .header__container,
        &--6.header--searchbar-expanded {
            grid-template-areas:
                'header-logo header-logo header-icons'
                'searchbar searchbar searchbar'
                'navbar navbar navbar';
            grid-template-columns: auto 1fr auto;
            grid-template-rows: auto auto 1fr;

            .searchbar--expanded {
                justify-self: center;
                width: 100%;
                margin-top: 1rem;
                margin-bottom: 1rem;

                .searchbar__input {
                    height: 50px;
                }
            }
        }
    }

    @include a.mq-min(1025px) {
        &--2 {
            .navbar {
                margin-left: 1rem;
            }
        }

        &--3 {
            grid-template-areas: 'header-logo searchbar navbar header-icons';
            grid-template-columns: auto auto 1fr auto;
            padding: var(--header-padding-v) 2rem;

            .navbar {
                justify-self: flex-end;
                margin-left: 1rem;
            }

            .searchbar {
                margin-left: 1rem;
            }
        }

        &--4 {
            grid-template-areas:
                'header-logo searchbar header-icons'
                'navbar navbar navbar';
            grid-template-columns: auto 1fr auto;
            grid-template-rows: auto auto;
            padding: var(--header-padding-v) 2rem;

            .searchbar {
                justify-self: flex-end;

                &--expanded {
                    justify-self: center;
                    width: 90%;
                }
            }

            .navbar {
                margin-top: 1rem;
            }
        }

        &--5 {
            .header__container {
                max-width: 1100px;
                width: 100%;
                margin: auto;
                grid-template-areas:
                    'header-logo searchbar header-icons'
                    'navbar navbar navbar';
                grid-template-columns: auto 1fr auto;
                grid-template-rows: auto auto;
                padding: var(--header-padding-v) 2rem;
            }

            .searchbar {
                justify-self: flex-end;

                &--expanded {
                    justify-self: center;
                    width: 90%;
                }
            }

            .navbar {
                margin-top: 1rem;
            }
        }

        &--6 {
            grid-template-areas:
                'header-logo header-icons'
                'navbar  searchbar';
            grid-template-columns: 1fr auto;
            grid-template-rows: auto auto;
            padding: var(--header-padding-v) 2rem;

            .header__logo {
                justify-self: center;
            }

            .header__icons {
                justify-self: flex-end;
            }

            .searchbar {
                justify-self: flex-end;
            }

            .navbar {
                margin-top: 1rem;
            }
        }

        &--1,
        &--2 {
            grid-template-areas: 'header-logo navbar searchbar header-icons';
            grid-template-columns: auto 1fr auto auto;
            padding: var(--header-padding-v) 2rem;
        }

        &--4 {
            .header__icons {
                align-items: center;
            }
        }

        &--1,
        &--4,
        &--5,
        &--6 {
            .navbar {
                justify-content: center;
            }
        }
    }

    &__logo-container {
        grid-area: header-logo;
        max-width: 150px;
        position: relative;
        align-self: center;
        &:hover{
            .header__logo--primary{
                opacity: 0;
            }
            .header__logo--secondary{
                opacity: 1;
            }
        }
    }

    &__logo {
        width: 100%;
        height: auto;
        object-fit: cover;
        object-position: center;
        transition: opacity 200ms ease-out;

        &--primary{
            position: relative;
            opacity: 1;
        }
        &--secondary{
            opacity: 0;
            position: absolute;
            left: 0;
            top: 0;
        }

        &:hover{}
    }

    &__icons {
        display: flex;
        align-items: center;
        grid-area: header-icons;
        font-size: 1.5rem;

        a,
        i {
            transition: color 200ms ease-in-out;

            &:hover,
            &:focus {
                color: var(--color-primary);
            }
        }

        &>* {
            padding: 0 .4rem;
        }
    }

    &__cart {
        position: relative;

        &-count {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            color: var(--color-white);
            background-color: var(--color-primary);
            font-size: .7rem;
            height: 1.2rem;
            width: 1.2rem;
            border-radius: 50%;
            top: -.5rem;
            right: -.2rem;
        }
    }

    &__toggle {
        cursor: pointer;

        @include a.mq-min(1025px) {
            display: none;
        }
    }
}

.navbar {
    --navbar-padding-h: 1rem;
    background-color: var(--color-white);
    z-index: 2;
    display: none;
    flex-direction: column;
    padding: 1rem var(--navbar-padding-h);
    grid-area: navbar;

    &--shown {
        display: flex;
    }

    @include a.mq-min(1025px) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        padding-bottom: 1rem;
    }

    &__link {
        margin: 2rem 0;
        z-index: 0;

        @include a.mq-min(1025px) {
            margin: 0 .5rem;

        }

        &--single {
            text-align: center;
            text-decoration: none;
            transition: color 250ms ease-in-out;

            &:hover,
            &:focus {
                color: var(--color-primary);
            }
        }
    }

    &__menu-name {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .5rem;
        width: fit-content;
        margin: auto;
        z-index: 3;
        transition: color 250ms ease-in-out;

        &--open {
            &+.navbar__submenus {
                height: auto;
                pointer-events: all;
                opacity: 1;
                visibility: visible;
            }

            .navbar__menu-icon {
                transform: rotate(180deg);
            }
        }

        &:hover,
        &:focus,
        &--open {
            color: var(--color-primary);
        }

        .navbar__menu-icon {
            transition: transform 250ms ease-in-out;
        }

        @include a.mq-min(1025px) {
            justify-content: flex-start;
        }
    }

    &__modal--open {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: transparent;
        z-index: 0;
    }

    &__submenus {
        position: relative;
        left: 0;
        top: 1rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 0;
        overflow: hidden;
        background-color: var(--color-white);
        pointer-events: none;
        opacity: 0;
        visibility: hidden;
        z-index: 3;
        transition: all 300ms ease-in-out;

        &--align-left .navbar__submenu {
            align-items: flex-start;
        }

        &--align-center .navbar__submenu {
            align-items: center;
            text-align: center;
            @include a.mq-min(1025px) {
                text-align: left;
            }
        }

        &--align-right .navbar__submenu {
            align-items: flex-end;
        }

        @include a.mq-min(1025px) {
            position: absolute;
            top: 100%;
            width: 100vw;
            padding: 1rem 5rem;
            flex-direction: row;
            background-color: var(--color-off-white);
            box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.23);

            &--align-left {
                justify-content: flex-start;

                .navbar__submenu {
                    align-items: flex-start;
                }
            }

            &--align-center {
                justify-content: center;

                .navbar__submenu {
                    align-items: flex-start;
                }
            }

            &--align-right {
                justify-content: flex-end;

                .navbar__submenu {
                    align-items: flex-start;
                }
            }
        }
    }

    &__submenu {
        display: flex;
        flex-direction: column;
        padding: 1.2rem .8rem;
        margin: 0 .5rem;
        border-bottom: 1px solid var(--color-light-grey);

        &:nth-child(1) {
            border-top: 1px solid var(--color-light-grey);
        }

        @include a.mq-min(1025px) {
            border: none;
            width: fit-content;

            &:nth-child(1) {
                border: none;
            }
        }
    }

    &__submenu-name {
        padding: .5rem;
        font-weight: 500;
        text-decoration: none;

        &:hover,
        &:focus {
            color: var(--color-primary);
        }
    }

    &__sublink {
        padding: .5rem;
        font-size: 1rem;
        text-decoration: none;

        &:hover,
        &:focus {
            color: var(--color-primary);
        }
    }
}

.searchbar {
    position: relative;
    background-color: var(--color-white);
    overflow: hidden;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-self: flex-end;
    transition: all 300ms ease-in-out;
    width: fit-content;
    height: auto;
    min-height: 50px;
    grid-area: searchbar;

    &--expanded {
        border: 1px solid var(--color-light-grey);

        .searchbar__input {
            width: 100%;
            height: 50px;
        }

        &.searchbar--border {
            border-color: var(--color-black);
        }
    }

    &__input {
        padding: 0 2rem 0 1rem;
        border: none;
        outline: none;
        font-size: 1.2rem;
        width: 0;
        background-color: var(--color-white);

    }

    &__icon {
        cursor: pointer;
        position: absolute;
        right: .5rem;
        font-size: 1.5rem;

        &:hover,
        &:focus {
            color: var(--color-primary);
        }
    }
}