<!-- Start Collection List -->
<div class="collection-list">
    <div class="container">
        <h2 class="collection-list__heading subheading">New Arrivals</h2>
        <div class="collection-list__collections row">
            <a href="/pages/shop/collection.html" class="featured-collection__container col-sm-6 col-md-4 col-lg-3">
                <div class="featured-collection">
                    <div class="featured-collection__img-container">
                        <img src="/assets/mic-1-a.png" alt="" class="featured-collection__img" loading="lazy" />
                        <div class="featured-collection__img-overlay"></div>
                    </div>
                    <h3 class="featured-collection__title subheading">Dynamic Microphones</h3>
                </div>
            </a>

            <a href="/pages/shop/collection.html" class="featured-collection__container col-sm-6 col-md-4 col-lg-3">
                <div class="featured-collection">
                    <div class="featured-collection__img-container">
                        <img src="/assets/mic-8-c.png" alt="" class="featured-collection__img" loading="lazy" />
                        <div class="featured-collection__img-overlay"></div>
                    </div>
                    <h3 class="featured-collection__title subheading">Condenser Microphones</h3>
                </div>
            </a>

            <a href="/pages/shop/collection.html" class="featured-collection__container col-sm-6 col-md-4 col-lg-3">
                <div class="featured-collection">
                    <div class="featured-collection__img-container">
                        <img src="/assets/mic-10-b.png" alt="" class="featured-collection__img" loading="lazy" />
                        <div class="featured-collection__img-overlay"></div>
                    </div>
                    <h3 class="featured-collection__title subheading">Cardioid Microphones</h3>
                </div>
            </a>

            <a href="/pages/shop/collection.html" class="featured-collection__container col-sm-6 col-md-4 col-lg-3">
                <div class="featured-collection">
                    <div class="featured-collection__img-container">
                        <img src="/assets/mic-12.png" alt="" class="featured-collection__img" loading="lazy" />
                        <div class="featured-collection__img-overlay"></div>
                    </div>
                    <h3 class="featured-collection__title subheading">Ribbon Microphones</h3>
                </div>
            </a>
        </div>
    </div>
</div>
<!-- End Collection List -->