<!-- Start Order History -->
<div class="order-history">
    <h2 class="order-history__heading subheading">Order History</h2>

    <div class="order-history__details">
        <table class="order-history__table">
            <thead class="order-history__head">
                <tr class="order-history__headers">
                    <th class="order-history__header">Order ID</th>
                    <th class="order-history__header">Date</th>
                    <th class="order-history__header">Payment Status</th>
                    <th class="order-history__header">Fulfillment Status</th>
                    <th class="order-history__header">Total</th>
                </tr>
            </thead>
            <tbody class="order-history__orders">
                <tr class="order-history__order">
                    <td class="order-history__cell">
                        <span class="order-history__key">Order ID</span>
                        <a href="/demo-fashion/pages/customer/order.html"><span
                                class="order-history__value">#1234</span></a>
                    </td>
                    <td class="order-history__cell">
                        <span class="order-history__key">Date</span>
                        <span class="order-history__value placeholder-date">Dec 1, 2021</span>
                    </td>
                    <td class="order-history__cell">
                        <span class="order-history__key">Payment Status</span>
                        <span class="order-history__value">Paid</span>
                    </td>
                    <td class="order-history__cell">
                        <span class="order-history__key">Fulfillment Status</span>
                        <span class="order-history__value">Fulfilled</span>
                    </td>
                    <td class="order-history__cell">
                        <span class="order-history__key">Total</span>
                        <span class="order-history__value">$199.98</span>
                    </td>
                </tr>

                <tr class="order-history__order">
                    <td class="order-history__cell">
                        <span class="order-history__key">Order ID</span>
                        <a href="/demo-fashion/pages/customer/order.html"><span
                                class="order-history__value">#619</span></a>
                    </td>
                    <td class="order-history__cell">
                        <span class="order-history__key">Date</span>
                        <span class="order-history__value placeholder-date">Dec 1, 2021</span>
                    </td>
                    <td class="order-history__cell">
                        <span class="order-history__key">Payment Status</span>
                        <span class="order-history__value">Paid</span>
                    </td>
                    <td class="order-history__cell">
                        <span class="order-history__key">Fulfillment Status</span>
                        <span class="order-history__value">Fulfilled</span>
                    </td>
                    <td class="order-history__cell">
                        <span class="order-history__key">Total</span>
                        <span class="order-history__value">$99.99</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- End Order History -->