<!-- Start Product Grid -->
<div class="product-grid">
    <div class="container">
        <h2 class="product-grid__title subheading">Latest Arrivals</h2>
        <div class="product-grid__grid product-grid__grid--scale-image product-grid__grid--alternate-image row">
            <a href="/pages/shop/product-on-sale.html"
                class="product-grid__product product-grid__product--on-sale col-sm-6 col-md-4 col-lg-3">
                <div class="product-grid__product-badge product-grid__product-badge--on-sale">
                    <span class="product-grid__product-badge-text">Sale</span>
                </div>
                <div class="product-grid__product-img-container">
                    <img src="/assets/knit-dress-black.png"
                        class="product-grid__product-img product-grid__product-img--primary" />
                    <img src="/assets/knit-dress-grey.png"
                        class="product-grid__product-img product-grid__product-img--secondary" />
                </div>
                <div class="product-grid__product-info">
                    <p class="product-grid__product-vendor small">Newtron</p>
                    <span class="product-grid__product-title">Knit Dress
                    </span>
                    <div class="product-grid__product-prices">
                        <span class="product-grid__product-compare-price">$99.00</span>
                        <span class="product-grid__product-price">$39.99</span>
                    </div>
                </div>
            </a>

            <a href="/pages/shop/product.html" class="product-grid__product col-sm-6 col-md-4 col-lg-3">

                <div class="product-grid__product-img-container">
                    <img src="/assets/wallet-black-1.png"
                        class="product-grid__product-img product-grid__product-img--primary" />
                    <img src="/assets/wallet-black-2.jpg"
                        class="product-grid__product-img product-grid__product-img--secondary" />
                </div>

                <div class="product-grid__product-info">
                    <p class="product-grid__product-vendor small">Owl Co</p>
                    <span class="product-grid__product-title">Wallet
                    </span>
                    <div class="product-grid__product-prices">
                        <span class="product-grid__product-price">$16.00</span>
                    </div>
                </div>
            </a>

            <a href="/pages/shop/product-sold-out.html"
                class="product-grid__product product-grid__product--sold-out col-sm-6 col-md-4 col-lg-3">
                <div class="product-grid__product-badge product-grid__product-badge--sold-out">
                    <span class="product-grid__product-badge-text">Sold Out</span>
                </div>

                <div class="product-grid__product-img-container">
                    <img src="/assets/tank-top-white.png"
                        class="product-grid__product-img product-grid__product-img--primary" />
                    <img src="/assets/tank-top-green.jpg"
                        class="product-grid__product-img product-grid__product-img--secondary" />
                </div>

                <div class="product-grid__product-info">
                    <p class="product-grid__product-vendor small">A/B</p>
                    <span class="product-grid__product-title">Tank Top
                    </span>
                    <div class="product-grid__product-prices">
                        <span class="product-grid__product-price">$19.49</span>
                    </div>
                </div>
            </a>

            <a href="/pages/shop/product.html" class="product-grid__product col-sm-6 col-md-4 col-lg-3">
                <div class="product-grid__product-img-container">
                    <img src="/assets/gradient-sweatshirt-blue.jpg"
                        class="product-grid__product-img product-grid__product-img--primary" />
                    <img src="/assets/gradient-sweatshirt-orange.jpg"
                        class="product-grid__product-img product-grid__product-img--secondary" />
                </div>

                <div class="product-grid__product-info">
                    <p class="product-grid__product-vendor small">Vishunaree</p>
                    <span class="product-grid__product-title">Gradient Sweatshirt
                    </span>
                    <div class="product-grid__product-prices">
                        <span class="product-grid__product-price">$49.00</span>
                    </div>
                </div>
            </a>

            <a href="/pages/shop/product-sold-out.html"
                class="product-grid__product product-grid__product--sold-out col-sm-6 col-md-4 col-lg-3">
                <div class="product-grid__product-badge product-grid__product-badge--sold-out">
                    <span class="product-grid__product-badge-text">Sold Out</span>
                </div>

                <div class="product-grid__product-img-container">
                    <img src="/assets/joggers-black.jpg"
                        class="product-grid__product-img product-grid__product-img--primary" />
                    <img src="/assets/joggers-navy-2.jpg"
                        class="product-grid__product-img product-grid__product-img--secondary" />
                </div>

                <div class="product-grid__product-info">
                    <p class="product-grid__product-vendor small">KDR</p>
                    <span class="product-grid__product-title">Sweatpants
                    </span>
                    <div class="product-grid__product-prices">
                        <span class="product-grid__product-price">$24.00</span>
                    </div>
                </div>
            </a>

            <a href="/pages/shop/product.html" class="product-grid__product col-sm-6 col-md-4 col-lg-3">
                <div class="product-grid__product-img-container">
                    <img src="/assets/flower-jeans-1.png"
                        class="product-grid__product-img product-grid__product-img--primary" />
                    <img src="/assets/flower-jeans-2.png"
                        class="product-grid__product-img product-grid__product-img--secondary" />
                </div>

                <div class="product-grid__product-info">
                    <p class="product-grid__product-vendor small">Dirty Forces</p>
                    <span class="product-grid__product-title">Flower Jeans
                    </span>
                    <div class="product-grid__product-prices">
                        <span class="product-grid__product-price">$53.00</span>
                    </div>
                </div>
            </a>

            <a href="/pages/shop/product.html" class="product-grid__product col-sm-6 col-md-4 col-lg-3">
                <div class="product-grid__product-img-container">
                    <img src="/assets/hoodie-off-white.jpg"
                        class="product-grid__product-img product-grid__product-img--primary" />
                    <img src="/assets/hoodie-light-blue.jpg"
                        class="product-grid__product-img product-grid__product-img--secondary" />
                </div>

                <div class="product-grid__product-info">
                    <p class="product-grid__product-vendor small">FilledIn</p>
                    <span class="product-grid__product-title">Hoodie
                    </span>
                    <div class="product-grid__product-prices">
                        <span class="product-grid__product-price">$28.00</span>
                    </div>
                </div>
            </a>

            <a href="/pages/shop/product-on-sale.html"
                class="product-grid__product product-grid__product--on-sale col-sm-6 col-md-4 col-lg-3">
                <div class="product-grid__product-badge product-grid__product-badge--on-sale">
                    <span class="product-grid__product-badge-text">Sale</span>
                </div>
                <div class="product-grid__product-img-container">
                    <img src="/assets/ripped-jeans-1.png"
                        class="product-grid__product-img product-grid__product-img--primary" />
                    <img src="/assets/ripped-jeans-2.png"
                        class="product-grid__product-img product-grid__product-img--secondary" />
                </div>
                <div class="product-grid__product-info">
                    <p class="product-grid__product-vendor small">PassionNova</p>
                    <span class="product-grid__product-title">Ripped Jeans
                    </span>
                    <div class="product-grid__product-prices">
                        <span class="product-grid__product-compare-price">$65.00</span>
                        <span class="product-grid__product-price">$26.00</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<!-- End Product Grid -->