<!-- Start Collection -->
<div class="collection">
    <div class="collection__banner">
        <div class="container">
            <div class="row">
                <div class="collection__info col-md-6">
                    <h1 class="collection__title heading">Cozy Collection</h1>

                    <div class="collection__description">Stay warm</div>
                </div>

                <div class="collection__img-container col-md-6">
                    <img src="/demo-fashion/assets/blonde-woman-grey-scarf.jpeg"  class="collection__img" />
                </div>
            </div>
        </div>
    </div>

    <!-- Start Product Grid -->
    <div class="product-grid">
        <div class="container">
            <div class="product-grid__grid product-grid__grid--scale-image product-grid__grid--alternate-image row">
                <a href="/demo-fashion/pages/shop/product-on-sale.html"
                    class="product-grid__product product-grid__product--on-sale col-sm-6 col-md-4 col-lg-3">
                    <div class="product-grid__product-badge product-grid__product-badge--on-sale">
                        <span class="product-grid__product-badge-text">Sale</span>
                    </div>
                    <div class="product-grid__product-img-container">
                        <img src="/demo-fashion/assets/2-piece-black.jpg" 
                            class="product-grid__product-img product-grid__product-img--primary" />
                        <img src="/demo-fashion/assets/2-piece-white.jpg" 
                            class="product-grid__product-img product-grid__product-img--secondary" />
                    </div>
                    <div class="product-grid__product-info">
                        <p class="product-grid__product-vendor small">Wayne</p>
                        <span class="product-grid__product-title">2 Piece Sweats
                        </span>
                        <div class="product-grid__product-prices">
                            <span class="product-grid__product-compare-price">$129.00</span>
                            <span class="product-grid__product-price">$99.00</span>
                        </div>
                    </div>
                </a>

                <a href="/demo-fashion/pages/shop/product.html" class="product-grid__product col-sm-6 col-md-4 col-lg-3">

                    <div class="product-grid__product-img-container">
                        <img src="/demo-fashion/assets/turtleneck.jpeg" 
                            class="product-grid__product-img product-grid__product-img--primary" />
                        <img src="/demo-fashion/assets/blonde-turtleneck.jpeg" 
                            class="product-grid__product-img product-grid__product-img--secondary" />
                    </div>

                    <div class="product-grid__product-info">
                        <p class="product-grid__product-vendor small">FRNKLN</p>
                        <span class="product-grid__product-title">Turtleneck
                        </span>
                        <div class="product-grid__product-prices">
                            <span class="product-grid__product-price">$40.00</span>
                        </div>
                    </div>
                </a>

                <a href="/demo-fashion/pages/shop/product-sold-out.html"
                    class="product-grid__product product-grid__product--sold-out col-sm-6 col-md-4 col-lg-3">
                    <div class="product-grid__product-badge product-grid__product-badge--sold-out">
                        <span class="product-grid__product-badge-text">Sold Out</span>
                    </div>

                    <div class="product-grid__product-img-container">
                        <img src="/demo-fashion/assets/joggers-black.jpg" 
                            class="product-grid__product-img product-grid__product-img--primary" />
                        <img src="/demo-fashion/assets/joggers-navy.png" 
                            class="product-grid__product-img product-grid__product-img--secondary" />
                    </div>

                    <div class="product-grid__product-info">
                        <p class="product-grid__product-vendor small">KDR</p>
                        <span class="product-grid__product-title">Sweatpants
                        </span>
                        <div class="product-grid__product-prices">
                            <span class="product-grid__product-price">$24.00</span>
                        </div>
                    </div>
                </a>

                <a href="/demo-fashion/pages/shop/product.html" class="product-grid__product col-sm-6 col-md-4 col-lg-3">
                    <div class="product-grid__product-img-container">
                        <img src="/demo-fashion/assets/gradient-sweatshirt-blue.jpg" 
                            class="product-grid__product-img product-grid__product-img--primary" />
                        <img src="/demo-fashion/assets/gradient-sweatshirt-orange.jpg" 
                            class="product-grid__product-img product-grid__product-img--secondary" />
                    </div>

                    <div class="product-grid__product-info">
                        <p class="product-grid__product-vendor small">Vishunaree</p>
                        <span class="product-grid__product-title">Gradient Sweatshirt
                        </span>
                        <div class="product-grid__product-prices">
                            <span class="product-grid__product-price">$49.00</span>
                        </div>
                    </div>
                </a>

                <a href="/demo-fashion/pages/shop/product-sold-out.html"
                    class="product-grid__product product-grid__product--sold-out col-sm-6 col-md-4 col-lg-3">
                    <div class="product-grid__product-badge product-grid__product-badge--sold-out">
                        <span class="product-grid__product-badge-text">Sold Out</span>
                    </div>

                    <div class="product-grid__product-img-container">
                        <img src="/demo-fashion/assets/bomber-hat-brown-1.png" 
                            class="product-grid__product-img product-grid__product-img--primary" />
                        <img src="/demo-fashion/assets/bomber-hat-grey.jpg" 
                            class="product-grid__product-img product-grid__product-img--secondary" />
                    </div>

                    <div class="product-grid__product-info">
                        <p class="product-grid__product-vendor small">Cold Folks</p>
                        <span class="product-grid__product-title">Bomber Hat
                        </span>
                        <div class="product-grid__product-prices">
                            <span class="product-grid__product-price">$29.00</span>
                        </div>
                    </div>
                </a>

                <a href="/demo-fashion/pages/shop/product.html" class="product-grid__product col-sm-6 col-md-4 col-lg-3">
                    <div class="product-grid__product-img-container">
                        <img src="/demo-fashion/assets/white-coat.jpg" 
                            class="product-grid__product-img product-grid__product-img--primary" />
                        <img src="/demo-fashion/assets/woman-green-shirt-jeans.jpeg" 
                            class="product-grid__product-img product-grid__product-img--secondary" />
                    </div>

                    <div class="product-grid__product-info">
                        <p class="product-grid__product-vendor small">Newtron</p>
                        <span class="product-grid__product-title">Fur Jacket
                        </span>
                        <div class="product-grid__product-prices">
                            <span class="product-grid__product-price">$79.00</span>
                        </div>
                    </div>
                </a>

                <a href="/demo-fashion/pages/shop/product.html" class="product-grid__product col-sm-6 col-md-4 col-lg-3">
                    <div class="product-grid__product-img-container">
                        <img src="/demo-fashion/assets/hoodie-off-white.jpg" 
                            class="product-grid__product-img product-grid__product-img--primary" />
                        <img src="/demo-fashion/assets/hoodie-light-blue.jpg" 
                            class="product-grid__product-img product-grid__product-img--secondary" />
                    </div>

                    <div class="product-grid__product-info">
                        <p class="product-grid__product-vendor small">FilledIn</p>
                        <span class="product-grid__product-title">Hoodie
                        </span>
                        <div class="product-grid__product-prices">
                            <span class="product-grid__product-price">$28.00</span>
                        </div>
                    </div>
                </a>

                <a href="/demo-fashion/pages/shop/product-on-sale.html"
                    class="product-grid__product product-grid__product--on-sale col-sm-6 col-md-4 col-lg-3">
                    <div class="product-grid__product-badge product-grid__product-badge--on-sale">
                        <span class="product-grid__product-badge-text">Sale</span>
                    </div>
                    <div class="product-grid__product-img-container">
                        <img src="/demo-fashion/assets/knit-dress-black.png" 
                            class="product-grid__product-img product-grid__product-img--primary" />
                        <img src="/demo-fashion/assets/knit-dress-grey.png" 
                            class="product-grid__product-img product-grid__product-img--secondary" />
                    </div>
                    <div class="product-grid__product-info">
                        <p class="product-grid__product-vendor small">Newtron</p>
                        <span class="product-grid__product-title">Knit Dress
                        </span>
                        <div class="product-grid__product-prices">
                            <span class="product-grid__product-compare-price">$99.00</span>
                            <span class="product-grid__product-price">$39.00</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- End Product Grid -->
</div>
<!-- End Collection -->