<!-- Start Blog -->
<div class="blog">
    <div class="container">
        <h2 class="blog__title">Latest News</h2>
        <div class="blog__grid row">
            <div class="blog__article-container col-12 col-sm-6 col-lg-4">
                <div class="blog__article">
                    <a href="#" class="blog__article-img-container">
                        <img src="/assets/mic-10-a.png" alt=""
                            class="blog__article-img" />
                    </a>
                    <h3 class="blog__article-title">Why nobody asks you questions</h3>
                    <div class="blog__article-date-and-author">
                        <span class="blog__article-date">Sep, 2021</span>
                        <span class="blog__article-author blog__article-author-with-date">Billy Jean</span>
                    </div>
                    <div class="blog__article-content">
                        <p class="blog__article-excerpt">It may be your microphone</p>
                    </div>
                    <a href="#"
                        class="blog__article-read-more-btn blog__article-read-more-btn--underline blog__article-read-more-btn--right-arrow">
                        <i class="fas fa-chevron-left"></i>
                        <span>Read more</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </div>
            </div>

            <div class="blog__article-container col-12 col-sm-6 col-lg-4">
                <div class="blog__article">
                    <a href="#" class="blog__article-img-container">
                        <img src="/assets/mic-13.png" alt=""
                            class="blog__article-img" />
                    </a>
                    <h3 class="blog__article-title">Why nobody asks you questions</h3>
                    <div class="blog__article-date-and-author">
                        <span class="blog__article-date">Sep, 2021</span>
                        <span class="blog__article-author blog__article-author-with-date">Billy Jean</span>
                    </div>
                    <div class="blog__article-content">
                        <p class="blog__article-excerpt">It may be your microphone</p>
                    </div>
                    <a href="#"
                        class="blog__article-read-more-btn blog__article-read-more-btn--underline blog__article-read-more-btn--right-arrow">
                        <i class="fas fa-chevron-left"></i>
                        <span>Read more</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </div>
            </div>

            <div class="blog__article-container col-12 col-sm-6 col-lg-4">
                <div class="blog__article">
                    <a href="#" class="blog__article-img-container">
                        <img src="/assets/mic-11-c.png" alt=""
                            class="blog__article-img" />
                    </a>
                    <h3 class="blog__article-title">Why nobody asks you questions</h3>
                    <div class="blog__article-date-and-author">
                        <span class="blog__article-date">Sep, 2021</span>
                        <span class="blog__article-author blog__article-author-with-date">Billy Jean</span>
                    </div>
                    <div class="blog__article-content">
                        <p class="blog__article-excerpt">It may be your microphone</p>
                    </div>
                    <a href="#"
                        class="blog__article-read-more-btn blog__article-read-more-btn--underline blog__article-read-more-btn--right-arrow">
                        <i class="fas fa-chevron-left"></i>
                        <span>Read more</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </div>
            </div>

            <div class="blog__article-container col-12 col-sm-6 col-lg-4">
                <div class="blog__article">
                    <a href="#" class="blog__article-img-container">
                        <img src="/assets/mic-7-d.png" alt=""
                            class="blog__article-img" />
                    </a>
                    <h3 class="blog__article-title">Why nobody asks you questions</h3>
                    <div class="blog__article-date-and-author">
                        <span class="blog__article-date">Sep, 2021</span>
                        <span class="blog__article-author blog__article-author-with-date">Billy Jean</span>
                    </div>
                    <div class="blog__article-content">
                        <p class="blog__article-excerpt">It may be your microphone</p>
                    </div>
                    <a href="#"
                        class="blog__article-read-more-btn blog__article-read-more-btn--underline blog__article-read-more-btn--right-arrow">
                        <i class="fas fa-chevron-left"></i>
                        <span>Read more</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </div>
            </div>

            <div class="blog__article-container col-12 col-sm-6 col-lg-4">
                <div class="blog__article">
                    <a href="#" class="blog__article-img-container">
                        <img src="/assets/mic-5-b.png" alt=""
                            class="blog__article-img" />
                    </a>
                    <h3 class="blog__article-title">Why nobody asks you questions</h3>
                    <div class="blog__article-date-and-author">
                        <span class="blog__article-date">Sep, 2021</span>
                        <span class="blog__article-author blog__article-author-with-date">Billy Jean</span>
                    </div>
                    <div class="blog__article-content">
                        <p class="blog__article-excerpt">It may be your microphone</p>
                    </div>
                    <a href="#"
                        class="blog__article-read-more-btn blog__article-read-more-btn--underline blog__article-read-more-btn--right-arrow">
                        <i class="fas fa-chevron-left"></i>
                        <span>Read more</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </div>
            </div>

            <div class="blog__article-container col-12 col-sm-6 col-lg-4">
                <div class="blog__article">
                    <a href="#" class="blog__article-img-container">
                        <img src="/assets/mic-3-c.png" alt=""
                            class="blog__article-img" />
                    </a>
                    <h3 class="blog__article-title">Why nobody asks you questions</h3>
                    <div class="blog__article-date-and-author">
                        <span class="blog__article-date">Sep, 2021</span>
                        <span class="blog__article-author blog__article-author-with-date">Billy Jean</span>
                    </div>
                    <div class="blog__article-content">
                        <p class="blog__article-excerpt">It may be your microphone</p>
                    </div>
                    <a href="#"
                        class="blog__article-read-more-btn blog__article-read-more-btn--underline blog__article-read-more-btn--right-arrow">
                        <i class="fas fa-chevron-left"></i>
                        <span>Read more</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Blog -->