@use '../abstracts/'as a;

.contact {
    &__container {
        padding-top: 2rem;
        padding-bottom: 2rem;

        @include a.mq-min(768px) {
            padding-top: 4rem;
            padding-bottom: 4rem;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-bottom: 2rem;
    }

    &__heading {
        font-weight: 500;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__list-item {
        display: flex;
        align-items: center;
        gap: .5rem;
    }

    &__icon {
        color: var(--color-primary);
    }
}