@use '../abstracts/'as a;

.order {
    padding: 2rem 0;

    @include a.mq-min(768px){
        padding: 4rem 0;
    }

    &__heading {
        margin: 1rem 0;
        font-weight: 600;
    }

    &__date {
        margin-bottom: 1rem;
    }

    &__details {
        margin-bottom: 2rem;
    }

    &__table {
        border-collapse: collapse;
        width: 100%;

        @include a.mq-min(768px) {
            border: 1px solid var(--color-mid-grey);
        }
    }

    &__head {
        background-color: var(--color-off-white);
        display: none;

        @include a.mq-min(768px) {
            display: table-header-group;
        }
    }

    &__headers {
        border-bottom: 1px solid var(--color-mid-grey);
        ;
    }

    &__header {
        font-weight: 600;
        // text-align: right;
    }

    &__header,
    &__cell {
        padding: 1rem 0;

        @include a.mq-min(768px) {
            padding: 1rem;
        }
    }

    &__product {
        display: flex;
        flex-direction: column;

        @include a.mq-min(768px) {
            display: table-row;

            .order__cell.order__cell:not(:nth-child(1)) {
                text-align: right;
            }
        }

        .order__key {
            font-weight: 600;

            @include a.mq-min(768px) {
                display: none;
            }
        }

    }

    &__cell {
        display: flex;
        justify-content: space-between;

        @include a.mq-min(768px) {
            display: table-cell;
        }
    }

    &__value {
        text-align: right;
    }

    &__header:nth-child(1),
    &__order .order__cell:nth-child(1) {
        @include a.mq-min(768px) {
            text-align: left;
        }
    }

    &__header:not(:nth-child(1)),
    &__order .order__cell:not(:nth-child(1)) {
        @include a.mq-min(768px) {
            text-align: right;
        }
    }

    &__product {
        border-bottom: 1px solid var(--color-mid-grey);
        ;

        &:nth-child(1) {
            border-top: 1px solid var(--color-mid-grey);
        }

        .order__cell:nth-child(1) .order__value {
            text-decoration: underline;
        }
    }

    &__foot {
        .order__pair {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
    }

    &__address-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .address__status--success{
        color: var(--color-success);
    }
}