<!-- Start Product Page -->
<div class="product-page">
    <div class="product-page__product-container">
        <span class="product-page__product-path">
            <a href="#">Home</a>&nbsp;/&nbsp;
            <a href="#">Collections</a>&nbsp;/&nbsp;
            <a href="#">Microphones</a>
        </span>


        <div class="product-page__product-slideshow">
            <div class="product-page__product-slideshow-container">
                <div class="product-page__sale-badge">
                    <span class="product-page__sale-text">Sale</span>
                </div>
                <div class="product-page__product-slide product-page__product-slide--active">
                    <img src="https://products.shureweb.eu/cdn-cgi/image/height=700,format=auto/shure_product_db/product_main_images/files/cf1/51c/44-/header_transparent/dc53d07c046536d8b078318e129876f2.png"
                        class="product-page__product-img" />
                </div>
                <div class="product-page__product-slide">
                    <img src="https://products.shureweb.eu/cdn-cgi/image/height=700,format=auto/shure_product_db/product_images/files/430/a9c/af-/header_transparent/4e9fe555bdf4d48a9b826381b24a6c0c.png"
                        class="product-page__product-img" />
                </div>
                <div class="product-page__product-slide">
                    <img src="https://products.shureweb.eu/cdn-cgi/image/height=700,format=auto/shure_product_db/product_images/files/c4f/0d9/07-/header_transparent/c165d06247b520e9c87156f8322804a2.png"
                        class="product-page__product-img" />
                </div>
                <div class="product-page__product-slide">
                    <img src="https://products.shureweb.eu/cdn-cgi/image/height=700,format=auto/shure_product_db/product_images/files/d01/ff3/c3-/header_transparent/bddbbb00a2b3634e7775c85b461351f3.png"
                        class="product-page__product-img" />
                </div>
                <div class="product-page__product-slide">
                    <img src="https://products.shureweb.eu/cdn-cgi/image/height=700,format=auto/shure_product_db/product_images/files/161/616/5f-/header_transparent/6d6050f61961c26adef745f0654accc6.png"
                        class="product-page__product-img" />
                </div>

                <div class="product-page__product-slideshow-indicators">
                    <div
                        class="product-page__product-slideshow-indicator product-page__product-slideshow-indicator--active">
                    </div>
                    <div class="product-page__product-slideshow-indicator"></div>
                    <div class="product-page__product-slideshow-indicator"></div>
                    <div class="product-page__product-slideshow-indicator"></div>
                    <div class="product-page__product-slideshow-indicator"></div>
                </div>
            </div>

            <div class="product-page__product-img-alternates">
                <img src="https://products.shureweb.eu/cdn-cgi/image/height=700,format=auto/shure_product_db/product_main_images/files/cf1/51c/44-/header_transparent/dc53d07c046536d8b078318e129876f2.png"
                    class="product-page__product-img-alternate product-page__product-img-alternate--active" />
                <img src="https://products.shureweb.eu/cdn-cgi/image/height=700,format=auto/shure_product_db/product_images/files/430/a9c/af-/header_transparent/4e9fe555bdf4d48a9b826381b24a6c0c.png"
                    class="product-page__product-img-alternate" />
                <img src="https://products.shureweb.eu/cdn-cgi/image/height=700,format=auto/shure_product_db/product_images/files/c4f/0d9/07-/header_transparent/c165d06247b520e9c87156f8322804a2.png"
                    class="product-page__product-img-alternate" />
                <img src="https://products.shureweb.eu/cdn-cgi/image/height=700,format=auto/shure_product_db/product_images/files/d01/ff3/c3-/header_transparent/bddbbb00a2b3634e7775c85b461351f3.png"
                    class="product-page__product-img-alternate" />
                <img src="https://products.shureweb.eu/cdn-cgi/image/height=700,format=auto/shure_product_db/product_images/files/161/616/5f-/header_transparent/6d6050f61961c26adef745f0654accc6.png"
                    class="product-page__product-img-alternate" />
            </div>


        </div>
    </div>

    <div class="product-page__product-info-container">
        <h1 class="product-page__product-name">&quot;Voice Of God&quot; Microphone</h1>
        <div class="product-page__product-prices">
            <p class="product-page__product-compare-price">$50,000,000,000</p>
            <p class="product-page__product-price">$5,000,000,000</p>
        </div>
        <div class="product-page__product-variant-options">
            <div class="product-page__product-variants-container">
                <div class="product-page__product-variant-label">Size</div>
                <div class="product-page__product-variants">
                    <div class="product-page__product-variant">
                        <input type="radio" name="size" id="small" />
                        <label for="small">S</label>
                    </div>
                    <div class="product-page__product-variant">
                        <input type="radio" name="size" id="medium" />
                        <label for="medium">M</label>
                    </div>
                    <div class="product-page__product-variant">
                        <input type="radio" name="size" id="large" />
                        <label for="large">L</label>
                    </div>
                </div>
            </div>
            <div class="product-page__product-variants-container">
                <div class="product-page__product-variant-label">Color</div>
                <div class="product-page__product-variants">
                    <div class="product-page__product-variant">
                        <input type="radio" name="color" id="black" />
                        <label for="black">Black</label>
                    </div>
                    <div class="product-page__product-variant">
                        <input type="radio" name="color" id="white" />
                        <label for="white">White</label>
                    </div>
                    <div class="product-page__product-variant">
                        <input type="radio" name="color" id="chrome" />
                        <label for="chrome">Chrome</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="product-page__product-quantity-container">
            <label for="product-quantity">Quantity</label>
            <div class="product-page__product-quantity">
                <button class="product-page__product-quantity-minus"><i class="fas fa-minus"></i></button>
                <input type="text" name="product-quantity" id="product-quantity"
                    class="product-page__product-quantity-picker" value="1" />
                <button class="product-page__product-quantity-plus"><i class="fas fa-plus"></i></button>
            </div>
        </div>


        <div class="product-page__product-btns">
            <a href="#" class="product-page__add-to-cart-btn product-page__add-to-cart-btn--color-swap">
                <i class="fas fa-chevron-left"></i>
                <span>Add to cart</span>
                <i class="fas fa-chevron-right"></i>
            </a>
            <a href="#" class="product-page__buy-now-btn product-page__buy-now-btn--opacity-decrease">
                <i class="fas fa-chevron-left"></i>
                <span>Buy it now</span>
                <i class="fas fa-chevron-right"></i>
            </a>

            <div class="product-page__share-btns">
                <a href="#" class="product-page__share-btn"><i class="fab fa-facebook"></i></a>
                <a href="#" class="product-page__share-btn"><i class="fab fa-pinterest"></i></a>
                <a href="#" class="product-page__share-btn"><i class="fab fa-twitter"></i></a>
            </div>
        </div>

        <div class="product-page__product-information">
            <h2 class="product-page__product-information-heading">Product Overview</h2>
            <div class="product-page__product-information-accordion">
                <div class="product-page__product-information-accordion-item open">
                    <i class="fas fa-plus fa-2x product-page__product-information-accordion-open-btn"></i>
                    <i class="fas fa-minus fa-2x product-page__product-information-accordion-close-btn"></i>
                    <h3 class="product-page__product-information-accordion-label">Description</h3>
                    <div class="product-page__product-information-accordion-body">
                        <p>Legend says this microphone was created by the first human in an attempt to speak to a higher
                            power. Although they were unsuccesful, it is believed that anyone to speak into this
                            microphone will speak with the combined strength of all their ancestors.</p>
                    </div>
                </div>
                <div class="product-page__product-information-accordion-item">
                    <i class="fas fa-plus fa-2x product-page__product-information-accordion-open-btn"></i>
                    <i class="fas fa-minus fa-2x product-page__product-information-accordion-close-btn"></i>
                    <h3 class="product-page__product-information-accordion-label">Details</h3>
                    <div class="product-page__product-information-accordion-body">
                        <ul>
                            <li class="product-page__product-detail">Lightweight</li>
                            <li class="product-page__product-detail">Wide Range</li>
                            <li class="product-page__product-detail">Best Sound Quality</li>
                            <li class="product-page__product-detail">Durable and Water Resistant</li>
                        </ul>
                    </div>
                </div>


                <div class="product-page__product-information-accordion-item">
                    <i class="fas fa-plus fa-2x product-page__product-information-accordion-open-btn"></i>
                    <i class="fas fa-minus fa-2x product-page__product-information-accordion-close-btn"></i>
                    <h3 class="product-page__product-information-accordion-label">Shipping</h3>
                    <div class="product-page__product-information-accordion-body">
                        <p>Arrives as soon as you are worthy.</p>
                    </div>
                </div>

            </div>


        </div>
    </div>



    <div class="product-page__product-recommendations container">
        <h2 class="product-page__product-recommendations-heading">You May Also Like</h2>
        <div class="product-page__product-recommendations-container row">
            <a href="#" class="product-page__product-recommendation col-sm-6 col-md-3">
                <div class="product-page__product-recommendation-img-container">
                    <img src="https://products.shureweb.eu/cdn-cgi/image/height=700,format=auto/shure_product_db/product_images/files/9b9/33e/f7-/header_transparent/ba4b2157a3da0f01288b707c041ed7cd.png"
                        class="product-page__product-recommendation-img" />
                </div>
                <div class="product-page__product-recommendation-info">
                    <span class="product-page__product-recommendation-name">Microphone</span>
                    <span class="product-page__product-recommendation-price">$299.00</span>
                </div>
            </a>

            <a href="#" class="product-page__product-recommendation col-sm-6 col-md-3">
                <div class="product-page__product-recommendation-img-container">
                    <img src="https://products.shureweb.eu/cdn-cgi/image/height=700,format=auto/shure_product_db/product_main_images/files/b98/ee4/5c-/header_transparent/437d637502b37756f91d34d03f6b2a48.png"
                        class="product-page__product-recommendation-img" />
                </div>
                <div class="product-page__product-recommendation-info">
                    <span class="product-page__product-recommendation-name">Microphone</span>
                    <span class="product-page__product-recommendation-price">$299.00</span>
                </div>
            </a>

            <a href="#"
                class="product-page__product-recommendation product-page__product-recommendation--on-sale col-sm-6 col-md-3">
                <div class="product-page__sale-badge">
                    <span class="product-page__sale-text">Sale</span>
                </div>
                <div class="product-page__product-recommendation-img-container">
                    <img src="https://products.shureweb.eu/cdn-cgi/image/height=700,format=auto/shure_product_db/product_main_images/files/432/37c/4a-/header_transparent/24169967837bc1573cc226252e225987.png"
                        class="product-page__product-recommendation-img" />
                </div>
                <div class="product-page__product-recommendation-info">
                    <span class="product-page__product-recommendation-name">Microphone</span>
                    <div class="product-page__product-recommendation-prices">
                        <span class="product-page__product-recommendation-compare-price">$299.00</span>
                        <span class="product-page__product-recommendation-price">$99.00</span>
                    </div>
                </div>
            </a>

            <a href="#" class="product-page__product-recommendation col-sm-6 col-md-3">
                <div class="product-page__product-recommendation-img-container">
                    <img src="https://products.shureweb.eu/cdn-cgi/image/height=700,format=auto/shure_product_db/product_main_images/files/567/298/08-/header_transparent/ed0f33dfdc46f06331df6e519842f168.png"
                        class="product-page__product-recommendation-img" />
                </div>
                <div class="product-page__product-recommendation-info">
                    <span class="product-page__product-recommendation-name">Microphone</span>
                    <span class="product-page__product-recommendation-price">$299.00</span>
                </div>
            </a>
        </div>
    </div>
</div>
<!-- End Product Page -->