<!-- Start Order -->
<div class="order">
    <div class="container">
        <a href="/pages/account.html"
            class="order__return-btn order__return-btn--underline order__return-btn--left-arrow">
            <i class="fas fa-chevron-left"></i>
            <span>Return to account details</span>
            <i class="fas fa-chevron-right"></i>
        </a>
        <h1 class="order__number">Order #1234</h1>
        <p class="order__date">Placed on September 5, 2021 at 3:05 pm</p>

        <div class="order__details">
            <table>
                <thead>
                    <tr class="order__headers">
                        <th class="order__header">Product</th>
                        <th class="order__header">SKU</th>
                        <th class="order__header">Price</th>
                        <th class="order__header">Quantity</th>
                        <th class="order__header">Total</th>
                    </tr>
                </thead>
                <tbody class="order__products">
                    <tr class="order__product">
                        <td>
                            <span class="before">Product</span>
                            <span class="value">Microphone</span>
                        </td>
                        <td>
                            <span class="before">SKU</span>
                            <span class="value">123</span>
                        </td>
                        <td>
                            <span class="before">Price</span>
                            <span class="value">$200.00</span>
                        </td>
                        <td>
                            <span class="before">Quantity</span>
                            <span class="value">1</span>
                        </td>
                        <td>
                            <span class="before">Total</span>
                            <span class="value">$200.00</span>
                        </td>
                    </tr>
                    <tr class="order__product">
                        <td>
                            <span class="before">Product</span>
                            <span class="value">Speaker</span>
                        </td>
                        <td>
                            <span class="before">SKU</span>
                            <span class="value">456</span>
                        </td>
                        <td>
                            <span class="before">Price</span>
                            <span class="value">$150.00</span>
                        </td>
                        <td>
                            <span class="before">Quantity</span>
                            <span class="value">1</span>
                        </td>
                        <td>
                            <span class="before">Total</span>
                            <span class="value">$150.00</span>
                        </td>
                    </tr>
                </tbody>
                <tfoot class="order__totals">
                    <tr class="order__subtotal">
                        <td colspan="4">Subtotal</td>
                        <td>$350.00</td>
                    </tr>
                    <tr class="order__shipping-total">
                        <td colspan="4">Shipping (USPS Priority Mail)</td>
                        <td>$12.49</td>
                    </tr>
                    <tr class="order__total">
                        <td colspan="4">Total</td>
                        <td>$362.49 USD</td>
                    </tr>
                </tfoot>
            </table>
        </div>

        <div class="order__addresses">
            <div class="row">
                <div class="order__billing-address col-md-6">
                    <h2>Billing Address</h2>
                    <p class="order__status">Payment Status: <span>Paid</span></p>
                    <div class="addresses">
                        <div class="addresses__address">
                            <table>
                                <tr>
                                    <td>Name</td>
                                    <td>Billy Bob</td>
                                </tr>
                                <tr>
                                    <td>Address</td>
                                    <td>74 South Temple Rd.</td>
                                </tr>
                                <tr>
                                    <td>City</td>
                                    <td>Warren</td>
                                </tr>
                                <tr>
                                    <td>State</td>
                                    <td>MI</td>
                                </tr>
                                <tr>
                                    <td>Postal Code</td>
                                    <td>48089</td>
                                </tr>
                                <tr>
                                    <td>Country</td>
                                    <td>USA</td>
                                </tr>
                                <tr>
                                    <td>Phone</td>
                                    <td>555-555-5555</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="order__shipping-address col-md-6">
                    <h2>Shipping Address</h2>
                    <p class="order__status">Fullfillment Status: <span>Fulfilled</span></p>
                    <div class="addresses">
                        <div class="addresses__address">
                            <table>
                                <tr>
                                    <td>Name</td>
                                    <td>Billy Bob</td>
                                </tr>
                                <tr>
                                    <td>Address</td>
                                    <td>74 South Temple Rd.</td>
                                </tr>
                                <tr>
                                    <td>City</td>
                                    <td>Warren</td>
                                </tr>
                                <tr>
                                    <td>State</td>
                                    <td>MI</td>
                                </tr>
                                <tr>
                                    <td>Postal Code</td>
                                    <td>48089</td>
                                </tr>
                                <tr>
                                    <td>Country</td>
                                    <td>USA</td>
                                </tr>
                                <tr>
                                    <td>Phone</td>
                                    <td>555-555-5555</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- End Order -->