<!-- Start Order -->
<div class="order">
    <div class="container">
        <a href="/pages/customer/account.html" class="btn btn--primary btn--underline btn--left-arrow">
            <i class="fas fa-chevron-left"></i>
            <span>Account details</span>
            <i class="fas fa-chevron-right"></i>
        </a>

        <h1 class="order__heading heading">Order #1234</h1>
        <p class="order__date">Placed on <span class="placeholder-date">Dec 1, 2021</span></p>

        <div class="order__details">
            <table class="order__table">
                <thead class="order__head">
                    <tr class="order__headers">
                        <th class="order__header">Product</th>
                        <th class="order__header">SKU</th>
                        <th class="order__header">Price</th>
                        <th class="order__header">Quantity</th>
                        <th class="order__header">Total</th>
                    </tr>
                </thead>

                <tbody class="order__products">
                    <tr class="order__product">
                        <td class="order__cell">
                            <span class="order__key">Product</span>
                            <span class="order__value">Classic Microphone</span>
                        </td>

                        <td class="order__cell">
                            <span class="order__key">SKU</span>
                            <span class="order__value">123</span>
                        </td>

                        <td class="order__cell">
                            <span class="order__key">Price</span>
                            <span class="order__value">$99.99</span>
                        </td>

                        <td class="order__cell">
                            <span class="order__key">Quantity</span>
                            <span class="order__value">1</span>
                        </td>

                        <td class="order__cell">
                            <span class="order__key">Total</span>
                            <span class="order__value">$99.99</span>
                        </td>
                    </tr>

                    <tr class="order__product">
                        <td class="order__cell">
                            <span class="order__key">Product</span>
                            <span class="order__value">Studio Microphone</span>
                        </td>

                        <td class="order__cell">
                            <span class="order__key">SKU</span>
                            <span class="order__value">456</span>
                        </td>

                        <td class="order__cell">
                            <span class="order__key">Price</span>
                            <span class="order__value">$99.99</span>
                        </td>

                        <td class="order__cell">
                            <span class="order__key">Quantity</span>
                            <span class="order__value">1</span>
                        </td>

                        <td class="order__cell">
                            <span class="order__key">Total</span>
                            <span class="order__value">$99.99</span>
                        </td>
                    </tr>
                </tbody>

                <tfoot class="order__foot">
                    <tr class="order__subtotal">
                        <td class="order__cell" colspan="5">
                            <div class="order__pair">
                                <span class="order__key">Subtotal</span>
                                <span class="order__value">$199.98</span>
                            </div>
                        </td>
                    </tr>

                    <tr class="order__shipping-total">
                        <td class="order__cell" colspan="5">
                            <div class="order__pair">
                                <span class="order__key">Shipping (Free)</span>
                                <span class="order__value">$0.00</span>
                            </div>
                        </td>
                    </tr>

                    <tr class="order__total subheading">
                        <td class="order__cell" colspan="5">
                            <div class="order__pair">
                                <span class="order__key">Total</span>
                                <span class="order__value">$199.98 USD</span>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>

        <div class="order__addresses row">
            <div class="order__address-container col-md-6">
                <!-- Start Address -->
                <div class="address">
                    <h2 class="address__heading subheading">Billing Address</h2>

                    <p class="address__status-message">Payment Status: <span class="address__status address__status--success">Paid</span></p>

                    <table class="address__table">
                        <tr class="address__row">
                            <td class="address__cell address__cell--key">Name</td>
                            <td class="address__cell address__cell--value">John Doe</td>
                        </tr>
                        <tr class="address__row">
                            <td class="address__cell address__cell--key">Address</td>
                            <td class="address__cell address__cell--value">123 Main St</td>
                        </tr>
                        <tr class="address__row">
                            <td class="address__cell address__cell--key">City</td>
                            <td class="address__cell address__cell--value">Big City</td>
                        </tr>
                        <tr class="address__row">
                            <td class="address__cell address__cell--key">State</td>
                            <td class="address__cell address__cell--value">NY</td>
                        </tr>
                        <tr class="address__row">
                            <td class="address__cell address__cell--key">Postal Code</td>
                            <td class="address__cell address__cell--value">10001</td>
                        </tr>
                        <tr class="address__row">
                            <td class="address__cell address__cell--key">Country</td>
                            <td class="address__cell address__cell--value">USA</td>
                        </tr>
                        <tr class="address__row">
                            <td class="address__cell address__cell--key">Phone</td>
                            <td class="address__cell address__cell--value">555-555-5555</td>
                        </tr>
                    </table>
                </div>
                <!-- End Address -->
            </div>

            <div class="order__address-container col-md-6">
                <!-- Start Address -->
                <div class="address">
                    <h2 class="address__heading subheading">Shipping Address</h2>
                    <p class="address__status-message">Fulfillment Status: <span class="address__status address__status--success">Fulfilled</span></p>

                    <table class="address__table">
                        <tr class="address__row">
                            <td class="address__cell address__cell--key">Name</td>
                            <td class="address__cell address__cell--value">John Doe</td>
                        </tr>
                        <tr class="address__row">
                            <td class="address__cell address__cell--key">Address</td>
                            <td class="address__cell address__cell--value">123 Main St</td>
                        </tr>
                        <tr class="address__row">
                            <td class="address__cell address__cell--key">City</td>
                            <td class="address__cell address__cell--value">Big City</td>
                        </tr>
                        <tr class="address__row">
                            <td class="address__cell address__cell--key">State</td>
                            <td class="address__cell address__cell--value">NY</td>
                        </tr>
                        <tr class="address__row">
                            <td class="address__cell address__cell--key">Postal Code</td>
                            <td class="address__cell address__cell--value">10001</td>
                        </tr>
                        <tr class="address__row">
                            <td class="address__cell address__cell--key">Country</td>
                            <td class="address__cell address__cell--value">USA</td>
                        </tr>
                        <tr class="address__row">
                            <td class="address__cell address__cell--key">Phone</td>
                            <td class="address__cell address__cell--value">555-555-5555</td>
                        </tr>
                    </table>
                </div>
                <!-- End Address -->
            </div>
        </div>
    </div>
</div>
<!-- End Order -->