<!-- Start Image With Text -->
<div class="image-with-text">
    <div class="image-with-text__container container">
        <div class="image-with-text__row row">
            <div class="col-md-6">
                <div class="image-with-text__img-container">
                    <img src="/demo-electronics/assets/mic-3-c.png" alt="microphone" class="image-with-text__img" loading="lazy" />
                </div>
            </div>

            <div class="col-md-6">
                <div class="image-with-text__text-container">
                    <h2 class="image-with-text__heading subheading">Find Your Voice</h2>

                    <p class="image-with-text__text">With this classic look and outstanding quality, you'll be sure to
                        get the most out of your recording sessions.</p>

                    <a href="/demo-electronics/pages/shop/product.html" class="btn btn--primary btn--grow">
                        <i class="fas fa-chevron-left"></i>
                        <span>Shop Now</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Image With Text -->