<!-- Start Address -->
<div class="address">
    <h2 class="address__heading subheading">Default</h2>
    <table class="address__table">
        <tr class="address__row">
            <td class="address__cell address__cell--key">Name</td>
            <td class="address__cell address__cell--value">John Doe</td>
        </tr>
        <tr class="address__row">
            <td class="address__cell address__cell--key">Address</td>
            <td class="address__cell address__cell--value">123 Main St</td>
        </tr>
        <tr class="address__row">
            <td class="address__cell address__cell--key">City</td>
            <td class="address__cell address__cell--value">Big City</td>
        </tr>
        <tr class="address__row">
            <td class="address__cell address__cell--key">State</td>
            <td class="address__cell address__cell--value">NY</td>
        </tr>
        <tr class="address__row">
            <td class="address__cell address__cell--key">Postal Code</td>
            <td class="address__cell address__cell--value">10001</td>
        </tr>
        <tr class="address__row">
            <td class="address__cell address__cell--key">Country</td>
            <td class="address__cell address__cell--value">USA</td>
        </tr>
        <tr class="address__row">
            <td class="address__cell address__cell--key">Phone</td>
            <td class="address__cell address__cell--value">555-555-5555</td>
        </tr>
    </table>

    <div class="address__buttons">
        <a href="#" class="btn btn--secondary btn--color-swap">
            <i class="fas fa-chevron-left"></i>
            <span>Edit</span>
            <i class="fas fa-chevron-right"></i>
        </a>

        <a href="#" class="btn btn--danger btn--color-swap">
            <i class="fas fa-chevron-left"></i>
            <span>Delete</span>
            <i class="fas fa-chevron-right"></i>
        </a>
    </div>
</div>
<!-- End Address -->