<!-- Start Testimonials -->
<div class="testimonials">
    <h2 class="testimonials__heading subheading">What People Are Saying</h2>

    <div class="testimonials__slider">
        <div class="testimonials__slide">
            <div class="testimonials__quotation-mark">
                <i class="fas fa-quote-left fa-5x"></i>
            </div>

            <div class="testimonials__img-container">
                <img src="https://images.unsplash.com/photo-1507120878965-54b2d3939100?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&fit=crop&h=200&w=200&s=99fbace66d1bfa48c9c6dc8afcac3aab"
                     class="testimonials__img" loading="lazy">
            </div>

            <div class="testimonials__rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>

            <p class="testimonials__author">
                John Doe
            </p>

            <p class="testimonials__quote">
                Edison bulb freegan squid venmo post-ironic normcore man braid beard. Paleo plaid heirloom
            </p>
        </div>

        <div class="testimonials__slide">
            <div class="testimonials__quotation-mark">
                <i class="fas fa-quote-left fa-5x"></i>
            </div>

            <div class="testimonials__img-container">
                <img src="https://images.pexels.com/photos/1758845/pexels-photo-1758845.jpeg?auto=compress&cs=tinysrgb&crop=faces&fit=crop&h=200&w=200"
                     class="testimonials__img" loading="lazy">
            </div>

            <div class="testimonials__rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>

            <p class="testimonials__author">
                Cindy Lou
            </p>

            <p class="testimonials__quote">
                Edison bulb freegan squid venmo post-ironic normcore man braid beard. Paleo plaid heirloom
            </p>
        </div>

        <div class="testimonials__slide">
            <div class="testimonials__quotation-mark">
                <i class="fas fa-quote-left fa-5x"></i>
            </div>

            <div class="testimonials__img-container">
                <img src="https://images.unsplash.com/photo-1546672741-d327539d5f13?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&fit=crop&h=200&w=200&ixid=eyJhcHBfaWQiOjE3Nzg0fQ"
                     class="testimonials__img" loading="lazy">
            </div>

            <div class="testimonials__rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>

            <p class="testimonials__author">
                Jerry Green
            </p>

            <p class="testimonials__quote">
                Edison bulb freegan squid venmo post-ironic normcore man braid beard. Paleo plaid heirloom
            </p>
        </div>
    </div>

    <div class="testimonials__pagination">
        <div class="testimonials__previous" tabindex="0">
            <i class="fas fa-chevron-left"></i>
        </div>
        <div class="testimonials__next testimonials__next--active" tabindex="0">
            <i class="fas fa-chevron-right"></i>
        </div>
    </div>
</div>
<!-- End Testimonials -->