<!-- Start Collection -->
<div class="collection">
    <div class="collection__banner">
        <div class="container">
            <div class="row">
                <div class="collection__info col-md-6">
                    <h1 class="collection__name">MICROPHONES</h1>
                    <div class="collection__description">Let your voice be heard!</div>
                </div>
                <div class="collection__img-container col-md-6">
                    <img src="/assets/mic-11-d.png" alt="" class="collection__img" />
                </div>
            </div>
        </div>
    </div>

    <!-- Start Product Grid -->
    <div class="product-grid">
        <h2 class="product-grid__title center">You May Also Like</h2>
        <div class="container">
            <div class="product-grid__grid product-grid__grid--scale-img product-grid__grid--alternate-img row">
                <a href="/pages/shop/product-on-sale.html"
                    class="product-grid__item product-grid__item--on-sale col-sm-6 col-md-4 col-lg-3">
                    <div class="product-grid__result-sale-badge">
                        <span class="product-grid__result-sale-text">Sale</span>
                    </div>
                    <div class="product-grid__product-img-container">
                        <img src="/assets/mic-2-b.png" alt=""
                            class="product-grid__product-img product-grid__product-img--primary" />
                        <img src="/assets/mic-2-a.png" alt=""
                            class="product-grid__product-img product-grid__product-img--secondary" />
                    </div>
                    <div class="product-grid__product-info">
                        <p class="product-grid__product-vendor">Vendor</p>
                        <span class="product-grid__product-name">Microphone
                        </span>
                        <div class="product-grid__product-prices">
                            <span class="product-grid__product-compare-price">$299.00</span>
                            <span class="product-grid__product-price">$99.00</span>
                        </div>
                    </div>
                </a>

                <a href="/pages/shop/product-page.html" class="product-grid__item col-sm-6 col-md-4 col-lg-3">
                    <div class="product-grid__product-img-container">
                        <img src="/assets/mic-8-a.png" alt=""
                            class="product-grid__product-img product-grid__product-img--primary" />
                        <img src="/assets/mic-8-c.png" alt=""
                            class="product-grid__product-img product-grid__product-img--secondary" />
                    </div>
                    <div class="product-grid__product-info">
                        <p class="product-grid__product-vendor">Vendor</p>
                        <span class="product-grid__product-name">Microphone
                        </span>
                        <div class="product-grid__product-prices">
                            <span class="product-grid__product-price">$99.00</span>
                        </div>
                    </div>
                </a>

                <a href="/pages/shop/product-sold-out.html"
                    class="product-grid__item product-grid__item--sold-out col-sm-6 col-md-4 col-lg-3">
                    <div class="product-grid__result-sold-out-badge">
                        <span class="product-grid__result-sold-out-text">Sold Out</span>
                    </div>
                    <div class="product-grid__product-img-container">
                        <img src="/assets/mic-6-c.png" alt=""
                            class="product-grid__product-img product-grid__product-img--primary" />
                        <img src="/assets/mic-6-d.png" alt=""
                            class="product-grid__product-img product-grid__product-img--secondary" />
                    </div>
                    <div class="product-grid__product-info">
                        <p class="product-grid__product-vendor">Vendor</p>
                        <span class="product-grid__product-name">Microphone
                        </span>
                        <div class="product-grid__product-prices">
                            <span class="product-grid__product-price">$99.00</span>
                        </div>
                    </div>
                </a>

                <a href="/pages/shop/product-page.html" class="product-grid__item col-sm-6 col-md-4 col-lg-3">
                    <div class="product-grid__product-img-container">
                        <img src="/assets/mic-3-c.png" alt=""
                            class="product-grid__product-img product-grid__product-img--primary" />
                        <img src="/assets/mic-3-e.png" alt=""
                            class="product-grid__product-img product-grid__product-img--secondary" />
                    </div>
                    <div class="product-grid__product-info">
                        <p class="product-grid__product-vendor">Vendor</p>
                        <span class="product-grid__product-name">Microphone
                        </span>
                        <div class="product-grid__product-prices">
                            <span class="product-grid__product-price">$99.00</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- End Product Grid -->
</div>
<!-- End Collection -->