<!-- Start Contact -->
<div class="contact">
    <!-- Start Image Banner -->
    <div
        class="image-banner image-banner--50 image-banner--align-horizontal-center image-banner--align-vertical-center">
        <img src="https://images.pexels.com/photos/1181715/pexels-photo-1181715.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
             loading="lazy" class="image-banner__bg" />

        <div class="image-banner__content-container">
            <div class="image-banner__info">
                <h1 class="image-banner__heading xl-heading">Reach Out To Us</h1>
            </div>
        </div>
    </div>
    <!-- End Image Banner -->

    <div class="contact__container container">
        <div class="row">
            <div class="col-md-6 contact__info">
                <h2 class="contact__heading subheading">Contact Information</h2>
                <p class="contact__body">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id similique
                    quam corporis magni in reprehenderit dolorum ullam obcaecati nulla quae earum sequi amet
                    officiis ducimus et, aliquam laudantium totam.</p>
                <div class="contact__list">
                    <div class="contact__list-item">
                        <i class="contact__icon fas fa-map-marker-alt"></i>
                        <span>48 Westminster St.
                            Sioux Falls, SD 57103</span>
                    </div>
                    <div class="contact__list-item">
                        <i class="contact__icon fas fa-clock"></i>
                        <div>
                            <p>Monday-Saturday</p>
                            <p>9am-5pm</p>
                        </div>
                    </div>
                    <div class="contact__list-item">
                        <i class="contact__icon fas fa-phone-alt"></i>
                        <span>+1 (555) 555-5555</span>
                    </div>
                    <div class="contact__list-item">
                        <i class="contact__icon fas fa-envelope"></i>
                        <span>help@ouro.com</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 contact__form">
                <!-- Start Contact Form -->
                <div class="contact-form">
                    <h2 class="contact-form__heading subheading">Send a message</h2>
                    <div class="contact-form__form">
                        <div class="text-field">
                            <input type="text" name="contact-form" id="contact-form-name" class="text-field__input"
                                placeholder="" />
                            <label for="contact-form-name" class="text-field__label">Name*</label>
                        </div>
                        <div class="text-field">
                            <input type="email" name="contact-form" id="contact-form-email"
                                class="text-field__input" placeholder="" />
                            <label for="contact-form-email" class="text-field__label">Email*</label>
                        </div>
                        <div class="text-field">
                            <input type="tel" name="contact-form" id="contact-form-phone" class="text-field__input"
                                placeholder="" />
                            <label for="contact-form-phone" class="text-field__label">Phone Number</label>
                        </div>
                        <div class="text-field">
                            <textarea name="contact-form" id="contact-form-message"
                                class="text-field__input"></textarea>
                            <label for="contact-form-message" class="text-field__label">Message*</label>
                        </div>

                        <a href="#" class="contact-form__submit btn btn--primary btn--opacity-decrease">
                            <i class="fas fa-chevron-left"></i>
                            <span>Send</span>
                            <i class="fas fa-chevron-right"></i>
                        </a>
                    </div>
                </div>
                <!-- End Contact Form -->
            </div>
        </div>

    </div>
</div>
<!-- End Contact -->