<!-- Start Slideshow -->
<div class="slideshow">
    <div class="slideshow__slide slideshow__slide--active">
        <div class="slideshow__slide-overlay"></div>
        <div class="slideshow__slide-img-container">
            <img src="https://images.pexels.com/photos/6151194/pexels-photo-6151194.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="" class="slideshow__slide-img" style="object-fit: cover;object-position: center 20%;">
        </div>
        <div
            class="slideshow__slide-content slideshow__slide-content--aligned-left slideshow__slide-content--top">
            <div class="slideshow__slide-info slideshow__slide-info--aligned-left">
                <h1 class="slideshow__slide-heading">Exactly What You Need</h1>
                <p class="slideshow__slide-subheading">At this point, there's no competition</p>
                <a href="#" class="slideshow__slide-btn slideshow__slide-btn--color-swap">
                    <i class="fas fa-chevron-left"></i>
                    <span>Shop Now</span>
                    <i class="fas fa-chevron-right"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="slideshow__slide">
        <div class="slideshow__slide-overlay"></div>
        <div class="slideshow__slide-img-container">
            <img src="https://images.pexels.com/photos/6151194/pexels-photo-6151194.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="" class="slideshow__slide-img" style="object-fit: cover;object-position: center 20%;">
        </div>
        <div
            class="slideshow__slide-content slideshow__slide-content--aligned-center slideshow__slide-content--middle">
            <div class="slideshow__slide-info slideshow__slide-info--aligned-center">
                <h1 class="slideshow__slide-heading">Superior Sound</h1>
                <p class="slideshow__slide-subheading">Best in class microphones</p>
                <a href="#" class="slideshow__slide-btn slideshow__slide-btn--color-swap">
                    <i class="fas fa-chevron-left"></i>
                    <span>Shop Now</span>
                    <i class="fas fa-chevron-right"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="slideshow__slide">
        <div class="slideshow__slide-overlay"></div>
        <div class="slideshow__slide-img-container">
            <img src="https://images.pexels.com/photos/6151194/pexels-photo-6151194.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="" class="slideshow__slide-img" style="object-fit: cover;object-position: center 20%;">
        </div>
        <div
            class="slideshow__slide-content slideshow__slide-content--aligned-right slideshow__slide-content--bottom">
            <div class="slideshow__slide-info slideshow__slide-info--aligned-right">
                <h1 class="slideshow__slide-heading">The Future of Audio</h1>
                <p class="slideshow__slide-subheading">No compormises. Only quality.</p>
                <a href="#" class="slideshow__slide-btn slideshow__slide-btn--color-swap">
                    <i class="fas fa-chevron-left"></i>
                    <span>Shop Now</span>
                    <i class="fas fa-chevron-right"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="slideshow__indicators">
        <div class="slideshow__indicator slideshow__indicator--active"></div>
        <div class="slideshow__indicator"></div>
        <div class="slideshow__indicator"></div>
    </div>
</div>

<div class="comp-space">
    <h3 class="show-layout__h3">50% Height</h3>
<!-- Start Slideshow -->
    <div class="slideshow slideshow--50">
        <div class="slideshow__slide slideshow__slide--active">
            <div class="slideshow__slide-overlay"></div>
            <div class="slideshow__slide-img-container">
                <img src="https://images.pexels.com/photos/6151194/pexels-photo-6151194.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="" class="slideshow__slide-img" style="object-fit: cover;object-position: center 20%;">
            </div>
            <div
                class="slideshow__slide-content slideshow__slide-content--aligned-left slideshow__slide-content--top">
                <div class="slideshow__slide-info slideshow__slide-info--aligned-left">
                    <h1 class="slideshow__slide-heading">Exactly What You Need</h1>
                    <p class="slideshow__slide-subheading">At this point, there's no competition</p>
                    <a href="#" class="slideshow__slide-btn slideshow__slide-btn--color-swap">
                        <i class="fas fa-chevron-left"></i>
                        <span>Shop Now</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="slideshow__slide">
            <div class="slideshow__slide-overlay"></div>
            <div class="slideshow__slide-img-container">
                <img src="https://images.pexels.com/photos/6151194/pexels-photo-6151194.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="" class="slideshow__slide-img" style="object-fit: cover;object-position: center 20%;">
            </div>
            <div
                class="slideshow__slide-content slideshow__slide-content--aligned-center slideshow__slide-content--middle">
                <div class="slideshow__slide-info slideshow__slide-info--aligned-center">
                    <h1 class="slideshow__slide-heading">Superior Sound</h1>
                    <p class="slideshow__slide-subheading">Best in class microphones</p>
                    <a href="#" class="slideshow__slide-btn slideshow__slide-btn--color-swap">
                        <i class="fas fa-chevron-left"></i>
                        <span>Shop Now</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="slideshow__slide">
            <div class="slideshow__slide-overlay"></div>
            <div class="slideshow__slide-img-container">
                <img src="https://images.pexels.com/photos/6151194/pexels-photo-6151194.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="" class="slideshow__slide-img" style="object-fit: cover;object-position: center 20%;">
            </div>
            <div
                class="slideshow__slide-content slideshow__slide-content--aligned-right slideshow__slide-content--bottom">
                <div class="slideshow__slide-info slideshow__slide-info--aligned-right">
                    <h1 class="slideshow__slide-heading">The Future of Audio</h1>
                    <p class="slideshow__slide-subheading">No compormises. Only quality.</p>
                    <a href="#" class="slideshow__slide-btn slideshow__slide-btn--color-swap">
                        <i class="fas fa-chevron-left"></i>
                        <span>Shop Now</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="slideshow__indicators">
            <div class="slideshow__indicator slideshow__indicator--active"></div>
            <div class="slideshow__indicator"></div>
            <div class="slideshow__indicator"></div>
        </div>
    </div>
</div>
<!-- End Slideshow -->