<!-- Start Email Signup -->
<div class="email-signup">
    <div class="email-signup__container">
        <h2 class="email-signup__heading subheading">Sign up to our emails</h2>

        <p class="email-signup__body">Promotions, sales, and new products directly to your inbox.</p>

        <div class="email-signup__form">
            <div class="text-field">
                <input type="email" id="email-signup-email" required class="text-field__input" />

                <label htmlFor="email-signup-email" class="text-field__label">Email</label>
            </div>

            <button id="email-signup-submit" class="btn btn--primary btn--opacity-decrease">
                <i class="fas fa-chevron-left"></i>
                <span>Subscribe</span>
                <i class="fas fa-chevron-right"></i>
            </button>
        </div>
        <p class="email-signup__message email-signup__message--success">
            <i class="fas fa-check-circle"></i>
            Thanks for subscribing
        </p>

        <p class="email-signup__message email-signup__message--error">
            <i class="fas fa-exclamation-triangle"></i>
            Something went wrong. Try again.
        </p>
    </div>
</div>
<!-- End Email Signup -->