.product-grid{
    margin-top: 1rem;
    background-color: var(--clr-white);
    &__title{
        margin-bottom: 2rem;
        color: var(--clr-black);
    }
    &__grid{
        &--scale-img{
            .product-grid__product-img-container:hover .product-grid__product-img{
                transform: scale(1.06);
            }
        }
        &--alternate-img{
            .product-grid__product-img-container:hover .product-grid__product-img{
                &--primary{
                    opacity: 0;
                }
                &--secondary{
                    opacity: 1;
                }
            }
        }
    }
    &__item{
        text-decoration: none;
        margin-bottom: 1rem;
        &--on-sale,
        &--sold-out{
            position: relative;
        }
        &--sold-out{
            .product-grid__product-img-container{
                opacity: .5;
            }
        }
    }
    &__result-sale-badge{
        position: absolute;
        top: 1rem;
        left: 2rem;
        background-color: var(--clr-red);
        padding: .5em .8em;
        border-radius: 3px;
        box-shadow: 2px 5px 10px 0 rgba(0, 0, 0, 0.23);
        color: var(--clr-white);
        z-index: 2;
    }
    &__result-sold-out-badge{
        position: absolute;
        top: 1rem;
        left: 2rem;
        background-color: var(--clr-light-grey);
        padding: .5em .8em;
        border-radius: 3px;
        box-shadow: 2px 5px 10px 0 rgba(0, 0, 0, 0.23);
        color: var(--clr-black);
        z-index: 2;
    }
    &__product-img-container{
        position: relative;
        background-color: var(--clr-white);
        border: 1px solid var(--clr-x-light-grey);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: .5rem;
        width: 100%;
        padding-bottom: 100%;
        cursor: pointer;
        overflow: hidden;
        z-index: 1;
    }
    &__product-img{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        transition: all 500ms ease-in-out;
        object-fit: cover;
        object-position: center center;
        z-index: 1;

        &--primary{
            opacity: 1;
        }
        &--secondary{
            opacity: 0;
        }
    }
    &__product-vendor{
        font-size: .8rem;
        margin-bottom: .2rem;
        color: var(--clr-black);
        opacity: .8;
    }
    &__product-name{
        font-size: 1.2rem;
        color: var(--clr-black);
    }
    &__product-prices{
        display: flex;
        flex-wrap: wrap;
        margin-top: .5rem;
    }
    &__product-compare-price{
        text-decoration: line-through;
        margin-right: 1rem;
    }
    &__product-price{
        font-size: 1rem;
        letter-spacing: .1rem;
        color: var(--clr-black);
        font-weight: bold;
    }
    &__product-compare-price + &__product-price{
        color: var(--clr-red);
    }
}