.fullscreen-menu{
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    color: var(--clr-black);
    padding: 1rem 2rem 4rem 2rem;
    background-color: var(--clr-white);
    height: 100vh;
    width: 100vw;
    overflow-y: auto;

    &.open{
        display: flex;
    }
    a{
        text-decoration: none;
    }
    ul{
        list-style: none;
    }
    &__top{
        display: flex;
        justify-content: space-between;
        justify-content: center;
        align-items: center;
    }
    &__logo-container{
        max-width: 150px;
        position: relative;
        top: 0;
        &:hover .fullscreen-menu__logo{
            &--primary{
                opacity: 0;
            }
            &--secondary{
                opacity: 1;
            }
        }
    }
    &__logo{
        width: 100%;
        position: relative;
        cursor: pointer;
        transition: color 300ms ease-in-out;
        &--primary{
            position: relative;
            opacity: 1;
            left: 0;
            transition: all 300ms ease-in-out;
        }
        &--secondary{
            position: absolute;
            opacity: 0;
            left: 0;
            transition: all 300ms ease-in-out;
        }
    }
    &__close-btn{
        position: absolute;
        top: 2vw;
        right: 2vw;
        cursor: pointer;
        transition: color 300ms ease-in-out;
        &:hover{
            color: var(--clr-red);
        }
    }
    &__sign-in{
        display: flex;
        justify-content: center;
        margin: 1rem 0;
        gap: 1rem;

        a{
            transition: color 200ms ease-in-out;
            &:hover{
                color: var(--clr-accent);
            }
        }
    }
    &__links{
        display: flex;
        flex-direction: column;

    }
    &__link{
        position: relative;
        border-top: 1px solid var(--clr-light-grey);
        border-bottom: 1px solid var(--clr-light-grey);

        &:not(:first-of-type){
            border-top: none;
        }
        &.open{
            .fullscreen-menu__main-link{
                background-color: var(--clr-accent);
                color: var(--clr-white);
            }
            .fullscreen-menu__link-close-btn{
                color: var(--clr-white);
            }
            .fullscreen-menu__sub-menu{
                padding: 1rem 2rem;
                font-size: 1rem;
                border-top: 1px solid var(--clr-light-grey);
            }
            i:nth-child(1){
                display: none;
            }
        }
    }
    &__main-link{
        padding: 1rem 3rem 1rem 2rem;
        transition: all 300ms ease-in-out;
    }
    &__sub-menu{
        font-size: 0;
        overflow: hidden;
        transition: all 400ms ease-in-out;
        color: var(--clr-black);
        display: flex;
        flex-direction: column;
        a{
            transition: color 200ms ease-in-out;
            &:hover{
                color: var(--clr-accent);
            }
        }
    }
    &__link-open-btn,
    &__link-close-btn{
        position: absolute;
        cursor: pointer;
        right: 2rem;
        top: 1rem;
        transition: all 300ms ease-in-out;
    }
  }