.slideshow{
    position: relative;
    width: 100vw;
    height: 100vh;
    min-height: 300px;
    overflow: hidden;

    &--50{
        height: 50vh;

        .slideshow__indicators{
            bottom: -.3rem;
        }
    }
    &__slide-overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 2;
    }

    &__slide{
        position: absolute;
        transform: translateX(100vw);
        opacity: 0;
        width: 100%;
        height: 100%;
        transition: all 1000ms ease-in-out;

        &--active{
            transform: translateX(0);
            opacity: 1;
        }
        &-img-container{
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 1;
        }
        &-img{
            width: 100%;
            height: 100%;
        }
        &-content{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            padding: 10%;
            z-index: 2;
            &--aligned-center{
                align-items: center;
            }
            &--aligned-left{
                align-items: flex-start;
            }
            &--aligned-right{
                align-items: flex-end;
            }
            &--top{
                justify-content: flex-start;
            }
            &--middle{
                justify-content: center;
            }
            &--bottom{
                justify-content: flex-end;
            }
            background-color: rgba(0, 0, 0, 0.5);
        }
        &-info{            
            display: flex;
            flex-direction: column;
            z-index: 2;
            
            gap: 1rem;
            @media only screen and (min-width: 768px) {
                gap: 3rem;
            }
            &--aligned-left{
                text-align: left;
                align-items: flex-start;
            }
            &--aligned-center{
                text-align: center;
                align-items: center;
            }
            &--aligned-right{
                text-align: right;
                align-items: flex-end;
            }
        }
        &-heading{
            padding: .5rem;
            color: var(--clr-white);
        }
        &-subheading{
            padding: .5rem;
            color: var(--clr-white);
        }
        &-btn{
            position: relative;
            display: flex;
            justify-content: center;
            gap: .5em;
            align-items: center;
            width: fit-content;
            transition: all 300ms ease-in-out;
            text-decoration: none;
            .fa-chevron-left,
            .fa-chevron-right{
                display: none;
                transition: left 300ms ease-in-out, right 300ms ease-in-out;
            }
        
            &--color-swap{
                padding: 1em 1.7em;
                color: var(--clr-white);
                background-color: var(--clr-black);
                border: 2px solid var(--clr-black);
        
                &:hover{
                    color: var(--clr-black);
                    background-color: var(--clr-white);
                    border-color: var(--clr-white);
                }            
            }
            &--grow{
                padding: 1em 1.7em;
                color: var(--clr-white);
                background-color: var(--clr-accent);
                &:hover{
                    transform: scale(1.05);
                }
            }
            &--underline{
                color: var(--clr-black);
                span{
                    border-bottom: 1px solid var(--clr-black);
                }
                &:hover{
                    color: var(--clr-accent);
                span{
                    border-bottom: 1px solid var(--clr-accent);
                }
                }
            }
            &--opacity-decrease{
                padding: 1em 1.7em;
                color: var(--clr-white);
                background-color: var(--clr-accent);
                transition: all 100ms ease-in-out;
                &:hover{
                    opacity: 0.7;
                }
            }
            &--left-arrow{
                .fa-chevron-left{
                    display: inline-block;
                    position: relative;
                    left: 0;
                    font-size: 1rem !important;
                }
                &:hover{
                    .fa-chevron-left{
                        left: -1rem;
                    }
                }
            }
            &--right-arrow{
                .fa-chevron-right{
                    display: inline-block;
                    position: relative;
                    right: 0;
                    font-size: 1rem !important;
                }
                &:hover{
                    .fa-chevron-right{
                        right: -1rem;
                    }
                }
            }
        }

    }
    &__indicators{
        background-color: transparent;
        position: absolute;
        bottom: .1rem;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: .5rem 0;
        gap: 1rem;
    }
    &__indicator{
        height: 12px;
        width: 12px;
        border-radius: 50%;
        background-color: var(--clr-white);
        cursor: pointer;
        transition: all 300ms ease-in-out;
    
        &--active{
            height: 15px;
            width: 15px;
            background-color: var(--clr-black);
        }
    }
}