.desktop-header2{
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 2rem;
    background-color: var(--clr-white);
    color: var(--clr-black);
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.23);
    justify-content: space-between;
    @media only screen and (max-width: 1023px){
        display: none;
    }

    &.collapsed{
        padding: .1rem 2rem;

        .desktop-header2__links{
            display: none;
        }
        .desktop-header2__fullscreen-menu-open-btn{
            display: inline-block;
        }
    }
    a{
        text-decoration: none;
    }
    ul{
        list-style: none;
    }    
    &__logo-and-links{
        display: flex;
        gap: 1rem;
        align-items: center;
    }
    &__logo-container{
        max-width: 150px;
        position: relative;
        top: 0;
        &:hover .desktop-header2__logo{
            &--primary{
                opacity: 0;
            }
            &--secondary{
                opacity: 1;
            }
        }
    }
    &__logo{
        width: 100%;
        position: relative;
        cursor: pointer;
        transition: color 300ms ease-in-out;
        &--primary{
            position: relative;
            opacity: 1;
            left: 0;
            transition: all 300ms ease-in-out;
        }
        &--secondary{
            position: absolute;
            opacity: 0;
            left: 0;
            transition: all 300ms ease-in-out;
        }
    }
    &__links{
        display: flex;
        &.show{
            display: flex !important;
        }
    }
    &__link{
        margin: 0 .4rem;
        font-size: 1.3rem;
        // the value for this padding-bottom is utilized in multiple places that follow
        padding: 2rem 0;
        &:hover{
            color: var(--clr-accent);
            .desktop-header2__sub-menus{
                opacity: 1;
                pointer-events: all;
                visibility: visible;
            }
            .fa-chevron-down{
                transform: rotate(180deg);
            }
            .desktop-header2__main-link::after{
                opacity: 1;
                visibility: visible;
                width: 100%;
            }
        }
    }
    &__main-link{
        display: flex;
        align-items: center;
        gap: .5rem;
        position: relative;
        &::after{
            position: absolute;
            content: '';
            height: .5rem;
            width: 0;
            visibility: hidden;
            opacity: 0;
            // set bottom equal to the negative padding-bottom of .desktop-header2__link
            bottom: -2rem;
            left:0;
            background-color: var(--clr-accent);
            transition: all 300ms ease-in-out;
        }
    }
    &__sub-menus{
        display: flex;
        gap: 2rem;
        pointer-events: none;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100vw;
        background-color: var(--clr-off-white);
        box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.23);
        z-index: 3;
        transition: all 300ms ease-in-out;
        max-height: 70vh;
        padding: 1rem 5rem;
        &::before{
            position: absolute;
            content: '';
            // set height equal to the padding-bottom of .desktop-header2__link
            height: 2rem;
            // set top equal to the negative padding-bottom of .desktop-header2__link
            top: -2rem;
            left: 0;
            width: 100%;
            background-color: transparent;
        }
        &--align-left{
            justify-content: flex-start;
        }
        &--align-center{
            justify-content: center;
        }
        &--align-right{
            justify-content: flex-end;
        }
    }
    &__sub-menu{
        padding: 1.2rem .8rem;
        
        a{
            color: var(--clr-black);
            font-size: 1rem;
            font-weight: 400;
            &:hover{
                color: var(--clr-accent);
            }
        }
    }
    .fa-chevron-down{
        transition: all 300ms ease-in-out;
    }
    &__icons{
        display: flex;
        i{
            transition: color 200ms ease-in-out;
            &:hover{
                color: var(--clr-accent);
            }
        }
    }
    &__icons > *{
        padding: 0 .4rem;
    }
    &__cart{
        position: relative;

        &-count{
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            color: var(--clr-white);
            background-color: var(--clr-accent);
            font-size: .7rem;
            height: 1.2rem;
            width: 1.2rem;
            border-radius: 50%;
            top: -.5rem;
            right: -.2rem;
        }
    }
    &__search-and-icons{
        display: flex;
        align-items: center;
        gap: .4rem;
    }
    &__searchbar{
        border: 1px solid var(--clr-light-grey);
        background-color: var(--clr-white);
        overflow: hidden;
        border-radius: 100vw;
        border-radius: 3px;
        display: flex;
        transition: all 300ms ease-in-out;
        &.border{
            border-color: var(--clr-black);

            .search-icon{
                color: var(--clr-accent);
            }
        }
        input{
            padding: .5rem;
            border: none;
            outline: none;
            font-size: 1.2rem;
            width: 100%;
            background-color: var(--clr-white);
        }
        .search-icon{
            padding: .5rem;
            cursor: pointer;
        }
    }
    &__fullscreen-menu-open-btn{
        display: none;
        cursor: pointer;
    }
  }