@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  --clr-light-blue: #31adf5;
  --clr-light-grey: #cccccc;
  --clr-dark-grey: #777777;
  --clr-x-light-grey: #f1f1f1;
  --clr-off-white: #f8f8f8;
  --clr-black: #000000;
  --clr-light-black: #181818;
  --clr-red: #c22c22;
  --clr-white: #ffffff;
  --clr-green: #2b970a;

  --clr-accent: var(--clr-light-blue);
}


*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  height: 100%;
}
body{
  background-color: var(--clr-white);
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;

  display: flex;
  flex-direction: column;
  min-height: 100%;
  &.modal-open{
    overflow-y: hidden;
  }
}

a{
  color: inherit;
}

.fas{
  font-size: 1.5rem;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Roboto', sans-serif;
}
.center{
  text-align: center;
}

.element__title{
  margin: 2rem auto;
  text-align: center;
}
.element__subtitle{
  margin: 2rem auto;
  text-align: center;
}
.element__container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}