.blog{
    background-color: var(--clr-white);
    padding-top: 4rem;
    padding-bottom: 2rem;
    &__title{
        text-align: center;
        margin-bottom: 2rem;
        font-size: 2rem;
        color: var(--clr-black);
    }
    &__article-container{
        margin-bottom: 2rem;
    }
    &__article{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: .8rem;
        width: 100%;
        height: 100%;

        &-img-container{
            width: 100%;
            height: 100%;
            max-height: 300px;
            overflow: hidden;
            border-radius: 3px;
            &:hover{
                opacity: .9;
            }
        }
        &-img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center center;
        }
        &-title{
            color: var(--clr-black);
        }
        &-date-and-author{
            display: flex;
            gap: 1rem;
            margin-bottom: .5rem;
        }
        &-date{
            color: var(--clr-black);
            font-size: .8rem;
            padding-right: .5rem;
        }
        &-author{
            position: relative;
            color: var(--clr-black);
            font-size: .8rem;
            padding-left: .5rem;

            &-with-date::before{
                position: absolute;
                content: '';
                border-radius: 50%;
                height: .4rem;
                width: .4rem;
                background-color: var(--clr-black);
                top: 50%;
                left: -.7rem;
                transform: translateY(-50%);
            }
        }
        &-content{
            color: var(--clr-black);
        }
        &-read-more-btn{
            position: relative;
            display: flex;
            justify-content: center;
            gap: .5em;
            align-items: center;
            width: fit-content;
            transition: all 300ms ease-in-out;
            text-decoration: none;
            .fa-chevron-left,
            .fa-chevron-right{
                display: none;
                transition: left 300ms ease-in-out, right 300ms ease-in-out;
            }
        
            &--color-swap{
                padding: 1em 1.7em;
                color: var(--clr-black);
                background-color: var(--clr-white);
                border: 2px solid var(--clr-black);
        
                &:hover{
                    color: var(--clr-white);
                    background-color: var(--clr-accent);
                    border-color: var(--clr-accent);
                }            
            }
            &--grow{
                padding: 1em 1.7em;
                color: var(--clr-white);
                background-color: var(--clr-accent);
                &:hover{
                    transform: scale(1.05);
                }
            }
            &--underline{
                color: var(--clr-black);
                span{
                    border-bottom: 1px solid var(--clr-black);
                }
                &:hover{
                    color: var(--clr-accent);
                span{
                    border-bottom: 1px solid var(--clr-accent);
                }
                }
            }
            &--opacity-decrease{
                padding: 1em 1.7em;
                color: var(--clr-white);
                background-color: var(--clr-accent);
                transition: all 100ms ease-in-out;
                &:hover{
                    opacity: 0.7;
                }
            }
            &--left-arrow{
                .fa-chevron-left{
                    display: inline-block;
                    position: relative;
                    left: 0;
                    font-size: 1rem !important;
                }
                &:hover{
                    .fa-chevron-left{
                        left: -1rem;
                    }
                }
            }
            &--right-arrow{
                .fa-chevron-right{
                    display: inline-block;
                    position: relative;
                    right: 0;
                    font-size: 1rem !important;
                }
                &:hover{
                    .fa-chevron-right{
                        right: -1rem;
                    }
                }
            }
        }
    }
    
}