<!-- Start Testimonials -->
<div class="testimonials">
    <div class="container">
        <h2 class="testimonials__heading">What People Are Saying</h2>
        <div class="testimonials__slide testimonials__slide--active">
            <div class="testimonials__slide-content">
                <i class="fas fa-quote-left testimonials__slide-quotation-mark"></i>
                <p class="testimonials__slide-quote">That dog ain&apos;t too bright, but he seems loyal.</p>
                <p href="#" class="testimonials__slide-author">John</p>
            </div>
        </div>
        <div class="testimonials__slide">
            <div class="testimonials__slide-content">
                <i class="fas fa-quote-left testimonials__slide-quotation-mark"></i>
                <p class="testimonials__slide-quote">I bet that sign says Strawberry, don&apos;t it?</p>
                <p href="#" class="testimonials__slide-author">Abigail</p>
            </div>
        </div>
        <div class="testimonials__slide">
            <div class="testimonials__slide-content">
                <i class="fas fa-quote-left testimonials__slide-quotation-mark"></i>
                <p class="testimonials__slide-quote"> I think that&apos;s what they call &quot;two for the price of
                    one&quot; out here in this wonderful place! </p>
                <p href="#" class="testimonials__slide-author">Dutch</p>
            </div>
        </div>
        <div class="testimonials__indicators">
            <div class="testimonials__indicator testimonials__indicator--active"></div>
            <div class="testimonials__indicator"></div>
            <div class="testimonials__indicator"></div>
        </div>
    </div>
</div>
<!-- End Testimonials -->