<!-- Start Footer -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="footer__links">
                    <a class="footer__column-title">Shop</a>
                    <a href="/pages/shop/collection.html" class="footer__link">Collection</a>
                    <a href="/pages/shop/product-page.html" class="footer__link">Product</a>
                    <a href="/pages/shop/search.html" class="footer__link">Search</a>
                    <a href="/pages/shop/cart.html" class="footer__link">Cart</a>
                    <a href="/pages/shop/checkout.html" class="footer__link">Checkout</a>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="footer__links">
                    <a class="footer__column-title">Pages</a>
                    <a href="/pages/pages/about.html" class="footer__link">About</a>
                    <a href="/pages/pages/contact.html" class="footer__link">Contact</a>
                    <a href="/pages/pages/not-found.html" class="footer__link">404</a>
                    <a href="/pages/pages/faq.html" class="footer__link">FAQ</a>
                    <a href="/pages/pages/coming-soon.html" class="footer__link">Coming Soon</a>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="footer__links">
                    <a class="footer__column-title">Customer</a>
                    <a href="/pages/customer/account.html" class="footer__link">Account</a>
                    <a href="/pages/customer/addresses.html" class="footer__link">Addresses</a>
                    <a href="/pages/customer/login.html" class="footer__link">Login</a>
                    <a href="/pages/customer/register.html" class="footer__link">Register</a>
                    <a href="/pages/customer/reset-password.html" class="footer__link">Reset Password</a>
                    <a href="/pages/customer/order.html" class="footer__link">Order</a>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="footer__extra">
                    <span class="footer__column-title">Follow Us</span>
                    <div class="footer__social-icons">
                        <a href="#" class="footer__social-icon">
                            <i class="fab fa-facebook-f"></i>
                            <span>Facebook</span>
                        </a>
                        <a href="#" class="footer__social-icon">
                            <i class="fab fa-instagram"></i>
                            <span>Instagram</span>
                        </a>
                        <a href="#" class="footer__social-icon">
                            <i class="fab fa-twitter"></i>
                            <span>Twitter</span>
                        </a>
                        <a href="#" class="footer__social-icon">
                            <i class="fab fa-pinterest"></i>
                            <span>Pinterest</span>
                        </a>
                        <a href="#" class="footer__social-icon">
                            <i class="fab fa-youtube"></i>
                            <span>YouTube</span>
                        </a>
                        <a href="#" class="footer__social-icon">
                            <i class="fab fa-tiktok"></i>
                            <span>TikTok</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="footer__bottom">
                    <div class="footer__copyright">
                        &copy; <span class="footer__year"></span> Ouro, All Rights Reserved
                    </div>
                    <div class="footer__bottom-links">
                        <a href="#" class="footer__bottom-link">Terms of Service</a>
                        <a href="#" class="footer__bottom-link">Privacy Policy</a>
                        <a href="#" class="footer__bottom-link">Help</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->