<!-- Start Register -->
<div class="register">
    <div class="register__container">
        <h2 class="register__heading">Create account</h2>
        <div class="register__form">
            <div class="register__field text-field">
                <input type="text" id="register-first-name" class="text-field__input" placeholder="" />
                <label for="register-first-name" class="text-field__label">First Name</label>
            </div>
            <div class="register__field text-field">
                <input type="text" id="register-last-name" class="text-field__input" placeholder="" />
                <label for="register-last-name" class="text-field__label">Last Name</label>
            </div>
            <div class="register__field text-field">
                <input type="email" id="register-email" class="text-field__input" placeholder="" />
                <label for="register-email" class="text-field__label">Email</label>
            </div>
            <div class="register__field text-field">
                <input type="password" id="register-password" class="text-field__input" placeholder="" />
                <label for="register-password" class="text-field__label">Password</label>
            </div>

            <a href="/pages/account.html" class="register__submit-btn register__submit-btn--opacity-decrease">Create
                account</a>
        </div>
        <a href="/pages/login.html" class="register__opposite">Already have an account?</a>
    </div>
</div>
<!-- End Register -->