<!-- Start Multicolumn -->
<div class="multicolumn multicolumn--align-left container">
    <div class="row">
        <h2 class="multicolumn__heading">Multicolumn</h2>
    </div>

    <div class="multicolumn__columns row">
        <div class="multicolumn__column col-12 col-sm-6 col-md-4">
            <div class="multicolumn__column-img-container">
                <img src="https://images.pexels.com/photos/6882084/pexels-photo-6882084.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                    alt="" class="multicolumn__column-img" />
            </div>
            <h3 class="multicolumn__column-heading">Column</h3>
            <div class="multicolumn__column-description">
                <p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on
                    availability, style, or even provide a review.</p>
            </div>
            <a href="#" class="multicolumn__column-btn multicolumn__column-btn--color-swap">
                <i class="fas fa-chevron-left"></i>
                <span>Button label</span>
                <i class="fas fa-chevron-right"></i>
            </a>
        </div>

        <div class="multicolumn__column col-12 col-sm-6 col-md-4">
            <div class="multicolumn__column-img-container">
                <img src="https://images.pexels.com/photos/5563177/pexels-photo-5563177.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                    alt="" class="multicolumn__column-img" />
            </div>
            <h3 class="multicolumn__column-heading">Column</h3>
            <div class="multicolumn__column-description">
                <p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on
                    availability, style, or even provide a review.</p>
            </div>
            <a href="#" class="multicolumn__column-btn multicolumn__column-btn--color-swap">
                <i class="fas fa-chevron-left"></i>
                <span>Button label</span>
                <i class="fas fa-chevron-right"></i>
            </a>
        </div>

        <div class="multicolumn__column col-12 col-sm-6 col-md-4">
            <div class="multicolumn__column-img-container">
                <img src="https://images.pexels.com/photos/1342600/pexels-photo-1342600.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                    alt="" class="multicolumn__column-img" />
            </div>
            <h3 class="multicolumn__column-heading">Column</h3>
            <div class="multicolumn__column-description">
                <p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on
                    availability, style, or even provide a review.</p>
            </div>
            <a href="#" class="multicolumn__column-btn multicolumn__column-btn--color-swap">
                <i class="fas fa-chevron-left"></i>
                <span>Button label</span>
                <i class="fas fa-chevron-right"></i>
            </a>
        </div>

    </div>

    <a href="#" class="multicolumn__btn multicolumn__btn--opacity-decrease">
        <i class="fas fa-chevron-left"></i>
        <span>Button label</span>
        <i class="fas fa-chevron-right"></i>
    </a>
</div>
<!-- End Multicolumn -->