<!-- Start Accordion -->
<accordion-component data-multiple="true">
    <div class="accordion__item">
        <h3 class="accordion__heading subheading">How do I return an item?</h3>
        <div class="accordion__content">From the <a href="#">My Orders</a> page, select the order you wish to return
            and click "Return order". We will create a UPS shipping label for you to take to any UPS Store and ship
            your return.</div>
    </div>

    <div class="accordion__item">
        <h3 class="accordion__heading subheading">How do I track my order?</h3>
        <div class="accordion__content">When an order is shipped, we will send an email with tracking information to
            the email address provided in the order. You can also navigate to the <a href="#">My Orders</a> page and
            click on your order to see the tracking information.</div>
    </div>

    <div class="accordion__item">
        <h3 class="accordion__heading subheading">How long will shipping take?</h3>
        <div class="accordion__content">
            <ul>
                <li>Standard shipping: 4-7 days*</li>
                <li>Express shipping: 3-5 days*</li>
                <li>Rush shipping: 1 day*</li>
            </ul>
        </div>
    </div>

    <div class="accordion__item">
        <h3 class="accordion__heading subheading">Do you ship internationally?</h3>
        <div class="accordion__content"><a href="#">Here</a> is a list of all the countries/territories that we ship
            to.</div>
    </div>
</accordion-component>
<!-- End Accordion -->