<!-- Start Search -->
<div class="search">
    <div class="container">
        <div class="row">
            <div class="search__top">
                <h1 class="search__heading">Search</h1>

                <div class="search__field text-field">
                    <input type="text" id="search-input" class="text-field__input" placeholder=""
                        value="microphone" />
                    <label for="search-input" class="text-field__label">Search</label>
                </div>

                <p class="search__message">8 results found for &quot;microphone&quot;</p>
            </div>
        </div>


        <!-- Start Product Grid -->
        <div class="product-grid">
            <div class="container">
                <div class="product-grid__grid product-grid__grid--scale-img product-grid__grid--alternate-img row">
                    <a href="/pages/shop/product-on-sale.html"
                        class="product-grid__item product-grid__item--on-sale col-sm-6 col-md-4 col-lg-3">
                        <div class="product-grid__result-sale-badge">
                            <span class="product-grid__result-sale-text">Sale</span>
                        </div>
                        <div class="product-grid__product-img-container">
                            <img src="/assets/mic-2-b.png" alt=""
                                class="product-grid__product-img product-grid__product-img--primary" />
                            <img src="/assets/mic-2-a.png" alt=""
                                class="product-grid__product-img product-grid__product-img--secondary" />
                        </div>
                        <div class="product-grid__product-info">
                            <p class="product-grid__product-vendor">Vendor</p>
                            <span class="product-grid__product-name">Microphone
                            </span>
                            <div class="product-grid__product-prices">
                                <span class="product-grid__product-compare-price">$299.00</span>
                                <span class="product-grid__product-price">$99.00</span>
                            </div>
                        </div>
                    </a>

                    <a href="/pages/shop/product-page.html" class="product-grid__item col-sm-6 col-md-4 col-lg-3">
                        <div class="product-grid__product-img-container">
                            <img src="/assets/mic-8-a.png" alt=""
                                class="product-grid__product-img product-grid__product-img--primary" />
                            <img src="/assets/mic-8-c.png" alt=""
                                class="product-grid__product-img product-grid__product-img--secondary" />
                        </div>
                        <div class="product-grid__product-info">
                            <p class="product-grid__product-vendor">Vendor</p>
                            <span class="product-grid__product-name">Microphone
                            </span>
                            <div class="product-grid__product-prices">
                                <span class="product-grid__product-price">$99.00</span>
                            </div>
                        </div>
                    </a>

                    <a href="/pages/shop/product-sold-out.html"
                        class="product-grid__item product-grid__item--sold-out col-sm-6 col-md-4 col-lg-3">
                        <div class="product-grid__result-sold-out-badge">
                            <span class="product-grid__result-sold-out-text">Sold Out</span>
                        </div>
                        <div class="product-grid__product-img-container">
                            <img src="/assets/mic-6-c.png" alt=""
                                class="product-grid__product-img product-grid__product-img--primary" />
                            <img src="/assets/mic-6-d.png" alt=""
                                class="product-grid__product-img product-grid__product-img--secondary" />
                        </div>
                        <div class="product-grid__product-info">
                            <p class="product-grid__product-vendor">Vendor</p>
                            <span class="product-grid__product-name">Microphone
                            </span>
                            <div class="product-grid__product-prices">
                                <span class="product-grid__product-price">$99.00</span>
                            </div>
                        </div>
                    </a>

                    <a href="/pages/shop/product-page.html" class="product-grid__item col-sm-6 col-md-4 col-lg-3">
                        <div class="product-grid__product-img-container">
                            <img src="/assets/mic-3-c.png" alt=""
                                class="product-grid__product-img product-grid__product-img--primary" />
                            <img src="/assets/mic-3-e.png" alt=""
                                class="product-grid__product-img product-grid__product-img--secondary" />
                        </div>
                        <div class="product-grid__product-info">
                            <p class="product-grid__product-vendor">Vendor</p>
                            <span class="product-grid__product-name">Microphone
                            </span>
                            <div class="product-grid__product-prices">
                                <span class="product-grid__product-price">$99.00</span>
                            </div>
                        </div>
                    </a>

                    <a href="/pages/shop/product-page.html" class="product-grid__item col-sm-6 col-md-4 col-lg-3">
                        <div class="product-grid__product-img-container">
                            <img src="/assets/mic-4-a.png" alt=""
                                class="product-grid__product-img product-grid__product-img--primary" />
                            <img src="/assets/mic-4-c.png" alt=""
                                class="product-grid__product-img product-grid__product-img--secondary" />
                        </div>
                        <div class="product-grid__product-info">
                            <p class="product-grid__product-vendor">Vendor</p>
                            <span class="product-grid__product-name">Microphone
                            </span>
                            <div class="product-grid__product-prices">
                                <span class="product-grid__product-price">$99.00</span>
                            </div>
                        </div>
                    </a>

                    <a href="/pages/shop/product-page.html" class="product-grid__item col-sm-6 col-md-4 col-lg-3">
                        <div class="product-grid__product-img-container">
                            <img src="/assets/mic-1-a.png" alt=""
                                class="product-grid__product-img product-grid__product-img--primary" />
                            <img src="/assets/mic-1-b.png" alt=""
                                class="product-grid__product-img product-grid__product-img--secondary" />
                        </div>
                        <div class="product-grid__product-info">
                            <p class="product-grid__product-vendor">Vendor</p>
                            <span class="product-grid__product-name">Microphone
                            </span>
                            <div class="product-grid__product-prices">
                                <span class="product-grid__product-price">$99.00</span>
                            </div>
                        </div>
                    </a>

                    <a href="/pages/shop/product-page.html" class="product-grid__item col-sm-6 col-md-4 col-lg-3">
                        <div class="product-grid__product-img-container">
                            <img src="/assets/mic-5-c.png" alt=""
                                class="product-grid__product-img product-grid__product-img--primary" />
                            <img src="/assets/mic-5-b.png" alt=""
                                class="product-grid__product-img product-grid__product-img--secondary" />
                        </div>
                        <div class="product-grid__product-info">
                            <p class="product-grid__product-vendor">Vendor</p>
                            <span class="product-grid__product-name">Microphone
                            </span>
                            <div class="product-grid__product-prices">
                                <span class="product-grid__product-price">$99.00</span>
                            </div>
                        </div>
                    </a>

                    <a href="/pages/shop/product-page.html" class="product-grid__item col-sm-6 col-md-4 col-lg-3">
                        <div class="product-grid__product-img-container">
                            <img src="/assets/mic-9-b.png" alt=""
                                class="product-grid__product-img product-grid__product-img--primary" />
                            <img src="/assets/mic-9-c.png" alt=""
                                class="product-grid__product-img product-grid__product-img--secondary" />
                        </div>
                        <div class="product-grid__product-info">
                            <p class="product-grid__product-vendor">Vendor</p>
                            <span class="product-grid__product-name">Microphone
                            </span>
                            <div class="product-grid__product-prices">
                                <span class="product-grid__product-price">$99.00</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!-- End Product Grid -->


        <div class="search__pagination">
            <!-- <i class="fas fa-chevron-left search__prev"></i> -->
            <span class="search__page-number current-page">1</span>
            <span class="search__page-number">2</span>
            <i class="fas fa-chevron-right search__next"></i>
        </div>
    </div>
</div>
<!-- End Search -->