<!-- Start Account -->
<div class="account">
    <div class="container">
        <h1 class="account__heading heading">Account</h1>

        <a href="/pages/customer/login.html" class="btn btn--primary btn--underline">
            <i class="fas fa-chevron-left"></i>
            <span>Log out</span>
            <i class="fas fa-chevron-right"></i>
        </a>

        <div class="row">
            <div class="account__column col-lg-6">
                <div class="account__addresses">
                    <div class="address">
                        <h2 class="address__heading subheading">Your Address</h2>
                        <table class="address__table">
                            <tr class="address__row">
                                <td class="address__cell address__cell--key">Name</td>
                                <td class="address__cell address__cell--value">John Doe</td>
                            </tr>
                            <tr class="address__row">
                                <td class="address__cell address__cell--key">Address</td>
                                <td class="address__cell address__cell--value">123 Main St</td>
                            </tr>
                            <tr class="address__row">
                                <td class="address__cell address__cell--key">City</td>
                                <td class="address__cell address__cell--value">Big City</td>
                            </tr>
                            <tr class="address__row">
                                <td class="address__cell address__cell--key">State</td>
                                <td class="address__cell address__cell--value">NY</td>
                            </tr>
                            <tr class="address__row">
                                <td class="address__cell address__cell--key">Postal Code</td>
                                <td class="address__cell address__cell--value">10001</td>
                            </tr>
                            <tr class="address__row">
                                <td class="address__cell address__cell--key">Country</td>
                                <td class="address__cell address__cell--value">USA</td>
                            </tr>
                            <tr class="address__row">
                                <td class="address__cell address__cell--key">Phone</td>
                                <td class="address__cell address__cell--value">555-555-5555</td>
                            </tr>
                        </table>

                        <div class="address__buttons">
                            <a href="/pages/customer/addresses.html" class="btn btn--primary btn--underline">
                                <i class="fas fa-chevron-left"></i>
                                <span>View all addresses (3)</span>
                                <i class="fas fa-chevron-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="account__column col-lg-6">
                <!-- Start Order History -->
                <div class="order-history">
                    <h2 class="order-history__heading subheading">Order History</h2>

                    <div class="order-history__details">
                        <table class="order-history__table">
                            <thead class="order-history__head">
                                <tr class="order-history__headers">
                                    <th class="order-history__header">Order ID</th>
                                    <th class="order-history__header">Date</th>
                                    <th class="order-history__header">Payment Status</th>
                                    <th class="order-history__header">Fulfillment Status</th>
                                    <th class="order-history__header">Total</th>
                                </tr>
                            </thead>
                            <tbody class="order-history__orders">
                                <tr class="order-history__order">
                                    <td class="order-history__cell">
                                        <span class="order-history__key">Order ID</span>
                                        <a href="/pages/customer/order.html"><span
                                                class="order-history__value">#1234</span></a>
                                    </td>
                                    <td class="order-history__cell">
                                        <span class="order-history__key">Date</span>
                                        <span class="order-history__value placeholder-date">Dec 1, 2021</span>
                                    </td>
                                    <td class="order-history__cell">
                                        <span class="order-history__key">Payment Status</span>
                                        <span class="order-history__value">Paid</span>
                                    </td>
                                    <td class="order-history__cell">
                                        <span class="order-history__key">Fulfillment Status</span>
                                        <span class="order-history__value">Fulfilled</span>
                                    </td>
                                    <td class="order-history__cell">
                                        <span class="order-history__key">Total</span>
                                        <span class="order-history__value">$139.98</span>
                                    </td>
                                </tr>

                                <tr class="order-history__order">
                                    <td class="order-history__cell">
                                        <span class="order-history__key">Order ID</span>
                                        <a href="/pages/customer/order.html"><span
                                                class="order-history__value">#619</span></a>
                                    </td>
                                    <td class="order-history__cell">
                                        <span class="order-history__key">Date</span>
                                        <span class="order-history__value placeholder-date">Dec 1, 2021</span>
                                    </td>
                                    <td class="order-history__cell">
                                        <span class="order-history__key">Payment Status</span>
                                        <span class="order-history__value">Paid</span>
                                    </td>
                                    <td class="order-history__cell">
                                        <span class="order-history__key">Fulfillment Status</span>
                                        <span class="order-history__value">Fulfilled</span>
                                    </td>
                                    <td class="order-history__cell">
                                        <span class="order-history__key">Total</span>
                                        <span class="order-history__value">$99.99</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- End Order History -->
            </div>
        </div>
    </div>
</div>
<!-- End Account -->