<!-- Start Article -->
<div class="article">
    <!-- Start Image Banner -->
    <div class="image-banner image-banner--50">
        <img src="/demo-electronics/assets/singing-9.png" alt="" loading="lazy" class="image-banner__bg" />
    </div>
    <!-- End Image Banner -->

    <div class="article__container container">
        <h1 class="article__title heading">Article Title</h1>

        <div class="article__date-and-author small">
            <span class="article__date placeholder-date">Sep, 2021</span>
            <span class="article__author article__author--with-date">Abdo</span>
        </div>

        <div class="article__content">
            <p>I'm baby pabst leggings hell of, lomo church-key helvetica ugh iPhone microdosing kitsch. Listicle
                ramps blue bottle DIY migas poke thundercats actually typewriter vape poutine waistcoat hot chicken.
                Austin hammock vinyl, ethical williamsburg mustache lomo. Deep v quinoa celiac helvetica pitchfork
                trust fund narwhal. Drinking vinegar fingerstache copper mug venmo godard, cliche twee farm-to-table
                blue bottle vaporware forage vinyl synth flexitarian. Air plant vegan butcher taxidermy mustache.
            </p>

            <h3 class="subheading">Mumblecore 90's VHS kickstarter</h3>

            <p>Vape organic banh mi YOLO keytar, shoreditch meh lo-fi selvage everyday carry waistcoat irony vice
                coloring book pork belly. Tbh tousled taiyaki, aesthetic food truck keffiyeh squid roof party you
                probably haven't heard of them next level readymade wayfarers cred godard. Raw denim venmo
                microdosing pop-up messenger bag mlkshk, activated charcoal +1 butcher letterpress keytar. Bespoke
                man bun</p>

            <p>Thundercats cray waistcoat master cleanse. Chia normcore vexillologist, godard kombucha actually
                migas marfa prism single-origin coffee hoodie squid try-hard whatever. Subway tile yr cardigan, blog
                +1 celiac keffiyeh af umami actually kale chips irony XOXO franzen. Artisan ethical migas, yuccie
                chartreuse neutra vaporware dreamcatcher tbh pitchfork leggings. Pop-up literally hammock mustache
                gentrify, vinyl portland kitsch aesthetic banjo vegan iceland.</p>

            <div class="article__content-img-container">
                <img src="https://images.pexels.com/photos/235621/pexels-photo-235621.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                    alt="" class="article__content-img">
            </div>

            <h3 class="subheading">Man braid locavore taiyaki, bushwick</h3>

            <p>Etsy blog mixtape cold-pressed gluten-free wayfarers chambray typewriter yuccie shoreditch franzen
                skateboard. Vexillologist kombucha irony bicycle rights fam bespoke post-ironic 3 wolf moon
                8-bit.Cloud bread kinfolk vinyl taxidermy deep v. Af affogato godard, kickstarter sartorial portland
                copper mug literally cronut chicharrones. Helvetica chia literally tacos hexagon, four loko kogi.
                Live-edge jean shorts kinfolk fashion axe salvia freegan selvage distillery mixtape.</p>
        </div>

        <div class="article__share-btns">
            <a href="#" class="article__share-btn">
                <i class="fab fa-facebook"></i>
                <span>Share</span>
            </a>
            <a href="#" class="article__share-btn">
                <i class="fab fa-twitter"></i>
                <span>Share</span>
            </a>
            <a href="#" class="article__share-btn">
                <i class="fab fa-instagram"></i>
                <span>Share</span>
            </a>
        </div>

        <a href="/demo-electronics/pages/blog/blog.html" class="article__return-btn btn btn--primary btn--underline btn--left-arrow">
            <i class="fas fa-chevron-left"></i>
            <span>Back to blog</span>
            <i class="fas fa-chevron-right"></i>
        </a>
    </div>

    <!-- Start Blog Posts -->
    <div class="blog-posts">
        <div class="container">
            <h2 class="blog-posts__heading subheading">Related Posts</h2>

            <div class="blog-posts__posts blog-posts__posts--aligned-left row">
                <div class="blog-posts__post-container col-12 col-sm-6 col-lg-4">
                    <div class="blog-posts__post">
                        <a href="/demo-electronics/pages/blog/article.html" class="blog-posts__post-featured-img-container">
                            <img src="/demo-electronics/assets/singing-1.png" alt="" class="blog-posts__post-featured-img" />
                        </a>
                        <h3 class="blog-posts__post-title">Post Title</h3>
                        <div class="blog-posts__post-date-and-author small">
                            <span class="blog-posts__post-date placeholder-date">Aug, 2021</span>
                            <span class="blog-posts__post-author blog-posts__post-author-with-date">John Doe</span>
                        </div>
                        <p class="blog-posts__post-excerpt">Tousled prism palo santo deep v, banjo austin
                            farm-to-table
                            semiotics viral bushwick vice...</p>
                        <a href="/demo-electronics/pages/blog/article.html" class="btn btn--primary btn--underline btn--right-arrow">
                            <i class="fas fa-chevron-left"></i>
                            <span>Read more</span>
                            <i class="fas fa-chevron-right"></i>
                        </a>
                    </div>
                </div>

                <div class="blog-posts__post-container col-12 col-sm-6 col-lg-4">
                    <div class="blog-posts__post">
                        <a href="/demo-electronics/pages/blog/article.html" class="blog-posts__post-featured-img-container">
                            <img src="/demo-electronics/assets/singing-8.png" alt="" class="blog-posts__post-featured-img" />
                        </a>
                        <h3 class="blog-posts__post-title">Post Title</h3>
                        <div class="blog-posts__post-date-and-author small">
                            <span class="blog-posts__post-date placeholder-date">Aug, 2021</span>
                            <span class="blog-posts__post-author blog-posts__post-author-with-date">John Doe</span>
                        </div>
                        <p class="blog-posts__post-excerpt">Tousled prism palo santo deep v, banjo austin
                            farm-to-table
                            semiotics viral bushwick vice...</p>
                        <a href="/demo-electronics/pages/blog/article.html" class="btn btn--primary btn--underline btn--right-arrow">
                            <i class="fas fa-chevron-left"></i>
                            <span>Read more</span>
                            <i class="fas fa-chevron-right"></i>
                        </a>
                    </div>
                </div>

                <div class="blog-posts__post-container col-12 col-sm-6 col-lg-4">
                    <div class="blog-posts__post">
                        <a href="/demo-electronics/pages/blog/article.html" class="blog-posts__post-featured-img-container">
                            <img src="/demo-electronics/assets/singing-6.png" alt="" class="blog-posts__post-featured-img" />
                        </a>
                        <h3 class="blog-posts__post-title">Post Title</h3>
                        <div class="blog-posts__post-date-and-author small">
                            <span class="blog-posts__post-date placeholder-date">Aug, 2021</span>
                            <span class="blog-posts__post-author blog-posts__post-author-with-date">John Doe</span>
                        </div>
                        <p class="blog-posts__post-excerpt">Tousled prism palo santo deep v, banjo austin
                            farm-to-table
                            semiotics viral bushwick vice...</p>
                        <a href="/demo-electronics/pages/blog/article.html" class="btn btn--primary btn--underline btn--right-arrow">
                            <i class="fas fa-chevron-left"></i>
                            <span>Read more</span>
                            <i class="fas fa-chevron-right"></i>
                        </a>
                    </div>
                </div>
            </div>

            <a href="/demo-electronics/pages/blog/blog.html" class="blog-posts__view-all btn btn--secondary btn--color-swap">
                <i class="fas fa-chevron-left"></i>
                <span>View All</span>
                <i class="fas fa-chevron-right"></i>
            </a>
        </div>
    </div>
    <!-- End Blog Posts -->

    <!-- Start Comments -->
    <div class="comments">
        <div class="comments__container container">
            <h2 class="comments__count subheading">4 comments</h2>

            <div class="comment">
                <div class="comment__date-and-author small">
                    <p class="comment__author">John Doe</p>

                    <p class="comment__date placeholder-date">Dec 1, 2021</p>
                </div>

                <p class="comment__content">
                    Cloud bread kinfolk vinyl taxidermy deep v. Af affogato
                </p>
            </div>

            <div class="comment">
                <div class="comment__date-and-author small">
                    <p class="comment__author">John Doe</p>

                    <p class="comment__date placeholder-date">Dec 1, 2021</p>
                </div>

                <p class="comment__content">
                    Cloud bread kinfolk vinyl taxidermy deep v. Af affogato
                </p>
            </div>

            <div class="comment">
                <div class="comment__date-and-author small">
                    <p class="comment__author">John Doe</p>

                    <p class="comment__date placeholder-date">Dec 1, 2021</p>
                </div>

                <p class="comment__content">
                    Cloud bread kinfolk vinyl taxidermy deep v. Af affogato
                </p>
            </div>

            <div class="comment">
                <div class="comment__date-and-author small">
                    <p class="comment__author">John Doe</p>

                    <p class="comment__date placeholder-date">Dec 1, 2021</p>
                </div>

                <p class="comment__content">
                    Cloud bread kinfolk vinyl taxidermy deep v. Af affogato
                </p>
            </div>

            <div class="comment-form">
                <h3 class="comment-form__heading">Leave a comment</h3>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="text-field">
                            <input type="text" name="comment-form" id="comment-form-name" class="text-field__input"
                                placeholder="" />
                            <label for="comment-form-name" class="text-field__label">Name*</label>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="text-field">
                            <input type="email" name="comment-form" id="comment-form-email"
                                class="text-field__input" placeholder="" />
                            <label for="comment-form-email" class="text-field__label">Email*</label>
                        </div>
                    </div>
                </div>

                <div class="text-field">
                    <textarea name="comment-form" id="comment-form-comment" class="text-field__input"></textarea>
                    <label for="comment-form-comment" class="text-field__label">Comment*</label>
                </div>

                <a href="#" class="comment-form__submit btn btn--primary btn--opacity-decrease">
                    <i class="fas fa-chevron-left"></i>
                    <span>Post</span>
                    <i class="fas fa-chevron-right"></i>
                </a>
            </div>
        </div>
    </div>
    <!-- End Comments -->
</div>
<!-- End Article -->