:root {
    // Colors
    --color-primary: #31ADF5;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-off-white: #f8f8f8;
    --color-light-grey: #eeeeee;
    --color-mid-grey: #aaaaaa;
    --color-dark-grey: #777777;
    --color-sale: #c22c22;
    --color-sold-out: #cccccc;
    --color-success: #37bb7c;
    --color-error: #c50f0f;

    // Effects
    --shadow-bottom: 0px 6px 2px 0px rgba(0,0,0,0.25);
}