<!-- Start Image Banner -->
<div class="image-banner image-banner--align-center image-banner--middle">
    <img src="/assets/mic-11-a.png"
        class="image-banner__bg" />

    <div class="image-banner__content-container">
        <div class="image-banner__info">
            <h1 class="image-banner__title">Dummy Title</h1>
            <p class="image-banner__paragraph">I&apos;m baby salvia yr knausgaard activated charcoal succulents keytar
                art
                party before they sold out cronut kickstarter truffaut church-key paleo seitan.</p>
            <a href="#" class="image-banner__btn image-banner__btn--color-swap">
                <i class="fas fa-chevron-left"></i>
                <span>View More</span>
                <i class="fas fa-chevron-right"></i>
            </a>
        </div>
    </div>
</div>
<!-- End Image Banner -->