@use '/demo-fashion/abstracts/' as a;

.account{
    padding: 2rem 0;

    @include a.mq-min(768px){
        padding: 4rem 0;
    }

    &__heading{
        margin-bottom: 1rem;
        font-weight: 600;
    }
    &__column{
        margin-bottom: 2rem;
    }

    .address{
        margin-top: 1rem;
        align-items: flex-start;
    }
}