@use '/demo-fashion/abstracts/'as a;

.search {
    padding: 2rem 0;

    @include a.mq-min(768px) {
        padding: 4rem 0;
    }

    &__top {
        align-self: center;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        margin-bottom: 1rem;
        padding: .5rem;
    }

    &__filters-container {
        @include a.mq-min(768px) {
            padding-top: 3.8rem;
        }
    }

    &__filters {
        .accordion__heading {
            background-color: var(--color-white);
            border-bottom: 1px solid var(--color-mid-grey);
            color: var(--color-black);

            &::after,
            &::before {
                background-color: var(--color-black) !important;
            }
        }
    }

    &__filters-list{
        list-style: none;
        padding-left: 0 !important;
    }
    &__filter {
        cursor: pointer;
        padding-left: 1rem;
        margin-top: .5rem;

        &:hover{
            background-color: var(--color-light-grey);
        }
    }

    &__pagination {
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
    }

    &__page-number {
        cursor: pointer;

        &.current-page {
            color: var(--color-primary);
            border-bottom: 2px solid var(--color-primary);
        }
    }

    &__next {
        cursor: pointer;
    }
}