<!-- Start FAQ -->
<div class="faq">
    <!-- Start Image Banner -->
    <div
        class="image-banner image-banner--50 image-banner--align-horizontal-center image-banner--align-vertical-center">
        <img src="/demo-electronics/assets/mic-11-c.png" alt="girl singing" loading="lazy" class="image-banner__bg" />

        <div class="image-banner__content-container">
            <div class="image-banner__info">
                <h1 class="image-banner__heading xl-heading">Frequently Asked Questions</h1>
            </div>
        </div>
    </div>
    <!-- End Image Banner -->

    <div class="faq__container container">
        <div class="row">
            <div class="faq__column col-md-6">
                <h2 class="faq__heading heading">Shipping</h2>

                <!-- Start Accordion -->
                <accordion-component data-multiple="true">
                    <div class="accordion__item">
                        <h3 class="accordion__heading subheading">How long will shipping take?</h3>
                        <div class="accordion__content">
                            <ul>
                                <li>Standard shipping: 4-7 days*</li>
                                <li>Express shipping: 3-5 days*</li>
                                <li>Rush shipping: 1 day*</li>
                            </ul>
                        </div>
                    </div>

                    <div class="accordion__item">
                        <h3 class="accordion__heading subheading">Do you ship internationally?</h3>
                        <div class="accordion__content"><a href="#">Here</a> is a list of all the
                            countries/territories that we ship
                            to.</div>
                    </div>

                    <div class="accordion__item">
                        <h3 class="accordion__heading subheading">How much is shipping?</h3>
                        <div class="accordion__content">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, sit odio ab
                                quibusdam recusandae autem.</p>
                        </div>
                    </div>

                    <div class="accordion__item">
                        <h3 class="accordion__heading subheading">How will my package be shipped?</h3>
                        <div class="accordion__content">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum repudiandae optio
                                eaque eligendi ea odio.</p>
                        </div>
                    </div>
                </accordion-component>
                <!-- End Accordion -->
            </div>

            <div class="faq__column col-md-6">
                <h2 class="faq__heading heading">Orders & Returns</h2>

                <!-- Start Accordion -->
                <accordion-component data-multiple="true">
                    <div class="accordion__item">
                        <h3 class="accordion__heading subheading">How do I return an item?</h3>
                        <div class="accordion__content">From the <a href="#">My Orders</a> page, select the order
                            you wish to return
                            and click "Return order". We will create a UPS shipping label for you to take to any UPS
                            Store and ship
                            your return.</div>
                    </div>

                    <div class="accordion__item">
                        <h3 class="accordion__heading subheading">How do I track my order?</h3>
                        <div class="accordion__content">When an order is shipped, we will send an email with
                            tracking information to
                            the email address provided in the order. You can also navigate to the <a href="#">My
                                Orders</a> page and
                            click on your order to see the tracking information.</div>
                    </div>

                    <div class="accordion__item">
                        <h3 class="accordion__heading subheading">Do I need an account to place an order?</h3>
                        <div class="accordion__content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere odit velit esse,
                                itaque corporis officia.</p>
                        </div>
                    </div>

                    <div class="accordion__item">
                        <h3 class="accordion__heading subheading">How can I edit or cancel my order?</h3>
                        <div class="accordion__content">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident ratione eligendi
                                optio voluptate ab. Libero.</p>
                        </div>
                    </div>
                </accordion-component>
                <!-- End Accordion -->
            </div>
        </div>
    </div>
</div>
<!-- End FAQ -->