@use '../abstracts/'as a;

.collection {
    padding-bottom: 2rem;

    @include a.mq-min(768px) {
        padding-bottom: 4rem;
    }

    &__banner {
        background-color: var(--color-off-white);

    }

    &__info {
        display: flex;
        flex-direction: column;

        @media only screen and (min-width: 768px) {
            // padding: 2rem 2rem 2rem 0;
        }
    }

    &__title {
        letter-spacing: .06rem;
        color: var(--color-black);
    }

    &__description {
        margin-top: 2rem;
        margin-bottom: 2rem;
        color: var(--color-black);
    }

    &__img-container {
        height: 200px;
    }

    &__img {
        width: 100%;
        // height: 100%;
        // max-height: 200px;
        object-fit: cover;
        object-position: center center;
    }
}