.element-page {
    &__heading {
        margin: 2rem auto;
        text-align: center;
    }

    &__subheading {
        margin: 2rem auto;
        text-align: center;
    }

    &__container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
    }
}