<!-- Start Contact Form -->
<div class="contact-form">
    <div class="contact-form__container">
        <h2 class="contact-form__heading">Send a message</h2>
        <div class="contact-form__form">
            <div class="contact-form__field text-field">
                <input type="text" name="contact-form" id="contact-form-name"
                    class="text-field__input" placeholder="" />
                <label for="contact-form-name" class="text-field__label">Name*</label>
            </div>
            <div class="contact-form__field text-field">
                <input type="email" name="contact-form" id="contact-form-email"
                    class="text-field__input" placeholder="" />
                <label for="contact-form-email" class="text-field__label">Email*</label>
            </div>
            <div class="contact-form__field text-field">
                <input type="tel" name="contact-form" id="contact-form-phone"
                    class="text-field__input" placeholder="" />
                <label for="contact-form-phone" class="text-field__label">Phone Number</label>
            </div>
            <div class="contact-form__field text-field">
                <textarea name="contact-form" id="contact-form-message"
                    class="text-field__input contact-form__textarea"></textarea>
                <label for="contact-form-message" class="text-field__label">Message*</label>
            </div>

            <a href="#" class="contact-form__submit-btn contact-form__submit-btn--opacity-decrease">
                <i class="fas fa-chevron-left"></i>
                <span>Send</span>
                <i class="fas fa-chevron-right"></i>
            </a>
        </div>
    </div>
</div>
<!-- End Contact Form -->