<!-- Start Account -->
<div class="account">
    <div class="container">
        <h1 class="account__title">Account</h1>
        <a href="/pages/login.html" class="account__logout-btn account__logout-btn--underline">
            <i class="fas fa-chevron-left"></i>
            <span>Log out</span>
            <i class="fas fa-chevron-right"></i>
        </a>

        <div class="addresses">
            <h2>Your Address</h2>
            <div class="addresses__address">
                <table>
                    <tr>
                        <td>Name</td>
                        <td>Billy Bob</td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td>74 South Temple Rd.</td>
                    </tr>
                    <tr>
                        <td>City</td>
                        <td>Warren</td>
                    </tr>
                    <tr>
                        <td>State</td>
                        <td>MI</td>
                    </tr>
                    <tr>
                        <td>Postal Code</td>
                        <td>48089</td>
                    </tr>
                    <tr>
                        <td>Country</td>
                        <td>USA</td>
                    </tr>
                    <tr>
                        <td>Phone</td>
                        <td>555-555-5555</td>
                    </tr>
                </table>
            </div>
            <a href="/pages/addresses.html" class="account__addresses-btn account__addresses-btn--underline">
                <i class="fas fa-chevron-left"></i>
                <span>View all addresses (3)</span>
                <i class="fas fa-chevron-right"></i>
            </a>
        </div>
    </div>

    <!-- Start Order -->
    <div class="order">
        <div class="container">
            <h2 class="order__number">Order History</h2>

            <div class="order__details">
                <table>
                    <thead>
                        <tr class="order__headers">
                            <th class="order__header">Order</th>
                            <th class="order__header">Date</th>
                            <th class="order__header">Payment Status</th>
                            <th class="order__header">Fullfillment Status</th>
                            <th class="order__header">Total</th>
                        </tr>
                    </thead>
                    <tbody class="order__products">
                        <tr class="order__product">
                            <td>
                                <span class="before">Order</span>
                                <a href="/pages/order.html"><span class="value">#1234</span></a>
                            </td>
                            <td>
                                <span class="before">Date</span>
                                <span class="value">September 5, 2021</span>
                            </td>
                            <td>
                                <span class="before">Payment Status</span>
                                <span class="value">Paid</span>
                            </td>
                            <td>
                                <span class="before">Fullfillment Status</span>
                                <span class="value">Fulfilled</span>
                            </td>
                            <td>
                                <span class="before">Total</span>
                                <span class="value">$362.49</span>
                            </td>
                        </tr>
                        <tr class="order__product">
                            <td>
                                <span class="before">Order</span>
                                <a href="/pages/order.html"><span class="value">#420</span></a>
                            </td>
                            <td>
                                <span class="before">Date</span>
                                <span class="value">April 20, 2021</span>
                            </td>
                            <td>
                                <span class="before">Payment Status</span>
                                <span class="value">Paid</span>
                            </td>
                            <td>
                                <span class="before">Fullfillment Status</span>
                                <span class="value">Fulfilled</span>
                            </td>
                            <td>
                                <span class="before">Total</span>
                                <span class="value">$300.29</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <!-- End Order -->
</div>
<!-- End Account -->