.element{
    &__title,
    &__subtitle{
        margin: 2rem auto;
        text-align: center;
    }

    &__container{
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        margin: 2rem auto;
    }
}