<!-- Start Coming Soon -->
<div class="coming-soon">
    <div class="coming-soon__container container">
        <div class="coming-soon__logo-container">
            <img src="/demo-fashion/assets/logo-blue-black.png"  class="coming-soon__logo">
        </div>
        <h1 class="coming-soon__heading xl-heading">Coming Soon</h1>
        <p class="coming-soon__message">Be the first to know when we launch</p>
        <div class="text-field">
            <input type="email" name="" id="signup" class="text-field__input">
            <label for="signup" class="text-field__label">Email</label>
        </div>
        <a href="/demo-fashion/" class="coming-soon__btn btn btn--primary btn--grow">
            <i class="fas fa-chevron-left"></i>
            <span>Sign up</span>
            <i class="fas fa-chevron-right"></i>
        </a>

        <div class="coming-soon__social-icons">
            <a href="#" class="coming-soon__social-icon"><i class="fab fa-twitter"></i></a>
            <a href="#" class="coming-soon__social-icon"><i class="fab fa-facebook"></i></a>
            <a href="#" class="coming-soon__social-icon"><i class="fab fa-instagram"></i></a>
            <a href="#" class="coming-soon__social-icon"><i class="fab fa-pinterest"></i></a>
            <a href="#" class="coming-soon__social-icon"><i class="fab fa-youtube"></i></a>
        </div>
    </div>
</div>
<!-- End Coming Soon -->