<!-- Start Announcement -->
<div class="announcement">
    <div class="announcement__slide announcement__slide--active">
        <p>50% Off &amp; Free Shipping</p>
        <a href="/demo-fashion/pages/shop/collection.html">Details</a>
    </div>
    <div class="announcement__slide">
        <p>Latest Arrivals</p>
        <a href="/demo-fashion/pages/shop/collection.html">Details</a>
    </div>
    <div class="announcement__slide">
        <p>Season Sale</p>
        <a href="/demo-fashion/pages/shop/collection.html">Details</a>
    </div>
    <div class="announcement__indicators">
        <div class="announcement__indicator announcement__indicator--active"></div>
        <div class="announcement__indicator"></div>
        <div class="announcement__indicator"></div>
    </div>
    <i class="fas fa-times announcement__close-btn"></i>
</div>
<!-- End Announcement -->