<!-- Start Image With Text -->
<div class="image-with-text">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="image-with-text__img-container">
                    <img src="/assets/mic-3-c.png"
                        alt="" class="image-with-text__img" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="image-with-text__text-container">
                    <h2 class="image-with-text__heading">Find your voice</h2>
                    <p class="image-with-text__text">With this classic look and outstanding quality, you'll be sure to get the most out of your recording sessions.</p>
                    <a href="#" class="image-with-text__btn image-with-text__btn--grow">
                        <i class="fas fa-chevron-left"></i>
                        <span>Shop now</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Image With Text -->