<!-- Start Image With Text -->
<div class="image-with-text">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="image-with-text__img-container">
                    <img src="/assets/mic-3-c.png"
                        alt="" class="image-with-text__img" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="image-with-text__text-container">
                    <h2 class="image-with-text__heading">Image with text</h2>
                    <p class="image-with-text__text">Pair text with an image to focus on your chosen product,
                        collection, or blog post. Add details on availability, style, or even provide a review.</p>
                    <a href="#" class="image-with-text__btn image-with-text__btn--grow">
                        <i class="fas fa-chevron-left"></i>
                        <span>Button label</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Image With Text -->