<!-- Start Search -->
<div class="search">
    <div class="container">
        <div class="row">
            <div class="search__top">
                <h1 class="search__heading">Search</h1>

                <div class="search__field text-field">
                    <input type="text" id="search-input" class="text-field__input" placeholder=""
                        value="microphone" />
                    <label for="search-input" class="text-field__label">Search</label>
                </div>

                <p class="search__message">16 results found for &quot;microphone&quot;</p>
            </div>
        </div>

        <div class="search__row row">
            <div class="search__filters-container col-md-4 col-lg-3">
                <!-- Start Accordion -->
                <accordion-component class="search__filters" data-multiple="true">
                    <div class="accordion__item">
                        <h3 class="accordion__heading subheading">Size</h3>
                        <div class="accordion__content">
                            <ul class="search__filters-list">
                                <li class="search__filter">Small</li>
                                <li class="search__filter">Medium</li>
                                <li class="search__filter">Large</li>
                            </ul>
                        </div>
                    </div>

                    <div class="accordion__item">
                        <h3 class="accordion__heading subheading">Color</h3>
                        <div class="accordion__content">
                            <ul class="search__filters-list">
                                <li class="search__filter">Black</li>
                                <li class="search__filter">White</li>
                                <li class="search__filter">Chrome</li>
                            </ul>
                        </div>
                    </div>

                    <div class="accordion__item">
                        <h3 class="accordion__heading subheading">Sort</h3>
                        <div class="accordion__content">
                            <ul class="search__filters-list">
                                <li class="search__filter">Featured</li>
                                <li class="search__filter">Best Selling</li>
                                <li class="search__filter">Alphabetically, A to Z</li>
                                <li class="search__filter">Alphabetically, Z to A</li>
                                <li class="search__filter">Price, low to high</li>
                                <li class="search__filter">Price, high to low</li>
                            </ul>
                        </div>
                    </div>
                </accordion-component>
                <!-- End Accordion -->
            </div>

            <div class="search__results col-md-8 col-lg-9">
                <!-- Start Product Grid -->
                <div class="product-grid">
                    <div
                        class="product-grid__grid product-grid__grid--scale-image product-grid__grid--alternate-image row">
                        <a href="/pages/shop/product-on-sale.html"
                            class="product-grid__product product-grid__product--on-sale col-sm-6 col-md-4 col-lg-3">
                            <div class="product-grid__product-badge product-grid__product-badge--on-sale">
                                <span class="product-grid__product-badge-text">Sale</span>
                            </div>
                            <div class="product-grid__product-img-container">
                                <img src="/assets/mic-2-b.png" alt=""
                                    class="product-grid__product-img product-grid__product-img--primary" />
                                <img src="/assets/mic-2-a.png" alt=""
                                    class="product-grid__product-img product-grid__product-img--secondary" />
                            </div>
                            <div class="product-grid__product-info">
                                <p class="product-grid__product-vendor small">Vendor</p>
                                <span class="product-grid__product-title">Microphone
                                </span>
                                <div class="product-grid__product-prices">
                                    <span class="product-grid__product-compare-price">$299.00</span>
                                    <span class="product-grid__product-price">$99.00</span>
                                </div>
                            </div>
                        </a>

                        <a href="/pages/shop/product.html" class="product-grid__product col-sm-6 col-md-4 col-lg-3">

                            <div class="product-grid__product-img-container">
                                <img src="/assets/mic-8-a.png" alt=""
                                    class="product-grid__product-img product-grid__product-img--primary" />
                                <img src="/assets/mic-8-c.png" alt=""
                                    class="product-grid__product-img product-grid__product-img--secondary" />
                            </div>

                            <div class="product-grid__product-info">
                                <p class="product-grid__product-vendor small">Vendor</p>
                                <span class="product-grid__product-title">Microphone
                                </span>
                                <div class="product-grid__product-prices">
                                    <span class="product-grid__product-price">$99.00</span>
                                </div>
                            </div>
                        </a>

                        <a href="/pages/shop/product-sold-out.html"
                            class="product-grid__product product-grid__product--sold-out col-sm-6 col-md-4 col-lg-3">
                            <div class="product-grid__product-badge product-grid__product-badge--sold-out">
                                <span class="product-grid__product-badge-text">Sold Out</span>
                            </div>

                            <div class="product-grid__product-img-container">
                                <img src="/assets/mic-6-c.png" alt=""
                                    class="product-grid__product-img product-grid__product-img--primary" />
                                <img src="/assets/mic-6-d.png" alt=""
                                    class="product-grid__product-img product-grid__product-img--secondary" />
                            </div>

                            <div class="product-grid__product-info">
                                <p class="product-grid__product-vendor small">Vendor</p>
                                <span class="product-grid__product-title">Microphone
                                </span>
                                <div class="product-grid__product-prices">
                                    <span class="product-grid__product-price">$99.00</span>
                                </div>
                            </div>
                        </a>

                        <a href="/pages/shop/product.html" class="product-grid__product col-sm-6 col-md-4 col-lg-3">
                            <div class="product-grid__product-img-container">
                                <img src="/assets/mic-3-c.png" alt=""
                                    class="product-grid__product-img product-grid__product-img--primary" />
                                <img src="/assets/mic-3-e.png" alt=""
                                    class="product-grid__product-img product-grid__product-img--secondary" />
                            </div>

                            <div class="product-grid__product-info">
                                <p class="product-grid__product-vendor small">Vendor</p>
                                <span class="product-grid__product-title">Microphone
                                </span>
                                <div class="product-grid__product-prices">
                                    <span class="product-grid__product-price">$99.00</span>
                                </div>
                            </div>
                        </a>

                        <a href="/pages/shop/product-sold-out.html"
                            class="product-grid__product product-grid__product--sold-out col-sm-6 col-md-4 col-lg-3">
                            <div class="product-grid__product-badge product-grid__product-badge--sold-out">
                                <span class="product-grid__product-badge-text">Sold Out</span>
                            </div>

                            <div class="product-grid__product-img-container">
                                <img src="/assets/mic-9-c.png" alt=""
                                    class="product-grid__product-img product-grid__product-img--primary" />
                                <img src="/assets/mic-9-d.png" alt=""
                                    class="product-grid__product-img product-grid__product-img--secondary" />
                            </div>

                            <div class="product-grid__product-info">
                                <p class="product-grid__product-vendor small">Vendor</p>
                                <span class="product-grid__product-title">Microphone
                                </span>
                                <div class="product-grid__product-prices">
                                    <span class="product-grid__product-price">$99.00</span>
                                </div>
                            </div>
                        </a>

                        <a href="/pages/shop/product.html" class="product-grid__product col-sm-6 col-md-4 col-lg-3">
                            <div class="product-grid__product-img-container">
                                <img src="/assets/mic-7-b.png" alt=""
                                    class="product-grid__product-img product-grid__product-img--primary" />
                                <img src="/assets/mic-7-a.png" alt=""
                                    class="product-grid__product-img product-grid__product-img--secondary" />
                            </div>

                            <div class="product-grid__product-info">
                                <p class="product-grid__product-vendor small">Vendor</p>
                                <span class="product-grid__product-title">Microphone
                                </span>
                                <div class="product-grid__product-prices">
                                    <span class="product-grid__product-price">$99.00</span>
                                </div>
                            </div>
                        </a>

                        <a href="/pages/shop/product.html" class="product-grid__product col-sm-6 col-md-4 col-lg-3">
                            <div class="product-grid__product-img-container">
                                <img src="/assets/mic-10-b.png" alt=""
                                    class="product-grid__product-img product-grid__product-img--primary" />
                                <img src="/assets/mic-10-a.png" alt=""
                                    class="product-grid__product-img product-grid__product-img--secondary" />
                            </div>

                            <div class="product-grid__product-info">
                                <p class="product-grid__product-vendor small">Vendor</p>
                                <span class="product-grid__product-title">Microphone
                                </span>
                                <div class="product-grid__product-prices">
                                    <span class="product-grid__product-price">$99.00</span>
                                </div>
                            </div>
                        </a>

                        <a href="/pages/shop/product-on-sale.html"
                            class="product-grid__product product-grid__product--on-sale col-sm-6 col-md-4 col-lg-3">
                            <div class="product-grid__product-badge product-grid__product-badge--on-sale">
                                <span class="product-grid__product-badge-text">Sale</span>
                            </div>
                            <div class="product-grid__product-img-container">
                                <img src="/assets/mic-5-c.png" alt=""
                                    class="product-grid__product-img product-grid__product-img--primary" />
                                <img src="/assets/mic-5-b.png" alt=""
                                    class="product-grid__product-img product-grid__product-img--secondary" />
                            </div>
                            <div class="product-grid__product-info">
                                <p class="product-grid__product-vendor small">Vendor</p>
                                <span class="product-grid__product-title">Microphone
                                </span>
                                <div class="product-grid__product-prices">
                                    <span class="product-grid__product-compare-price">$299.00</span>
                                    <span class="product-grid__product-price">$99.00</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- End Product Grid -->
            </div>
        </div>

        <div class="search__pagination">
            <span class="search__page-number current-page">1</span>
            <span class="search__page-number">2</span>
            <i class="fas fa-chevron-right search__next"></i>
        </div>
    </div>
</div>
<!-- End Search -->