<!-- Start Register -->
<div class="reset-password">
    <div class="reset-password__container container">
        <h2 class="reset-password__heading heading">Reset Password</h2>

        <p class="reset-password__message">We will send you an email to reset your password</p>

        <div class="reset-password__form">
            <div class="text-field">
                <input type="email" id="reset-password-email" class="text-field__input" placeholder="" />
                <label for="reset-password-email" class="text-field__label">Email</label>
            </div>

            <div class="reset-password__buttons">
                <a href="/demo-electronics/pages/customer/login.html" class="btn btn--primary btn--opacity-decrease reset-password__submit">
                    <i class="fas fa-chevron-left"></i>
                    <span>Send</span>
                    <i class="fas fa-chevron-right"></i>
                </a>

                <a href="/demo-electronics/pages/customer/login.html" class="btn btn--primary btn--underline">
                    <i class="fas fa-chevron-left"></i>
                    <span>Cancel</span>
                    <i class="fas fa-chevron-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- End Register -->