<!-- Start Blog Posts -->
<div class="blog-posts">
    <div class="container">
        <h2 class="blog-posts__heading subheading">3 Post Blog</h2>

        <div class="blog-posts__posts blog-posts__posts--aligned-left row">
            <div class="blog-posts__post-container col-12 col-sm-6 col-lg-4">
                <div class="blog-posts__post">
                    <a href="/demo-electronics/pages/blog/article.html" class="blog-posts__post-featured-img-container">
                        <img src="/demo-electronics/assets/singing-4.png" alt="" class="blog-posts__post-featured-img" />
                    </a>
                    <h3 class="blog-posts__post-title">Post Title</h3>
                    <div class="blog-posts__post-date-and-author small">
                        <span class="blog-posts__post-date placeholder-date">Aug, 2021</span>
                        <span class="blog-posts__post-author blog-posts__post-author-with-date">John Doe</span>
                    </div>
                    <p class="blog-posts__post-excerpt">Tousled prism palo santo deep v, banjo austin farm-to-table
                        semiotics viral bushwick vice...</p>
                    <a href="/demo-electronics/pages/blog/article.html" class="btn btn--primary btn--underline btn--right-arrow">
                        <i class="fas fa-chevron-left"></i>
                        <span>Read more</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </div>
            </div>

            <div class="blog-posts__post-container col-12 col-sm-6 col-lg-4">
                <div class="blog-posts__post">
                    <a href="/demo-electronics/pages/blog/article.html" class="blog-posts__post-featured-img-container">
                        <img src="/demo-electronics/assets/singing-5.png" alt="" class="blog-posts__post-featured-img" />
                    </a>
                    <h3 class="blog-posts__post-title">Post Title</h3>
                    <div class="blog-posts__post-date-and-author small">
                        <span class="blog-posts__post-date placeholder-date">Aug, 2021</span>
                        <span class="blog-posts__post-author blog-posts__post-author-with-date">John Doe</span>
                    </div>
                    <p class="blog-posts__post-excerpt">Tousled prism palo santo deep v, banjo austin farm-to-table
                        semiotics viral bushwick vice...</p>
                    <a href="/demo-electronics/pages/blog/article.html" class="btn btn--primary btn--underline btn--right-arrow">
                        <i class="fas fa-chevron-left"></i>
                        <span>Read more</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </div>
            </div>

            <div class="blog-posts__post-container col-12 col-sm-6 col-lg-4">
                <div class="blog-posts__post">
                    <a href="/demo-electronics/pages/blog/article.html" class="blog-posts__post-featured-img-container">
                        <img src="/demo-electronics/assets/singing-6.png" alt="" class="blog-posts__post-featured-img" />
                    </a>
                    <h3 class="blog-posts__post-title">Post Title</h3>
                    <div class="blog-posts__post-date-and-author small">
                        <span class="blog-posts__post-date placeholder-date">Aug, 2021</span>
                        <span class="blog-posts__post-author blog-posts__post-author-with-date">John Doe</span>
                    </div>
                    <p class="blog-posts__post-excerpt">Tousled prism palo santo deep v, banjo austin farm-to-table
                        semiotics viral bushwick vice...</p>
                    <a href="/demo-electronics/pages/blog/article.html" class="btn btn--primary btn--underline btn--right-arrow">
                        <i class="fas fa-chevron-left"></i>
                        <span>Read more</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </div>
            </div>
        </div>

        <a href="/demo-electronics/pages/blog/blog.html" class="blog-posts__view-all btn btn--secondary btn--color-swap">
            <i class="fas fa-chevron-left"></i>
            <span>View All</span>
            <i class="fas fa-chevron-right"></i>
        </a>
    </div>
</div>
<!-- End Blog Posts -->