@use '../abstracts/' as a;

.collection-list{
    padding: 2rem 0;

    @include a.mq-min(768px){
        padding: 4rem 0;
    }
    &__heading{
        margin-bottom: 2rem;
    }
}
.featured-collection{
    position: relative;
    width: 100%;
    height: 100%;
    transition: all 300ms ease-in-out;
    
    &__container{
        position: relative;
        margin-bottom: 1.5rem;
        text-decoration: none;
        transition: all 300ms ease-in-out;
        &:hover, &:focus{
            .featured-collection{
                box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.23);
            }
            .featured-collection__img-overlay{
                background-color: rgba(0,0,0,0.8);
            }
            .featured-collection__img{
                transform: scale(1.06);
            }
        }
    }
    
    &__img-container{
        position: relative;
        width: 100%;
        padding-bottom: 100%;
        overflow: hidden;
    }
    &__img{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
        transition: all 300ms ease-in-out;
    }
    &__img-overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.4);  
    }
    &__title{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        padding: .5rem;
        z-index: 2;
        text-align: center;
        letter-spacing: 2px;
        color: var(--color-white);
        transition: all 300ms ease-in-out;
        font-family: var(--font-family-xl-heading);
        word-wrap: break-word;
    }
}