<!-- Start Checkout -->
<div class="checkout">
    <div class="container">
        <h1 class="checkout__heading heading">Checkout</h1>
        <div class="row">
            <div class="col-lg-8 checkout__info">
                <div class="checkout__row row">
                    <h2 class="checkout__subheading subheading">Contact information</h2>
                    <div class="text-field">
                        <input type="text" name="" id="contact-info" class="text-field__input" placeholder="" />
                        <label for="contact-info" class="text-field__label">Email or phone number*</label>
                    </div>
                    <div class="checkout__news">
                        <input type="checkbox" name="offers" id="offers">
                        <label for="offers">Keep me up to date on news and offers</label>
                    </div>
                </div>
                <div class="checkout__row row">
                    <h2 class="checkout__subheading subheading">Shipping address</h2>
                    <div class="col-sm-6">
                        <div class="text-field">
                            <input type="text" name="" id="first-name" class="text-field__input" placeholder="" />
                            <label for="first-name" class="text-field__label">First name*</label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="text-field">
                            <input type="text" name="" id="last-name" class="text-field__input" placeholder="" />
                            <label for="last-name" class="text-field__label">Last name*</label>
                        </div>
                    </div>
                </div>
                <div class="checkout__row row">
                    <div class="text-field">
                        <input type="text" name="" id="address" class="text-field__input" placeholder="" />
                        <label for="address" class="text-field__label">Address*</label>
                    </div>
                </div>
                <div class="checkout__row row">
                    <div class="text-field">
                        <input type="text" name="" id="address-2" class="text-field__input" placeholder="" />
                        <label for="address-2" class="text-field__label">Apartment, suite, etc.</label>
                    </div>
                </div>
                <div class="checkout__row row">
                    <div class="text-field">
                        <input type="text" name="" id="city" class="text-field__input" placeholder="" />
                        <label for="city" class="text-field__label">City*</label>
                    </div>
                </div>
                <div class="checkout__row row">
                    <div class="col-md-4">
                        <div class="text-field">
                            <input type="text" name="" id="country" class="text-field__input" placeholder="" />
                            <label for="country" class="text-field__label">Country*</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="text-field">
                            <input type="text" name="" id="state" class="text-field__input" placeholder="" />
                            <label for="state" class="text-field__label">State*</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="text-field">
                            <input type="text" name="" id="postal-code" class="text-field__input" placeholder="" />
                            <label for="postal-code" class="text-field__label">Postal code*</label>
                        </div>
                    </div>
                </div>

                <div class="checkout__radio">
                    <input type="radio" name="billing-address" id="same-address" checked>
                    <label for="same-address">Billing address same as shipping</label>
                </div>
                <div class="checkout__radio">
                    <input type="radio" name="billing-address" id="different-address">
                    <label for="different-address">Use a different billing address</label>
                </div>
            </div>
            <!-- Start Order -->
            <div class="col-lg-4">
                <div class="">
                    <div class="checkout__order">
                        <h2 class="checkout__order-heading subheading">Your Order</h2>
                        <div class="checkout__product">
                            <div class="checkout__product-row">
                                <span class="checkout__product-header">Product</span>
                                <span class="checkout__product-value">Knit Dress</span>
                            </div>
                            <div class="checkout__product-row">
                                <span class="checkout__product-header">SKU</span>
                                <span class="checkout__product-value">123</span>
                            </div>
                            <div class="checkout__product-row">
                                <span class="checkout__product-header">Price</span>
                                <span class="checkout__product-value">$39.99</span>
                            </div>
                            <div class="checkout__product-row">
                                <span class="checkout__product-header">Quantity</span>
                                <span class="checkout__product-value">1</span>
                            </div>
                            <div class="checkout__product-row">
                                <span class="checkout__product-header">Total</span>
                                <span class="checkout__product-value">$39.99</span>
                            </div>
                        </div>

                        <div class="checkout__product">
                            <div class="checkout__product-row">
                                <span class="checkout__product-header">Product</span>
                                <span class="checkout__product-value">Fur Coat</span>
                            </div>
                            <div class="checkout__product-row">
                                <span class="checkout__product-header">SKU</span>
                                <span class="checkout__product-value">456</span>
                            </div>
                            <div class="checkout__product-row">
                                <span class="checkout__product-header">Price</span>
                                <span class="checkout__product-value">$99.99</span>
                            </div>
                            <div class="checkout__product-row">
                                <span class="checkout__product-header">Quantity</span>
                                <span class="checkout__product-value">1</span>
                            </div>
                            <div class="checkout__product-row">
                                <span class="checkout__product-header">Total</span>
                                <span class="checkout__product-value">$99.99</span>
                            </div>
                        </div>

                        <div class="checkout__totals">
                            <div class="checkout__totals-row">
                                <span class="checkout__totals-header">Subtotal</span>
                                <span class="checkout__totals-value">$139.98</span>
                            </div>
                            <div class="checkout__totals-row">
                                <span class="checkout__totals-header">Shipping (Free)</span>
                                <span class="checkout__totals-value">$0.00</span>
                            </div>
                            <div class="checkout__totals-row checkout__total">
                                <span class="checkout__totals-header subheading">Total</span>
                                <span class="checkout__totals-value subheading">$139.98</span>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="/pages/customer/order.html" class="checkout__submit btn btn--primary btn--color-swap">
                    <i class="fas fa-chevron-left"></i>
                    <span>Pay now</span>
                    <i class="fas fa-chevron-right"></i>
                </a>
            </div>
            <!-- End Order -->
        </div>
    </div>
</div>
<!-- End Chechout -->